@using System.Linq;
@using static Assessments.Web.Infrastructure.FilterHelpers

@model AlienSpeciesListViewModel;

@{
    var startHit = Model.Results?.PageNumber * 25 - 24 ?? 0;
    var endHit = startHit + Model.Results?.Count - 1 ?? 0;
    var totalCount = Model.Results?.TotalItemCount.ToString("N0") ?? string.Empty;

    var AllAreas = new Areas().AlienSpecies2023Areas();
    var AllCategories = new Categories().AlienSpecies2023Categories();
    var AllCategoriesChanged = new CategoryChange().AlienSpecies2023CategoryChanged();
    var AllClimateEffects = new ClimateEffects().AlienSpecies2023ClimateEffects();
    var AllDeciciveCriterias = new DeciciveCriteria().AlienSpecies2023DeciciveCriteria();
    var AllEcologicalEffects = new Categories().AlienSpecies2023EcologicalEffect();
    var AllEnvironments = new Environments().AlienSpecies2023Environment();
    var AllGeographicVariation = new GeographicVariation().AlienSpecies2023GeographicVariation();
    var AllInvasionPotentials = new Categories().AlienSpecies2023InvasionPotential();
    var AllNatureTypes = new NatureTypes().AlienSpecies2023NatureTypes();
    var AllNotAssessed = new NotAssessed().AlienSpecies2023NotAssessed();
    var AllProductionSpecies = new ProductionSpecies().AlienSpecies2023ProductionSpecies();
    var AllRegionallyAlien = new RegionallyAlien().AlienSpecies2023RegionallyAlien();
    var AllRegions = new Regions().AlienSpecies2023Regions();
    var AllSpeciesGroups = new SpeciesGroups().AlienSpecies2023SpeciesGroups();
    var AllSpeciesStatus = new SpeciesStatus().AlienSpecies2023SpeciesStatus();
    var AllSpreadWays = new SpreadWays().AlienSpecies2023SpreadWays();
    var AllTaxonRanks = new TaxonRank().AlienSpecies2023TaxonRanks();

    ControlButtonsViewModel controlButtonsViewModel = new ControlButtonsViewModel
    {
        View = Model.View,
        ItemCount = Model.Results?.TotalItemCount ?? 0,
    };
}

@functions{
    void InputTag(string id, string className, string name, string[] elements, string value)
    {
        if (id == "remember_scroll")
        {
            foreach (var item in elements)
                if (item.Contains("scroll_"))
                    value = item.Replace("scroll_", "");
        }
        id = id.Replace(" ", "_");
        <input id="@id" type="checkbox" class="@className" name=@name value="@value" @(elements.Contains(value) ? " checked=checked" : String.Empty)>
    }

    void MakeCheckBoxLi(string value, string label, string name, string[] model, string labelClassName, string inputClassName)
    {        
        string id = value.Replace(" ", "_");
        <li class="checkbox">
            <label for="@(id + name)" class="@labelClassName">
                @{
                    InputTag(id + name, $"{inputClassName} submitOnclick", name, model, value);
                }
                <span class="label_text">@label</span>
            </label>
        </li>
    }

    void MakeFilterElement(string buttonText, string filterName, string buttonname)
    {
        string action = $"show_{filterName.ToLower()}";
        string id = $"list_header_{filterName.ToLower()}";

        InputTag(action, "collapse_checkbox", "IsCheck", Model.IsCheck, filterName);
        <button name="@buttonname" class="list_header" id="@id" onclick="collapse('@action')" type="button">
                    @buttonText
            <span class="filternumber">@GetActiveFilters(filterName, Model)</span>
        </button>
    }

    void MakeFilterGroup(string filterName, string modelName, bool isSubGroup, string[] filterModel, FilterAndMetaData filterItems, string buttonText, string buttonName, string outerClassName)
    {
        string className = isSubGroup ? $"filter_subgroup filter_{filterName.ToLower()}" : $"filter_{filterName.ToLower()}";

        <li class="filter_group">
            @{
                MakeFilterElement(buttonText, filterName, buttonName);
            }
            <div class=@className>
                @{
                    if (!string.IsNullOrEmpty(filterItems.FilterDescription))
                        {
                            <div class="filter_info_text">@filterItems.FilterDescription</div>
                        }
                }
                <ul>
                    @{
                        string label;
                        string value;
                        string markAllClassName = "mark_all";

                        if (filterItems.Filters.Length > 4)
                            MakeCheckBoxLi(filterName, new Constants.SearchAndFiltersAlienSpecies().ChooseAll, modelName, filterModel, markAllClassName, outerClassName);

                        foreach (var el in filterItems.Filters)
                        {
                            value = el.NameShort;
                            label = filterName == nameof(Model.Category) ? $"{el.NameShort} - {el.Description}" : el.Name;
                            string extraOuterClassName = $"{outerClassName} {filterName}_input";
                            if (el.SubGroup != null)
                            {
                                MakeFilterGroup(el.NameShort, modelName, true, filterModel, el.SubGroup, el.Name, $"{el.Name}filtre", extraOuterClassName);
                            }
                            else
                            {
                                MakeCheckBoxLi(value, label, modelName, filterModel, string.Empty, extraOuterClassName);
                            }
                        }
                    }
                </ul>
            </div>
        </li>
    }

    void MakeFilterGroup(string filterName, string[] filterModel, FilterAndMetaData filterItems)
    {
        MakeFilterGroup(filterName, filterName, false, filterModel, filterItems, filterItems.FilterButtonText, filterItems.FilterButtonName, string.Empty);
    }

    void RenderChip(string buttontext, string targetId)
    {
        <li class="chips">
        <span class="chips-text">@buttontext</span>
            <button class="text-button chips-close-button btn icon-button" onclick="submitClickedElement('@targetId')" type="submit">
                <span class="material-icons ">close</span>
            </button>
        </li>
    }

    void MakeFilterChips(string[] filterModel, FilterItem[] filterItems, string filterGroupName)
    {
        foreach (var filter in filterModel)
        {
            string buttonText = AlienSpeciesFilterHelpers.GetChipText(filter, filterItems);
            string targetId = filter + filterGroupName;
            if (!string.IsNullOrEmpty(buttonText))
                RenderChip(buttonText, targetId);
        }
    }
}

<!--- # of hits in search and their corresponding filter-chips -->
<div class="empty_filters">
    <p class="hit_count_text">
        <span class="searchstring">
            @if (GetActiveSelectionCount(Model) != 0
|| !string.IsNullOrEmpty(GetActiveSelection(Model)))
            {
                <span>
                    @if (!string.IsNullOrEmpty(GetActiveSelection(Model)))
                    {
                        string searchstring = "Viser treff for " + '"' + @GetActiveSelection(Model) + '"';
                        <span>@searchstring</span>
                        <a href="@Context.Request.QueryString.RemoveParameters(new[] { nameof(AlienSpeciesListParameters.Name), "Page" })" class="button tinybutton tertiary search_related">
                            <span class="material-icons">close</span>Fjern søk
                        </a>
                    }
                </span>
                <div class="filterbox">
                    <ul>
                        @if (GetActiveSelectionCount(Model) > 0)
                        {
                            MakeFilterChips(Model.Area, AllAreas.Filters, nameof(Model.Area));
                            MakeFilterChips(Model.Category, AllCategories.Filters, nameof(Model.Category));
                            MakeFilterChips(Model.CategoryChanged, AllCategoriesChanged.Filters, nameof(Model.CategoryChanged));
                            MakeFilterChips(Model.InvasionPotential, AllInvasionPotentials.Filters, nameof(Model.InvasionPotential));
                            MakeFilterChips(Model.NatureTypes, AllNatureTypes.Filters, nameof(Model.NatureTypes));
                            MakeFilterChips(Model.EcologicalEffect, AllEcologicalEffects.Filters, nameof(Model.EcologicalEffect));
                            MakeFilterChips(Model.Environment, AllEnvironments.Filters, nameof(Model.Environment));
                            MakeFilterChips(Model.DecisiveCriterias, AllDeciciveCriterias.Filters, nameof(Model.DecisiveCriterias));
                            MakeFilterChips(Model.SpeciesStatus, AllSpeciesStatus.Filters, nameof(Model.SpeciesStatus));
                            MakeFilterChips(Model.ProductionSpecies, AllProductionSpecies.Filters, nameof(Model.ProductionSpecies));
                            MakeFilterChips(Model.NotAssessed, AllNotAssessed.Filters, nameof(Model.NotAssessed));
                            MakeFilterChips(Model.RegionallyAlien, AllRegionallyAlien.Filters, nameof(Model.RegionallyAlien));
                            MakeFilterChips(Model.SpeciesGroups, AllSpeciesGroups.Filters, nameof(Model.SpeciesGroups));
                            MakeFilterChips(Model.GeographicVariations, AllGeographicVariation.Filters, nameof(Model.GeographicVariations));
                            MakeFilterChips(Model.ClimateEffects, AllClimateEffects.Filters, nameof(Model.ClimateEffects));
                            MakeFilterChips(Model.SpreadWays, AllSpreadWays.Filters, nameof(Model.SpreadWays));
                            MakeFilterChips(Model.TaxonRank, AllTaxonRanks.Filters, nameof(Model.TaxonRank));
                            MakeFilterChips(Model.Regions, AllRegions.Filters, nameof(Model.Regions));
                        }
                    </ul>
                    <a is-visible="@GetActiveSelectionCount(Model) > 1" href="@Context.Request.QueryString.RemoveParameters(Model.FilterParameters.Concat(new [] {"Page"}))" class="button tinybutton tertiary search_related">
                        <span class="material-icons">close</span>Fjern alle filter
                    </a>
                </div>
            }
        </span>
    </p>
</div>

<!-- CONTROL BUTTONS and toggles-->
<div class="controls">
    <span class="desktop_hide hit-counter">Viser treff @startHit - @endHit av @totalCount</span>
    <span class="desktop_hide">Sorter etter: </span>
    <div class="list_control_buttons">
        <button class="adb-button toggle_filter only_mobile list_actions no_js ghost" id="open_filter" value="open_filters" name="Åpne filter" type="button" onclick="openFilters()">
            @if (GetActiveSelectionCount(Model) != 0)
            {
                <span class="filternumber">@GetActiveSelectionCount(Model)</span>
            }
            <span class="material-icons">filter_list</span>Filter
        </button>

        @if (Model.View != "stat")
        {
            <span class="mobile_hide hit-counter">Viser @startHit til @endHit av totalt @totalCount treff.</span>
            <span class="mobile_hide">Sorter etter: </span>
            <select asp-for="SortBy" id="sort_results" class="sort_by list_actions" onchange="this.form.submit()">
                <option value="@nameof(AlienSpeciesAssessment2023.ScientificName)">Artsnavn</option>
                <option value="@nameof(AlienSpeciesAssessment2023.VernacularName)">Populærnavn</option>
                <option value="@nameof(AlienSpeciesAssessment2023.Category)">Kategori</option>
            </select>
        }
    </div>
    <partial name="/Views/Shared/_ControlButtons.cshtml" model="controlButtonsViewModel" />
</div>

<div class="listwrapper">
    <div class="filtercontainer">
        @{ InputTag("initial_check", "meta_checkbox", "Meta", Model.Meta, "Visited");}
        @{ InputTag("remember_scroll", "meta_checkbox", "Meta", Model.Meta, "0");}
        <!-- View controls -->
        <div id="filters" class="filteX no_js hide_on_smallscreen">
            <div id="filter_modal_background">
                <div id="filters_scrollable" class="filter_background">
                    <div class="filter_groups">
                        <partial name="/Views/Shared/_FilterHeader.cshtml" />
                        <div class="filter_scroll_area">
                            <ul>
                                @{
                                    MakeFilterGroup(nameof(Model.Area), Model.Area, AllAreas);
                                    MakeFilterGroup(nameof(Model.Category), Model.Category, AllCategories);
                                    MakeFilterGroup(nameof(Model.InvasionPotential), Model.InvasionPotential, AllInvasionPotentials);
                                    MakeFilterGroup(nameof(Model.EcologicalEffect), Model.EcologicalEffect, AllEcologicalEffects);
                                    MakeFilterGroup(nameof(Model.DecisiveCriterias), Model.DecisiveCriterias, AllDeciciveCriterias);
                                    MakeFilterGroup(nameof(Model.CategoryChanged), Model.CategoryChanged, AllCategoriesChanged);
                                    MakeFilterGroup(nameof(Model.GeographicVariations), Model.GeographicVariations, AllGeographicVariation);
                                    MakeFilterGroup(nameof(Model.ClimateEffects), Model.ClimateEffects, AllClimateEffects);
                                    MakeFilterGroup(nameof(Model.SpeciesStatus), Model.SpeciesStatus, AllSpeciesStatus);
                                    MakeFilterGroup(nameof(Model.ProductionSpecies), Model.ProductionSpecies, AllProductionSpecies);
                                    MakeFilterGroup(nameof(Model.SpeciesGroups), Model.SpeciesGroups, AllSpeciesGroups);
                                    MakeFilterGroup(nameof(Model.TaxonRank), Model.TaxonRank, AllTaxonRanks);
                                    MakeFilterGroup(nameof(Model.Regions), Model.Regions, AllRegions);
                                    MakeFilterGroup(nameof(Model.Environment), Model.Environment, AllEnvironments);
                                    MakeFilterGroup(nameof(Model.NatureTypes), Model.NatureTypes, AllNatureTypes);
                                    MakeFilterGroup(nameof(Model.SpreadWays), Model.SpreadWays, AllSpreadWays);
                                    MakeFilterGroup(nameof(Model.RegionallyAlien), Model.RegionallyAlien, AllRegionallyAlien);
                                    MakeFilterGroup(nameof(Model.NotAssessed), Model.NotAssessed, AllNotAssessed);
                                }
                            </ul>
                        </div>
                        <partial name="/Views/Shared/_FilterMobileButtons.cshtml" view-data="ViewData" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <partial name="/Views/AlienSpecies/2023/ListPartials/_View.cshtml" />
</div>
