@model AttachmentViewModel;

<div class="page_section_header">
    <h2 id="@nameof(Constants.HeadingsNo.Attachments)">@Constants.HeadingsNo.Attachments</h2>
</div>
<table class="big-data-table">
    <caption class="table-title">
        <b>@Constants.AlienSpeciesTables.AttachmentsTableTitle</b>
        @Constants.AlienSpeciesTables.AttachmentsTableDescription 
    </caption>
    <tr>
        <th>@Constants.AlienSpeciesTables.AttachmentsTableColumn1</th>
        <th>@Constants.AlienSpeciesTables.AttachmentsTableColumn2</th>
        <th>@Constants.AlienSpeciesTables.AttachmentsTableColumn3</th>
    </tr>
    @foreach (var attachment in Model.Attachments)
    {
        <tr>
            <td>@attachment.FileName</td>
            <td>@Html.Raw(attachment.Description)</td>
            <td>
                <a asp-controller="AlienSpecies"  asp-action="Attachment"  asp-route-attachmentId="@attachment.Id" target="_blank">
                    Last ned
                </a>
            </td>
        </tr>
    }
</table>
