@model AlienSpeciesDetailViewModel;
@using Assessments.Mapping.AlienSpecies.Model.Enums;

@{
    var showPage = Model.Assessment.Category != AlienSpeciesAssessment2023Category.NR && Model.Assessment.AlienSpeciesCategory != AlienSpeciecAssessment2023AlienSpeciesCategory.TaxonEvaluatedAtAnotherLevel;
}

<div class="page_section" is-visible="@showPage">
    @{
        var hasClimateEffectsInvasionpotential = Model.Assessment.RiskAssessmentClimateEffectsInvasionpotential == true;   
        var hasClimateEffectsEcoEffect = Model.Assessment.RiskAssessmentClimateEffectsEcoEffect == true;   
        var hasRiskAssessmentClimateEffectsDocumentation = Model.Assessment.RiskAssessmentClimateEffectsDocumentation != "";
    }
    <h2 id="ClimateEffectsInvationpotential">
        @Constants.HeadingsNO["ClimateEffectsInvationpotential"]
    </h2>

    <div is-visible="hasClimateEffectsInvasionpotential == hasClimateEffectsEcoEffect">
        <p is-visible="!hasClimateEffectsInvasionpotential">
            @Constants.ClimateEffectExplanationNeither
            @Constants.ClimateEffectExplanationEnding
        </p>
        <p is-visible="hasClimateEffectsInvasionpotential">
           @Constants.ClimateEffectExplanationBoth
           @Constants.ClimateEffectExplanationEnding      
         </p>
    </div>

    <div is-visible="hasClimateEffectsInvasionpotential != hasClimateEffectsEcoEffect">
        <p>
            @Constants.ClimateEffectExplanationInvationPotential 
            <span is-visible="!hasClimateEffectsInvasionpotential"><i>ikke </i></span>
            @Constants.ClimateEffectExplanationEnding
        </p>
        <p>
            @Constants.ClimateEffectExplanationEcoEffect 
            <span is-visible="!hasClimateEffectsEcoEffect"><i>ikke </i></span>
            @Constants.ClimateEffectExplanationEnding
        </p>
    </div>        
                            
    <div is-visible="(hasClimateEffectsInvasionpotential || hasClimateEffectsEcoEffect) && hasRiskAssessmentClimateEffectsDocumentation">
        <h3>Betydningen av klimaendringer:</h3>
        <p>@Model.Assessment.RiskAssessmentClimateEffectsDocumentation</p>
    </div>
</div>
