@model AlienSpeciesDetailViewModel;
@using Assessments.Mapping.AlienSpecies.Model.Enums;

@{
    var showPage = Model.Assessment.Category != AlienSpeciesAssessment2023Category.NR;
    var natureTypes = Model.Assessment.ImpactedNatureTypes;
    var isSvalbard = Model.Assessment.EvaluationContext == AlienSpeciesAssessment2023EvaluationContext.S;
}

<div is-visible="showPage" class="page_section">
    <div id="show_category_changed" class="collapsible initially_closed">
        <div class="collapsible_header">
            <h2>Naturtypetilhørighet</h2>
            <button class="hide" onclick="toggleCollapsible(this)">
                <span class="material-icons expanded_icon">expand_less</span>
                <span class="material-icons collapsed_icon">expand_more</span>
            </button>
        </div>
        <div class="collapsible_content">
            <p is-visible="isSvalbard">
                Naturtyper arten er observert i og/eller som er potensielle habitater for arten på Svalbard. Hvis arten fører til endringer i naturtypen er det angitt.
            </p>
            <p is-visible="!isSvalbard">
                Naturtyper arten er observert i og/eller som er potensielle habitater for arten i Norge. Hvis arten fører til endringer i naturtypen er det angitt.
            </p>
            <p class="big-data-table table-description"><b>Tabell over valgte truede, sjeldne og øvrige naturtyper </b>
                Oversikten viser anslått kolonisert areal (C-kriteriet) i de naturtypene arten er 
                observert i eller regnes med å observeres i innen 50 år eller 5 generasjoner 
                (det av tallene som er størst), samt artens (eventuelt framtidige) påvirkning i 
                naturtypen og anslått andel av naturtypens areal som blir eller vil bli påvirket 
                (F- og G-kriteriet).
            </p>
            <table class="big-data-table">
                <tr>
                    <th>naturtype</th>
                    <th>tidshorisont</th>
                    <th>kolonisert <br />areal (%)</th>
                    <th>tydelig <br />tilstandsendring</th>
                    <th>tydelig <br />påvirka <br />areal (%)</th>
                    <th>vurderingsgrunnlag</th>
                </tr>
                @{
                foreach (var natureType in natureTypes)
                {
                <tr>
                    <td><b class="only_mobile">naturtype:</b>@natureType.Name</td>
                    <td><b class="only_mobile">tidshorisont:</b>@natureType.TimeHorizon.DisplayName()</td>
                    <td><b class="only_mobile">kolonisert areal (%):</b>@natureType.ColonizedArea</td>
                    <td><b class="only_mobile">tydelig tilstandsendring:</b>
                    @{ 
                        if(natureType.StateChange != null)
                        { 
                            <ul>
                            @{
                                foreach (var state in natureType.StateChange)
                                {<li>@state.DisplayName()</li>}
                            }
                            </ul>
                        }
                    }
                    </td>
                    <td><b class="only_mobile">tydelig påvirka areal (%):</b>@natureType.AffectedArea</td>
                    <td><b class="only_mobile">vurderingsgrunnlag:</b>
                    @{ 
                        if(natureType.Background != null)
                        { 
                            <ul>
                            @{
                                foreach (var bg in natureType.Background)
                                {<li>@bg.DisplayName()</li>}
                                }
                            </ul>
                        }
                    }
                    </td>
                </tr>
                }
                }
            </table>
        </div>
    </div>
</div>
