@model RegionalSpreadViewModel;
@using Assessments.Mapping.AlienSpecies.Model.Enums;
@using Assessments.Shared.Options
@using Microsoft.Extensions.Options

@inject IOptions<ApplicationOptions> Options

@{
    var evaluationContextText = Model.IsSvalbard ? "på Svalbard" : "i Norge";
    var isAlienSpecie = Model.AlienSpeciesCategory == AlienSpeciecAssessment2023AlienSpeciesCategory.AlienSpecie;
    var isRegionallyAlien = Model.AlienSpeciesCategory == AlienSpeciecAssessment2023AlienSpeciesCategory.RegionallyAlien;
    var isDoorKnocker = Model.AlienSpeciesCategory == AlienSpeciecAssessment2023AlienSpeciesCategory.DoorKnocker;
    var isEffectWithoutReproduction = Model.AlienSpeciesCategory == AlienSpeciecAssessment2023AlienSpeciesCategory.EffectWithoutReproduction;
    var isDoorKnockerOrEffectNoRep = isDoorKnocker || isEffectWithoutReproduction;
    var showInteractiveMap = isAlienSpecie && false; // TODO: switch false with has used artskart and downloaded a zip file
    var showCurrentPresenceComment = !string.IsNullOrEmpty(Model.CurrentPresenceComment);

    var hasWaterAreas = Model.FreshWaterRegionModel.IsWaterArea;
    var waterRegionsRegionallyAlien = Model.FreshWaterRegionModel.FreshWaterRegions?.Where(x => x.IsIncludedInAssessmentArea == true)?.GroupBy(x => x.WaterRegionName).Select(x => new AlienSpeciesAssessment2023FreshWaterRegion()
    {
        WaterRegionName = x.Key,
        IsKnown = x.Any(y => y.IsKnown == true),
        IsAssumedToday = x.Any(y => y.IsAssumedToday == true),
        IsAssumedInFuture = x.Any(y => y.IsAssumedInFuture == true),
        WaterAreas = x.ToList()
    }).OrderBy(x => x.WaterRegionName).ToList();

    var waterRegionsNaturalOccurence = Model.FreshWaterRegionModel.FreshWaterRegions?.Where(x => x.IsIncludedInAssessmentArea == false)?.GroupBy(x => x.WaterRegionName).Select(x => new AlienSpeciesAssessment2023FreshWaterRegion()
    {
        WaterRegionName = x.Key,
        IsKnown = x.Any(y => y.IsKnown == true),
        IsAssumedToday = x.Any(y => y.IsAssumedToday == true),
        IsAssumedInFuture = x.Any(y => y.IsAssumedInFuture == true),
        WaterAreas = x.ToList()
    }).OrderBy(x => x.WaterRegionName).ToList();

    var knownOrAssumedToday = new MapViewModel
            {
                FreshWaterRegions = Model.FreshWaterRegionModel.FreshWaterRegions.Where(x => x.IsKnown || x.IsAssumedToday).ToList(),
                FreshWaterNaturalOccurence = waterRegionsNaturalOccurence,
                MapName = "known_or_assumed_today",
                MapText = Constants.AlienSpecies2023KnownOrAssumedOccurrence,
                RegionOccurrences = Model.RegionOccurrences.Where(x => x.IsKnown == true || x.IsAssumedToday == true).ToList(),
                ShowLegend = !isDoorKnockerOrEffectNoRep
            };

    var isAssumedInFuture = new MapViewModel
            {
                FreshWaterRegions = Model.FreshWaterRegionModel.FreshWaterRegions.Where(x => x.IsAssumedInFuture).ToList(),
                FreshWaterNaturalOccurence = waterRegionsNaturalOccurence,
                MapName = "is_assumed_in_future",
                MapText = Constants.AlienSpecies2023AssumedInFutureOccurrence,
                RegionOccurrences = Model.RegionOccurrences.Where(x => x.IsAssumedInFuture == true).ToList(),
                ShowLegend = isDoorKnockerOrEffectNoRep
            };

    var hasKnownOrAssumedOccurrence = knownOrAssumedToday.RegionOccurrences.Count != 0 || isAssumedInFuture.RegionOccurrences.Count != 0;

    string GetWaterRegions(List<AlienSpeciesAssessment2023FreshWaterRegion> regions)
    {
        var regionText = string.Empty;

        for (var i = 0; i < regions.Count; i++)
        {
            if (i < regions.Count - 1)
                regionText += $"{regions[i].WaterRegionName}, ";
            if (i == regions.Count - 1)
                regionText += $"{regions[i].WaterRegionName}.";
        }
        return regionText;
    }
}

<div id="@nameof(Constants.HeadingsNo.RegionalSpread)">
    <div class="page_section_header">
        <h2>@( $"{Constants.HeadingsNo.RegionalSpread} {evaluationContextText}" )</h2>
    </div>
    
    <div id="domestic_spread">
        <div id="show_occurence_area">
            <h3>Forekomstareal</h3>
            <table class="numbers-table" is-visible="isAlienSpecie || isRegionallyAlien">
                <tr>
                    <th>Forekomstareal</th>
                    <th>I dag </th>
                    <th>Fremtidig (50 år) </th>
                </tr>
                <tr>
                    <td>Kjent  </td>
                    <td>@Model.AreaOfOccupancyKnown km<sup>2</sup></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Antatt lavt anslag</td>
                    <td>@Model.AreaOfOccupancyTotalLow km<sup>2</sup></td>
                    <td>@Model.AreaOfOccupancyFutureLow km<sup>2</sup></td>
                </tr>
                <tr>
                    <td>Antatt beste anslag</td>
                    <td>@Model.AreaOfOccupancyTotalBest km<sup>2</sup></td>
                    <td>@Model.AreaOfOccupancyFutureBest km<sup>2</sup></td>
                </tr>
                <tr>
                    <td>Antatt høyt anslag</td>
                    <td>@Model.AreaOfOccupancyTotalHigh km<sup>2</sup></td>
                    <td>@Model.AreaOfOccupancyFutureHigh km<sup>2</sup></td>
                </tr>
            </table>
            <p is-visible="@(!string.IsNullOrEmpty(Model.ArtskartObservationChangesDescription))">@Html.Raw(Model.ArtskartObservationChangesDescription)</p>
            <p is-visible="!Options.Value.AlienSpecies2023.IsHearing && (isAlienSpecie || isRegionallyAlien)">Andel av kjent forekomstareal i sterkt endra natur er på @Model.AreaOfOccupancyInStronglyAlteredEcosystems.DisplayName().</p>
            <div is-visible="@isAlienSpecie">
                <h3>Regionvis utbredelse</h3>
                <div is-visible="!Model.IsSvalbard && !isRegionallyAlien" class="map double_map">
                    <partial name="/Views/AlienSpecies/2023/AssessmentPartials/_Map2018.cshtml" model="knownOrAssumedToday" />
                    <partial name="/Views/AlienSpecies/2023/AssessmentPartials/_Map2018.cshtml" model="isAssumedInFuture" />
                </div>
            </div>
            <div is-visible="@isRegionallyAlien">
                <h3>Regionvis utbredelse</h3>
                <div is-visible="!Model.IsSvalbard && !Model.FreshWaterRegionModel.IsWaterArea" class="map double_map">
                    <partial name="/Views/AlienSpecies/2023/AssessmentPartials/_MapWaterRegions.cshtml" model="knownOrAssumedToday" />
                    <partial name="/Views/AlienSpecies/2023/AssessmentPartials/_MapWaterRegions.cshtml" model="isAssumedInFuture" />
                </div>
                <div is-visible="!Model.IsSvalbard && Model.FreshWaterRegionModel.IsWaterArea" class="map double_map">
                    <partial name="/Views/AlienSpecies/2023/AssessmentPartials/_MapWaterAreas.cshtml" model="knownOrAssumedToday" />
                    <partial name="/Views/AlienSpecies/2023/AssessmentPartials/_MapWaterAreas.cshtml" model="isAssumedInFuture" />
                </div>
            </div>
            <table class="numbers-table" is-visible="isDoorKnockerOrEffectNoRep">
                <tr>
                    <th>Antatt i løpet av en periode på 10 år</th>
                    <th>Antall forekomster fra én introduksjon  </th>
                    <th>Antall ytterligere introduksjoner til norsk natur </th>
                    <th>Forekomstareal etter 10 år </th>
                </tr>
                <tr>
                    <td>Lavt anslag</td>
                    <td>@Model.RiskAssessmentOccurrences1Low </td>
                    <td>@Model.RiskAssessmentIntroductionsLow </td>
                    <td>@Model.AreaOfOccupancyFutureLow  km<sup>2</sup></td>
                </tr>
                <tr>
                    <td>Beste anslag</td>
                    <td>@Model.RiskAssessmentOccurrences1Best </td>
                    <td>@Model.RiskAssessmentIntroductionsBest </td>
                    <td>@Model.AreaOfOccupancyFutureBest  km<sup>2</sup></td>
                </tr>
                <tr>
                    <td>Høyt anslag</td>
                    <td>@Model.RiskAssessmentOccurrences1High </td>
                    <td>@Model.RiskAssessmentIntroductionsHigh </td>
                    <td>@Model.AreaOfOccupancyFutureHigh km<sup>2</sup></td>
                </tr>
            </table>
            <p is-visible="!Options.Value.AlienSpecies2023.IsHearing && (isDoorKnocker || isEffectWithoutReproduction)">Andel av antatt forekomstareal i sterkt endra natur er på @Model.AreaOfOccupancyInStronglyAlteredEcosystems.DisplayName().</p>
            <div is-visible="@isDoorKnockerOrEffectNoRep">
                <h3>Regionvis utbredelse</h3>
                <p is-visible="!hasKnownOrAssumedOccurrence">Antatt utbredelse om 50 år: Ingen angitte områder.</p>
                <div is-visible="!Model.IsSvalbard && hasKnownOrAssumedOccurrence" class="map N">
                    <partial name="/Views/AlienSpecies/2023/AssessmentPartials/_Map2018.cshtml" model="isAssumedInFuture" />
                </div>
            </div>
            <div is-visible="showCurrentPresenceComment">
                <br/>
                <p>
                    @Html.Raw(Model.CurrentPresenceComment)
                </p>
            </div>
            <div is-visible="isRegionallyAlien">
                <table class="numbers-table">
                    <caption class="table-title">Vannregioner hvor arten har enten kjent utbredelse, antatt utbredelse i dag eller antatt utbredelse om 50 år.</caption>
                    <tbody>
                        <tr>
                            <td>Vannregion</td>
                            <td is-visible="hasWaterAreas">Vannområde</td>
                            <td>Kjent utbredelse</td>
                            <td>Antatt utbredelse i dag</td>
                            <td>Antatt utbredelse om 50 år</td>
                        </tr>
                        @foreach (var waterRegion in waterRegionsRegionallyAlien)
                        {
                            <tr>
                                <td>@waterRegion.WaterRegionName</td>
                                <td is-visible="hasWaterAreas">
                                    <span class="collapse_water_area water-area-hide">
                                        Utvid&nbsp;
                                        <button name="Ekspander @waterRegion.WaterRegionName" onclick="toggleTableRows('@( $"{waterRegion.WaterRegionName.Replace(" ", "_")} water-area")')">
                                            <span class="@waterRegion.WaterRegionName.Replace(" ", "_") material-icons expanded_icon water-area-hide">expand_less</span>
                                            <span class="@waterRegion.WaterRegionName.Replace(" ", "_") material-icons collapsed_icon">expand_more</span>
                                        </button>
                                    </span>
                                    <span class="collapse_water_area water-area-no-js">Alle vannområder</span>
                                </td>
                                <td>
                                    <span is-visible="waterRegion.IsKnown"><span class="material-icons success">done</span>Ja</span>
                                    <span is-visible="!waterRegion.IsKnown"><span class="material-icons error">close</span>Nei</span>
                                </td>
                                <td>
                                    <span is-visible="waterRegion.IsAssumedToday"><span class="material-icons success">done</span>Ja</span>
                                    <span is-visible="!waterRegion.IsAssumedToday"><span class="material-icons error">close</span>Nei</span>
                                </td>
                                <td>
                                    <span is-visible="waterRegion.IsAssumedInFuture"><span class="material-icons success">done</span>Ja</span>
                                    <span is-visible="!waterRegion.IsAssumedInFuture"><span class="material-icons error">close</span>Nei</span>
                                </td>
                            </tr>
                            foreach (var waterArea in waterRegion.WaterAreas)
                            {
                                <tr class="@waterRegion.WaterRegionName.Replace(" ", "_") water-area">
                                    <td>@waterArea.WaterRegionName</td>
                                    <td>@waterArea.Name</td>
                                    <td>
                                        <span is-visible="waterArea.IsKnown"><span class="material-icons success">done</span>Ja</span>
                                        <span is-visible="!waterArea.IsKnown"><span class="material-icons error">close</span>Nei</span>
                                    </td>
                                    <td>
                                        <span is-visible="waterArea.IsAssumedToday"><span class="material-icons success">done</span>Ja</span>
                                        <span is-visible="!waterArea.IsAssumedToday"><span class="material-icons error">close</span>Nei</span>
                                    </td>
                                    <td>
                                        <span is-visible="waterArea.IsAssumedInFuture"><span class="material-icons success">done</span>Ja</span>
                                        <span is-visible="!waterArea.IsAssumedInFuture"><span class="material-icons error">close</span>Nei</span>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                
                <p is-visible="hasWaterAreas">Arten har naturlig utbredelse i vannområder innenfor følgende vannregioner: @GetWaterRegions(waterRegionsNaturalOccurence)</p>
                <p is-visible="!hasWaterAreas">Artens naturlige utbredelse omfatter følgende vannregioner:  @GetWaterRegions(waterRegionsNaturalOccurence)</p>
            </div>
        </div>
    </div>
</div>