@model RegionalSpreadViewModel;
@using Assessments.Mapping.AlienSpecies.Model.Enums;

@{
    var evaluationContextText = Model.IsSvalbard ? "på Svalbard" : "i Norge";
    var isAlienSpecie = Model.AlienSpeciesCategory == AlienSpeciecAssessment2023AlienSpeciesCategory.AlienSpecie;
    var isRegionallyAlien = Model.AlienSpeciesCategory == AlienSpeciecAssessment2023AlienSpeciesCategory.RegionallyAlien;
    var isDoorKnocker = Model.AlienSpeciesCategory == AlienSpeciecAssessment2023AlienSpeciesCategory.DoorKnocker;
    var isEffectWithoutReproduction = Model.AlienSpeciesCategory == AlienSpeciecAssessment2023AlienSpeciesCategory.EffectWithoutReproduction;
    var isDoorKnockerOrEffectNoRep = isDoorKnocker || isEffectWithoutReproduction;
    var showInteractiveMap = isAlienSpecie && false; // TODO: switch false with has used artskart and downloaded a zip file
    var showCurrentPresenceComment = !string.IsNullOrEmpty(Model.CurrentPresenceComment);

    var knownOrAssumedToday = new MapViewModel
    {
        MapName = "known_or_assumed_today",
        MapText = Constants.AlienSpecies2023KnownOrAssumedOccurrence,
        RegionOccurrences = Model.RegionOccurrences.Where(x => x.IsKnown == true ||  x.IsAssumedToday == true).ToList()
    };

    var isAssumedInFuture = new MapViewModel
    {
        MapName = "is_assumed_in_future",
        MapText = Constants.AlienSpecies2023AssumedInFutureOccurrence,
        RegionOccurrences = Model.RegionOccurrences.Where(x => x.IsAssumedInFuture == true).ToList()
    };

    var waterRegionsRegionallyAlien = Model.FreshWaterRegionModel.FreshWaterRegions?.Where(x => x.IsIncludedInAssessmentArea == true)?.GroupBy(x => x.WaterRegionName).Select(x => new AlienSpeciesAssessment2023FreshWaterRegion()
    {
        WaterRegionName = x.Key,
        IsKnown = x.Any(y => y.IsKnown == true),
        IsAssumedToday = x.Any(y => y.IsAssumedToday == true),
        IsAssumedInFuture = x.Any(y => y.IsAssumedInFuture == true),
        WaterAreas = x.ToList()
    }).OrderBy(x => x.WaterRegionName).ToList();

    var waterRegionsNaturalOccurence = Model.FreshWaterRegionModel.FreshWaterRegions?.Where(x => x.IsIncludedInAssessmentArea == false)?.GroupBy(x => x.WaterRegionName).Select(x => new AlienSpeciesAssessment2023FreshWaterRegion()
    {
        WaterRegionName = x.Key,
        IsKnown = x.Any(y => y.IsKnown == true),
        IsAssumedToday = x.Any(y => y.IsAssumedToday == true),
        IsAssumedInFuture = x.Any(y => y.IsAssumedInFuture == true),
        WaterAreas = x.ToList()
    }).OrderBy(x => x.WaterRegionName).ToList();

    string GetWaterRegions(List<AlienSpeciesAssessment2023FreshWaterRegion> regions)
    {
        var regionText = string.Empty;

        for (var i = 0; i < regions.Count; i++)
        {
            if (i < regions.Count - 1)
                regionText += $"{regions[i].WaterRegionName}, ";
            if (i == regions.Count - 1)
                regionText += $"{regions[i].WaterRegionName}.";
        }
        return regionText;
    }
}

@*
This is the original code for Regional spread. We have removed the tabs for the innsight bacause the second tab has no content yet. Remove the bottom code and use the commented code when reverting to tabs yet again. 
Remember to also change the heading in constants by removing " i Norge" Also, the part with tables for regionally alien is not included in the commented part, it needs to be.
    
<div id="@nameof(Constants.HeadingsNo.RegionalSpread)">
    <div class="page_section_header">
        <h2>@Constants.HeadingsNo.RegionalSpread</h2>
        <a href="#@nameof(Constants.HeadingsNo.TableOfContents)">Tilbake til toppen</a>
    </div>
    <div class="only-tabs-inside">
        <button id="domestic_spread_button" class="changetab active" onclick="selectTab('domestic_spread_button', 'domestic_spread' , '@nameof(Constants.HeadingsNo.RegionalSpread)' )">Utbredelse @evaluationContextText</button>
        <button id="regional_nature_variation_button" class="changetab" onclick="selectTab('regional_nature_variation_button', 'regional_nature_variation' , '@nameof(Constants.HeadingsNo.RegionalSpread)' )">Regional naturvariasjon</button>
        <div class="tabbed_element_container assessment_tabs">
            <div id="domestic_spread">
                <div id="show_occurence_area" >                
                    <h3>Forekomstareal</h3>
                    <table class="numbers-table" is-visible="isAlienSpecie">
                        <tr>
                            <th>Forekomstareal</th>
                            <th>I dag </th>
                            <th>Fremtidig (50 år) </th>
                        </tr>
                        <tr>
                            <td>Kjent  </td>
                            <td>@Model.AreaOfOccupancyKnown km<sup>2</sup></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>Antatt lavt anslag</td> 
                            <td>@Model.AreaOfOccupancyTotalLow km<sup>2</sup></td>
                            <td>@Model.AreaOfOccupancyFutureLow km<sup>2</sup></td>
                        </tr>
                        <tr>
                            <td>Antatt beste anslag</td>
                            <td>@Model.AreaOfOccupancyTotalBest km<sup>2</sup></td>
                            <td>@Model.AreaOfOccupancyFutureBest km<sup>2</sup></td>
                        </tr>
                        <tr>
                            <td>Antatt høyt anslag</td>
                            <td>@Model.AreaOfOccupancyTotalHigh km<sup>2</sup></td>
                            <td>@Model.AreaOfOccupancyFutureHigh km<sup>2</sup></td>
                        </tr>
                    </table>
                    <div is-visible="@isAlienSpecie">
                        <h3>Regionvis utbredelse</h3>
                        <div is-visible="Model.IsSvalbard" class="map double_map">
                            <partial name="/Views/AlienSpecies/2023/AssessmentPartials/_MapSvalbard.cshtml" model="knownOrAssumedToday" />
                            <partial name="/Views/AlienSpecies/2023/AssessmentPartials/_MapSvalbard.cshtml" model="isAssumedInFuture"/>
                        </div>
                        <div is-visible="!Model.IsSvalbard" class="map double_map">
                            <partial name="/Views/AlienSpecies/2023/AssessmentPartials/_Map2018.cshtml" model="knownOrAssumedToday" />
                            <partial name="/Views/AlienSpecies/2023/AssessmentPartials/_Map2018.cshtml" model="isAssumedInFuture"/>
                        </div>
                    </div> 
                    <table class="numbers-table" is-visible="isDoorKnockerOrEffectNoRep">
                        <tr>
                            <th>Antatt i løpet av en periode på 10 år</th>
                            <th>Antall forekomster fra én introduksjon  </th>
                            <th>Antall ytterligere introduksjoner til norsk natur </th>
                            <th>Forekomstareal etter 10 år </th>
                        </tr>
                        <tr>
                            <td>Lavt anslag</td> 
                            <td>@Model.RiskAssessmentOccurrences1Low </td> 
                            <td>@Model.RiskAssessmentIntroductionsLow </td>
                            <td>@Model.AreaOfOccupancyFutureLow  km<sup>2</sup></td>
                        </tr>
                        <tr>
                            <td>Beste anslag</td>
                            <td>@Model.RiskAssessmentOccurrences1Best </td> 
                            <td>@Model.RiskAssessmentIntroductionsBest </td>
                            <td>@Model.AreaOfOccupancyFutureBest  km<sup>2</sup></td>
                        </tr>
                        <tr>
                            <td>Høyt anslag</td>
                            <td>@Model.RiskAssessmentOccurrences1High </td> 
                            <td>@Model.RiskAssessmentIntroductionsHigh </td>
                            <td>@Model.AreaOfOccupancyFutureHigh km<sup>2</sup></td>
                        </tr>
                    </table>
                    <div is-visible="@isDoorKnockerOrEffectNoRep">
                        <div is-visible="Model.IsSvalbard" class="map S">
                            <partial name="/Views/AlienSpecies/2023/AssessmentPartials/_MapSvalbard.cshtml" model="isAssumedInFuture"/>
                        </div>
                        <div is-visible="!Model.IsSvalbard" class="map N">
                            <partial name="/Views/AlienSpecies/2023/AssessmentPartials/_Map2018.cshtml" model="isAssumedInFuture"/>
                        </div> 
                    </div>
                    <div is-visible="showCurrentPresenceComment">
                        <br />
                        <p>
                            Grunnlaget for og/eller antagelsene bak anslagene på regionvis utbredelse og 
                            forekomstareal om 50 år: <br />
                            @Html.Raw(Model.CurrentPresenceComment)
                        </p>
                    </div>
                    @*<div is-visible="@showInteractiveMap"> // TODO: show interactive map here
                        Interaktivt kart
                    </div>   *@  @*           
                </div>
            </div>
            <div id="regional_nature_variation">
                <div>
                    Bioklimatiske soner og seksjoner hvor arten finnes i dag eller antas å kunne finnes i fremtiden (innen 50 år).
                </div>
            </div>
        </div>
    </div>
</div>*@

<div id="@nameof(Constants.HeadingsNo.RegionalSpread)">
    <div class="page_section_header">
        <h2>@Constants.HeadingsNo.RegionalSpread</h2>
        <a href="#@nameof(Constants.HeadingsNo.TableOfContents)">Tilbake til toppen</a>
    </div>
    
    <div id="domestic_spread">
        <div id="show_occurence_area">
            <h3>Forekomstareal</h3>
            <table class="numbers-table" is-visible="isAlienSpecie || isRegionallyAlien">
                <tr>
                    <th>Forekomstareal</th>
                    <th>I dag </th>
                    <th>Fremtidig (50 år) </th>
                </tr>
                <tr>
                    <td>Kjent  </td>
                    <td>@Model.AreaOfOccupancyKnown km<sup>2</sup></td>
                    <td></td>
                </tr>

                <tr>
                    <td>Antatt lavt anslag</td>
                    <td>@Model.AreaOfOccupancyTotalLow km<sup>2</sup></td>
                    <td>@Model.AreaOfOccupancyFutureLow km<sup>2</sup></td>
                </tr>
                <tr>
                    <td>Antatt beste anslag</td>
                    <td>@Model.AreaOfOccupancyTotalBest km<sup>2</sup></td>
                    <td>@Model.AreaOfOccupancyFutureBest km<sup>2</sup></td>
                </tr>
                <tr>
                    <td>Antatt høyt anslag</td>
                    <td>@Model.AreaOfOccupancyTotalHigh km<sup>2</sup></td>
                    <td>@Model.AreaOfOccupancyFutureHigh km<sup>2</sup></td>
                </tr>
            </table>
            <div is-visible="@isAlienSpecie">
                <h3>Regionvis utbredelse</h3>
                <div is-visible="Model.IsSvalbard" class="map double_map">
                    <partial name="/Views/AlienSpecies/2023/AssessmentPartials/_MapSvalbard.cshtml" model="knownOrAssumedToday" />
                    <partial name="/Views/AlienSpecies/2023/AssessmentPartials/_MapSvalbard.cshtml" model="isAssumedInFuture" />
                </div>
                <div is-visible="!Model.IsSvalbard" class="map double_map">
                    <partial name="/Views/AlienSpecies/2023/AssessmentPartials/_Map2018.cshtml" model="knownOrAssumedToday" />
                    <partial name="/Views/AlienSpecies/2023/AssessmentPartials/_Map2018.cshtml" model="isAssumedInFuture" />
                </div>
            </div>
            <table class="numbers-table" is-visible="isDoorKnockerOrEffectNoRep">
                <tr>
                    <th>Antatt i løpet av en periode på 10 år</th>
                    <th>Antall forekomster fra én introduksjon  </th>
                    <th>Antall ytterligere introduksjoner til norsk natur </th>
                    <th>Forekomstareal etter 10 år </th>
                </tr>
                <tr>
                    <td>Lavt anslag</td>
                    <td>@Model.RiskAssessmentOccurrences1Low </td>
                    <td>@Model.RiskAssessmentIntroductionsLow </td>
                    <td>@Model.AreaOfOccupancyFutureLow  km<sup>2</sup></td>
                </tr>
                <tr>
                    <td>Beste anslag</td>
                    <td>@Model.RiskAssessmentOccurrences1Best </td>
                    <td>@Model.RiskAssessmentIntroductionsBest </td>
                    <td>@Model.AreaOfOccupancyFutureBest  km<sup>2</sup></td>
                </tr>
                <tr>
                    <td>Høyt anslag</td>
                    <td>@Model.RiskAssessmentOccurrences1High </td>
                    <td>@Model.RiskAssessmentIntroductionsHigh </td>
                    <td>@Model.AreaOfOccupancyFutureHigh km<sup>2</sup></td>
                </tr>
            </table>
            <div is-visible="@isDoorKnockerOrEffectNoRep">
                <div is-visible="Model.IsSvalbard" class="map S">
                    <partial name="/Views/AlienSpecies/2023/AssessmentPartials/_MapSvalbard.cshtml" model="isAssumedInFuture" />
                </div>
                <div is-visible="!Model.IsSvalbard" class="map N">
                    <partial name="/Views/AlienSpecies/2023/AssessmentPartials/_Map2018.cshtml" model="isAssumedInFuture" />
                </div>
            </div>
            <div is-visible="showCurrentPresenceComment">
                <br />
                <p>
                    Grunnlaget for og/eller antagelsene bak anslagene på regionvis utbredelse og
                    forekomstareal om 50 år: <br />
                    @Html.Raw(Model.CurrentPresenceComment)
                </p>
            </div>
            <div is-visible="isRegionallyAlien">
                <table class="numbers-table">
                    <caption class="table-title">Vannregioner hvor arten har enten kjent utbredelse, antatt utbredelse i dag eller antatt utbredelse om 50 år.</caption>
                    <tbody>
                        <tr>
                            <td>Vannregion</td>
                            @*<td>Vannområde</td>*@
                            <td>Kjent utbredelse</td>
                            <td>Antatt utbredelse i dag</td>
                            <td>Antatt utbredelse om 50 år</td>
                        </tr>
                        @foreach (var waterRegion in waterRegionsRegionallyAlien)
                        {
                            <tr>
                                <td>@waterRegion.WaterRegionName</td>
                                @*<td>
                                    <span class="collapse_water_area">
                                        Utvid vannregionen
                                        <button onclick="toggleWaterArea(@waterRegion.WaterRegionName.Replace(" ", "_"))">
                                            <span class="material-icons expanded_icon">expand_less</span>
                                            <span class="material-icons collapsed_icon">expand_more</span>
                                        </button>
                                    </span>
                                </td>*@
                                <td>
                                    <span is-visible="waterRegion.IsKnown"><span class="material-icons success">done</span>Ja</span>
                                    <span is-visible="!waterRegion.IsKnown"><span class="material-icons error">close</span>Nei</span>
                                </td>
                                <td>
                                    <span is-visible="waterRegion.IsAssumedToday"><span class="material-icons success">done</span>Ja</span>
                                    <span is-visible="!waterRegion.IsAssumedToday"><span class="material-icons error">close</span>Nei</span>
                                </td>
                                <td>
                                    <span is-visible="waterRegion.IsAssumedInFuture"><span class="material-icons success">done</span>Ja</span>
                                    <span is-visible="!waterRegion.IsAssumedInFuture"><span class="material-icons error">close</span>Nei</span>
                                </td>
                            </tr>
                            @*foreach (var waterArea in waterRegion.WaterAreas)
                            {
                                <tr class="@waterRegion.WaterRegionName.Replace(" ", "_")">
                                    <td>@waterArea.WaterRegionName</td>
                                    <td>@waterArea.Name</td>
                                    <td>
                                        <span is-visible="waterArea.IsKnown"><span class="material-icons">check</span>Ja</span>
                                        <span is-visible="!waterArea.IsKnown">Nei</span>
                                    </td>
                                    <td>
                                        <span is-visible="waterArea.IsAssumedToday"><span class="material-icons">check</span>Ja</span>
                                        <span is-visible="!waterArea.IsAssumedToday">Nei</span>
                                    </td>
                                    <td>
                                        <span is-visible="waterArea.IsAssumedInFuture"><span class="material-icons">check</span>Ja</span>
                                        <span is-visible="!waterArea.IsAssumedInFuture">Nei</span>
                                    </td>
                                </tr>
                            }*@
                        }
                    </tbody>
                </table>
                
                <p is-visible="Model.FreshWaterRegionModel.IsWaterArea">Arten har naturlig utbredelse i vannområder innenfor følgende vannregioner: @GetWaterRegions(waterRegionsNaturalOccurence)</p>
                <p is-visible="!Model.FreshWaterRegionModel.IsWaterArea">Artens naturlige utbredelse omfatter følgende vannregioner:  @GetWaterRegions(waterRegionsNaturalOccurence)</p>
            </div>
        </div>
    </div>
</div>