@model AlienSpeciesDetailViewModel
@using Assessments.Mapping.AlienSpecies.Model.Enums

@{
    var showIsNk = Model.Assessment.Category == AlienSpeciesAssessment2023Category.NK;
    var showLowInvasionPotential = Model.Assessment.ScoreInvasionPotential == 1;
    var showHigherInvasionPotential = Model.Assessment.ScoreInvasionPotential > 1;
    var decisiveCriteriaHasA = Model.Assessment.DecisiveCriteria.Contains(nameof(AlienSpeciesAssessment2023CriteriaLetter.A));
    var decisiveCriteriaHasB = Model.Assessment.DecisiveCriteria.Contains(nameof(AlienSpeciesAssessment2023CriteriaLetter.B));
    var decisiveCriteriaHasC = Model.Assessment.DecisiveCriteria.Contains(nameof(AlienSpeciesAssessment2023CriteriaLetter.C));
    var uncertaintyA = Model.Assessment.Criteria.Where(x => x.CriteriaLetter == AlienSpeciesAssessment2023CriteriaLetter.A).FirstOrDefault();
    var uncertaintyB = Model.Assessment.Criteria.Where(x => x.CriteriaLetter == AlienSpeciesAssessment2023CriteriaLetter.B).FirstOrDefault();
    var uncertaintyC = Model.Assessment.Criteria.Where(x => x.CriteriaLetter == AlienSpeciesAssessment2023CriteriaLetter.C).FirstOrDefault();
    var uncertaintyHighA = uncertaintyA.UncertaintyValues.Where(x => x > uncertaintyA.Value).FirstOrDefault();
    var uncertaintyHighB = uncertaintyB.UncertaintyValues.Where(x => x > uncertaintyB.Value).FirstOrDefault();
    var uncertaintyHighC = uncertaintyC.UncertaintyValues.Where(x => x > uncertaintyC.Value).FirstOrDefault();
    var uncertaintyLowA = uncertaintyA.UncertaintyValues.Where(x => x < uncertaintyA.Value).FirstOrDefault();
    var uncertaintyLowB = uncertaintyB.UncertaintyValues.Where(x => x < uncertaintyB.Value).FirstOrDefault();
    var uncertaintyLowC = uncertaintyC.UncertaintyValues.Where(x => x < uncertaintyC.Value).FirstOrDefault();

    var isSimplifiedEstimation = Model.Assessment.MedianLifetimeEstimationMethod == AlienSpeciesAssessment2023MedianLifetimeEstimationMethod.SimplifiedEstimation;
    var isAcceptedSimplifiedEstimation = Model.Assessment.IsAcceptedSimplifiedEstimate == true;
    var isAlien = Model.Assessment.AlienSpeciesCategory == AlienSpeciecAssessment2023AlienSpeciesCategory.AlienSpecie || Model.Assessment.AlienSpeciesCategory == AlienSpeciecAssessment2023AlienSpeciesCategory.RegionallyAlien;
    var isDoorknockerOrEffectWithoutReproduction = Model.Assessment.AlienSpeciesCategory == AlienSpeciecAssessment2023AlienSpeciesCategory.DoorKnocker || Model.Assessment.AlienSpeciesCategory == AlienSpeciecAssessment2023AlienSpeciesCategory.EffectWithoutReproduction;

    var showSimplifiedEstimateAcceptedAlien = isSimplifiedEstimation && isAcceptedSimplifiedEstimation && isAlien;
    var showSimplifiedEstimateNotAcceptedAlien = isSimplifiedEstimation && !isAcceptedSimplifiedEstimation && isAlien;
    var showSimplifiedEstimateAcceptedDoorKnockerOrEffectWithoutReproduction = isSimplifiedEstimation && isAcceptedSimplifiedEstimation == isDoorknockerOrEffectWithoutReproduction;
    var showSimplifiedEstimateNotAcceptedDoorKnockerOrEffectWithoutReproduction = isSimplifiedEstimation && !isAcceptedSimplifiedEstimation == isDoorknockerOrEffectWithoutReproduction;
}

<div class="page-section">
    <div class="collapsible initially_closed">
        <div class="collapsible_header">
            <h2>Hva forklarer artens risikokategori</h2>
            <button onclick="toggleCollapsible(this)">
                <span class="material-icons expanded_icon">expand_less</span>
                <span class="material-icons collapsed_icon">expand_more</span>
            </button>
        </div >

        <div class="collapsible_content">
            <div id="risk_category_explanation">
               <button id="risk_category_explanation_button_1" class="changetab active" onclick="selectTab('risk_category_explanation_button_1', 'risk_category_explanation_tab_block_1' , 'risk_category_explanation' )">Avgjørende kriterier</button>
               <button id="risk_category_explanation_button_2" class="changetab" onclick="selectTab('risk_category_explanation_button_2', 'risk_category_explanation_tab_block_2' , 'risk_category_explanation' )">Øvrige brukte kriterier</button>
               <div class="tabbed_element_container assessment_tabs">
                   <div id="risk_category_explanation_tab_block_1">
                       <div is-visible="showIsNk">
                           Arten har <i>ingen kjent risiko</i> (NK) og dermed ingen utslag på noen kriterier. Se fanen Øvrige brukte kriterier.
                       </div>
                       <div is-visible="!showIsNk" class="collapsible initially_closed">
                            <div class="collapsible_header">
                                <h3>Invasjonspotensial</h3>
                                <button onclick="toggleCollapsible(this)">
                                    <span class="material-icons expanded_icon">expand_less</span>
                                    <span class="material-icons collapsed_icon">expand_more</span>
                                </button>
                            </div >
                            <div class="collapsible_content">
                                <div is-visible="showLowInvasionPotential">
                                    Arten har lite invasjonspotensial og har dermed ingen utslag på kriterier på invasjonsaksen. Se fanen Øvrige brukte kriterier.
                                </div>
                                <div is-visible="showHigherInvasionPotential">
                                    <p is-visible="decisiveCriteriaHasA || decisiveCriteriaHasB">
                                        @AlienSpeciesAssessment2023CriteriaLetter.A.DisplayName() på @uncertaintyA.Value 
                                        <span is-visible="uncertaintyHighA != 0 || uncertaintyLowA != 0">(med usikkerhet</span>
                                        <span is-visible="uncertaintyLowA != 0">ned mot @uncertaintyLowA</span>
                                        <span is-visible="uncertaintyHighA != 0 && uncertaintyLowA != 0">og/eller</span>
                                        <span is-visible="uncertaintyHighA != 0">opp mot @uncertaintyHighA</span>
                                        <span is-visible="uncertaintyHighA != 0 || uncertaintyLowA != 0">).</span>
                                        <span is-visible="uncertaintyHighA == 0 && uncertaintyLowA == 0">.</span>
                                    </p>
                                    <p is-visible="decisiveCriteriaHasB || decisiveCriteriaHasA">
                                        @AlienSpeciesAssessment2023CriteriaLetter.B.DisplayName() på @uncertaintyB.Value 
                                        <span is-visible="uncertaintyHighB != 0 || uncertaintyLowB != 0">(med usikkerhet</span> 
                                        <span is-visible="uncertaintyLowB != 0">ned mot @uncertaintyLowB</span>
                                        <span is-visible="uncertaintyHighB != 0 && uncertaintyLowB != 0">og/eller</span>
                                        <span is-visible="uncertaintyHighB != 0">opp mot @uncertaintyHighB</span>
                                        <span is-visible="uncertaintyHighB != 0 || uncertaintyLowB != 0">).</span>
                                        <span is-visible="uncertaintyHighB == 0 && uncertaintyLowB == 0">.</span>
                                    </p>
                                    <p is-visible="decisiveCriteriaHasC">
                                        @AlienSpeciesAssessment2023CriteriaLetter.C.DisplayName() på @uncertaintyC.Value 
                                        <span is-visible="uncertaintyHighC != 0 || uncertaintyLowC != 0">(med usikkerhet</span>
                                        <span is-visible="uncertaintyLowC != 0">ned mot @uncertaintyLowC</span>
                                        <span is-visible="uncertaintyHighC != 0 && uncertaintyLowC != 0">og/eller</span>
                                        <span is-visible="uncertaintyHighC != 0">opp mot @uncertaintyHighC</span>
                                        <span is-visible="uncertaintyHighC != 0 || uncertaintyLowC != 0">).</span>
                                        <span is-visible="uncertaintyHighC == 0 && uncertaintyLowC == 0">.</span>
                                    </p>
                                </div>
                            </div>
                        </div >
                        <div class="collapsible initially_closed">
                            <div class="collapsible_header">
                                <h3>Se mer</h3>
                                <button onclick="toggleCollapsible(this)" id="myButton">
                                    <span class="material-icons expanded_icon">expand_less</span>
                                    <span class="material-icons collapsed_icon">expand_more</span>
                                </button>
                            </div >
                            <div class="collapsible_content">
                                Estimeringsmetode: @Model.Assessment.MedianLifetimeEstimationMethod.DisplayName().ToLowerInvariant()
                                <p is-visible="showSimplifiedEstimateAcceptedAlien">
                                    Basert på de beste anslagene på forekomstareal i dag ([AOOtotalBest] km²) og om 50 år ([AOOfutureBest] km²) er A-kriteriet skåret som [AValue] (med usikkerhet: [Math.min(UncertaintyValues) – Math.max(UncertaintyValues )]). Dette innebærer at artens mediane levetid er [skårtekst], eller at sannsynligheten for utdøing innen 50 år er på [ExtinctionProbability.DisplayName()]
                                </p>
                                <p is-visible="showSimplifiedEstimateNotAcceptedAlien">
                                    Basert på de beste anslagene på forekomstareal i dag ([AOOtotalBest] km²) og om 50 år ([AOOfutureBest] km²) ble A-kriteriet forhåndsskåret som [MedianLifetimeSimplifiedEstimationDefaultScore] (med usikkerhet: [MedianLifetimeSimplifiedEstimationDefaultScoreLow – MedianLifetimeSimplifiedEstimationDefaultScoreHigh]). Med bakgrunn i retningslinjene ble skår og/eller usikkerhet justert til gjeldende verdier [AValue] og [Math.min(UncertaintyValues) – Math.max(UncertaintyValues)]. Dette innebærer at artens mediane levetid er [skårtekst], eller at sannsynligheten for utdøing innen 50 år er på [ExtinctionProbability.DisplayName()]. 
                               </p>
                               <p>Begrunnelse for justering av skår og/eller usikkerhet: @Model.Assessment.MedianLifetimeSimplifiedEstimationDefaultScore</p>
                                <p is-visible="showSimplifiedEstimateAcceptedDoorKnockerOrEffectWithoutReproduction">

                               </p>
                                <p is-visible="showSimplifiedEstimateNotAcceptedDoorKnockerOrEffectWithoutReproduction">

                               </p>
                            </div>
                        </div >
                   </div>


                   <div id="risk_category_explanation_tab_block_2">
                       <div class="collapsible initially_closed">
                            <div class="collapsible_header">
                                <h3>Invasjonspotensial</h3>
                                <button onclick="toggleCollapsible(this)" id="myButton">
                                    <span class="material-icons expanded_icon">expand_less</span>
                                    <span class="material-icons collapsed_icon">expand_more</span>
                                </button>
                            </div >
                            <div class="collapsible_content">
                                innsett andre kriterier med informasjon
                            </div>
                        </div >
                        <div class="collapsible initially_closed">
                            <div class="collapsible_header">
                                <h3>Økologisk effekt</h3>
                                <button onclick="toggleCollapsible(this)">
                                    <span class="material-icons expanded_icon">expand_less</span>
                                    <span class="material-icons collapsed_icon">expand_more</span>
                                </button>
                            </div >
                            <div class="collapsible_content">
                                innsett andre kriterier med informasjon
                            </div>
                        </div >
                   </div>
               </div>
            </div>
        </div>
    </div >
</div>
