@model AlienSpeciesDetailViewModel
@using Assessments.Mapping.AlienSpecies.Model.Enums
@inject IStringLocalizer<SharedResourcesAlienSpecies> Localizer
@inject IHtmlLocalizer<SharedResourcesAlienSpecies> LocalizerHtml
@inject IStringLocalizer<SharedResources> LocalizerShared

@{
    var criteriaLetters = "ABCDEFGHI";
    var isAorBDecisive = Model.Assessment.DecisiveCriteria.Any(x => x == 'A' || x == 'B');
    
    // If either A or B is decisive, both should be shown as decisive. Hence we have to remove the other criteria from nonDecisiveCriteria if that is the case. 
    var nonDecisiveCriteria = new string(criteriaLetters.Where(x => !Model.Assessment.DecisiveCriteria.Contains(x) && (!isAorBDecisive || (x != 'A' && x != 'B'))).ToArray());

    var decisiveCriteriaExplanationViewModel = new CriteriaExplanationViewModel()
    {
        AlienSpeciesDetailViewModel = Model,
        Criteria = Model.Assessment.DecisiveCriteria
    };

    var nonDecisiveCriteriaExplanationViewModel = new CriteriaExplanationViewModel()
    {
        AlienSpeciesDetailViewModel = Model,
        Criteria = nonDecisiveCriteria
    };
}

<div id=@Localizer["category_explaination_heading"].Name>
    <div class="page_section_header">
        <h2>@Localizer["category_explaination_heading"]</h2>
    </div>
    <p>@Localizer["category_explaination_intro_text"]</p>

    <p>@LocalizerHtml["category_explaination_x_axis_explaination"]</p>

    <p>@LocalizerHtml["category_explaination_y_axis_explaination"]</p>

    <p>@LocalizerHtml["category_explaination_decisive_criteria"]<a href="https://artsdatabanken.no/Pages/342811"> @Localizer["link_to_criteria_page_text"]</a>.</p>

    <div id="risk_category_explanation">
        <button id="risk_category_explanation_button_1" class="changetab active" onclick="selectTab('risk_category_explanation_button_1', 'risk_category_explanation_tab_block_1' , 'risk_category_explanation' )">@LocalizerShared["decisive_criteria_short"]</button>
        <button id="risk_category_explanation_button_2" class="changetab" onclick="selectTab('risk_category_explanation_button_2', 'risk_category_explanation_tab_block_2' , 'risk_category_explanation' )">@LocalizerShared["non_decisive_criteria"]</button>
        <div class="tabbed_element_container assessment_tabs">
            <div id="risk_category_explanation_tab_block_1">
                <partial name="/Views/AlienSpecies/2023/AssessmentPartials/_CriteriaExplanation.cshtml" model="decisiveCriteriaExplanationViewModel" />
            </div>

            <div id="risk_category_explanation_tab_block_2">
                <partial name="/Views/AlienSpecies/2023/AssessmentPartials/_CriteriaExplanation.cshtml" model="nonDecisiveCriteriaExplanationViewModel" />
            </div>
        </div>
    </div>
</div>
