@model AlienSpeciesDetailViewModel
@using Assessments.Mapping.AlienSpecies.Model.Enums

@{
    var isNrOrEvaluatedAtAnotherLevel = Model.Assessment.Category == AlienSpeciesAssessment2023Category.NR || Model.Assessment.AlienSpeciesCategory == AlienSpeciecAssessment2023AlienSpeciesCategory.TaxonEvaluatedAtAnotherLevel;
    var showIsNk = Model.Assessment.Category == AlienSpeciesAssessment2023Category.NK;
    var showLowInvasionPotential = Model.Assessment.ScoreInvasionPotential == 1;
    var showHigherInvasionPotential = Model.Assessment.ScoreInvasionPotential > 1;
    var decisiveCriteriaHasA = Model.Assessment.DecisiveCriteria.Contains(nameof(AlienSpeciesAssessment2023CriteriaLetter.A));
    var decisiveCriteriaHasB = Model.Assessment.DecisiveCriteria.Contains(nameof(AlienSpeciesAssessment2023CriteriaLetter.B));
    var decisiveCriteriaHasC = Model.Assessment.DecisiveCriteria.Contains(nameof(AlienSpeciesAssessment2023CriteriaLetter.C));
    var decisiveCriteriaHasD = Model.Assessment.DecisiveCriteria.Contains(nameof(AlienSpeciesAssessment2023CriteriaLetter.D));
    var decisiveCriteriaHasE = Model.Assessment.DecisiveCriteria.Contains(nameof(AlienSpeciesAssessment2023CriteriaLetter.E));
    var decisiveCriteriaHasF = Model.Assessment.DecisiveCriteria.Contains(nameof(AlienSpeciesAssessment2023CriteriaLetter.F));
    var decisiveCriteriaHasG = Model.Assessment.DecisiveCriteria.Contains(nameof(AlienSpeciesAssessment2023CriteriaLetter.G));
    var uncertaintyA = Model.Assessment.Criteria.Where(x => x.CriteriaLetter == AlienSpeciesAssessment2023CriteriaLetter.A).FirstOrDefault();
    var uncertaintyB = Model.Assessment.Criteria.Where(x => x.CriteriaLetter == AlienSpeciesAssessment2023CriteriaLetter.B).FirstOrDefault();
    var uncertaintyC = Model.Assessment.Criteria.Where(x => x.CriteriaLetter == AlienSpeciesAssessment2023CriteriaLetter.C).FirstOrDefault();
    var uncertaintyD = Model.Assessment.Criteria.Where(x => x.CriteriaLetter == AlienSpeciesAssessment2023CriteriaLetter.D).FirstOrDefault();
    var uncertaintyE = Model.Assessment.Criteria.Where(x => x.CriteriaLetter == AlienSpeciesAssessment2023CriteriaLetter.E).FirstOrDefault();
    var uncertaintyF = Model.Assessment.Criteria.Where(x => x.CriteriaLetter == AlienSpeciesAssessment2023CriteriaLetter.F).FirstOrDefault();
    var uncertaintyG = Model.Assessment.Criteria.Where(x => x.CriteriaLetter == AlienSpeciesAssessment2023CriteriaLetter.G).FirstOrDefault();

    var isSimplifiedEstimation = Model.Assessment.MedianLifetimeEstimationMethod == AlienSpeciesAssessment2023MedianLifetimeEstimationMethod.SimplifiedEstimation;
    var isAcceptedSimplifiedEstimation = Model.Assessment.IsAcceptedSimplifiedEstimate == true;
    var isAlien = Model.Assessment.AlienSpeciesCategory == AlienSpeciecAssessment2023AlienSpeciesCategory.AlienSpecie || Model.Assessment.AlienSpeciesCategory == AlienSpeciecAssessment2023AlienSpeciesCategory.RegionallyAlien;
    var isDoorknockerOrEffectWithoutReproduction = Model.Assessment.AlienSpeciesCategory == AlienSpeciecAssessment2023AlienSpeciesCategory.DoorKnocker || Model.Assessment.AlienSpeciesCategory == AlienSpeciecAssessment2023AlienSpeciesCategory.EffectWithoutReproduction;

    var showSimplifiedEstimateAcceptedAlien = isSimplifiedEstimation && isAcceptedSimplifiedEstimation && isAlien;
    var showSimplifiedEstimateNotAcceptedAlien = isSimplifiedEstimation && !isAcceptedSimplifiedEstimation && isAlien;
    var showSimplifiedEstimateAcceptedDoorKnockerOrEffectWithoutReproduction = isSimplifiedEstimation && isAcceptedSimplifiedEstimation && isDoorknockerOrEffectWithoutReproduction;
    var showSimplifiedEstimateNotAcceptedDoorKnockerOrEffectWithoutReproduction = isSimplifiedEstimation && !isAcceptedSimplifiedEstimation && isDoorknockerOrEffectWithoutReproduction;

    var showNumericalEstimation = Model.Assessment.MedianLifetimeEstimationMethod == AlienSpeciesAssessment2023MedianLifetimeEstimationMethod.NumericalEstimation;
    var showViableAnalysis = Model.Assessment.MedianLifetimeEstimationMethod == AlienSpeciesAssessment2023MedianLifetimeEstimationMethod.ViableAnalysis;

    var isSpatiotemporalDataset = Model.Assessment.ExpansionSpeedEstimationMethod == AlienSpeciesAssessment2023ExpansionSpeedEstimationMethod.SpatioTemporalDataset;
    var isEstimatedIncreaseInAOOReproducingUnaided = Model.Assessment.ExpansionSpeedEstimationMethod == AlienSpeciesAssessment2023ExpansionSpeedEstimationMethod.EstimatedIncreaseInAOOReproducingUnaided;
    var isEstimatedIncreaseInAOOReproducingUnaidedFutureExpansion = Model.Assessment.ExpansionSpeedEstimationMethod == AlienSpeciesAssessment2023ExpansionSpeedEstimationMethod.EstimatedIncreaseInAOOReproducingUnaidedFutureExpansion;
    var isEstimatedIncreaseInAOODoorKnockers = Model.Assessment.ExpansionSpeedEstimationMethod == AlienSpeciesAssessment2023ExpansionSpeedEstimationMethod.EstimatedIncreaseInAOODoorKnockers;

    var showNoEcologicalEffect = Model.Assessment.ScoreEcologicalEffect == 1;
    var showFTable = Model.Assessment.ImpactedNatureTypes.Any(x => x.IsThreatened == true && HasAffectedArea(x.AffectedArea));
    var showGTable = Model.Assessment.ImpactedNatureTypes.Any(x => x.IsThreatened == false && HasAffectedArea(x.AffectedArea));

    int GetUncertaintyValueMinMax(int value, int uncertainty)
    {
        return uncertainty == 0 ? value : uncertainty;
    }

    int GetUncertaintyHigh(AlienSpeciesAssessment2023Criterion criterion)
    {
        return criterion.UncertaintyValues.Where(x => x > criterion.Value).FirstOrDefault();
    }

    int GetUncertaintyLow(AlienSpeciesAssessment2023Criterion criterion)
    {
        return criterion.UncertaintyValues.Where(x => x < criterion.Value).FirstOrDefault();
    }

    bool HasUncertainty(AlienSpeciesAssessment2023Criterion uncertainty)
    {
        return GetUncertaintyLow(uncertainty) != 0 || GetUncertaintyHigh(uncertainty) != 0;
    }

    bool HasAffectedArea(string affectedArea)
    {
        float area;
        if (float.TryParse(affectedArea, out area))
        {
            return area != (float)0;
        }
        return true;
    }

    void GetLetterFullText(AlienSpeciesAssessment2023Criterion criterion)
    {
        <p>
            @criterion.CriteriaLetter.DisplayName() på @AlienSpeciesHelpers.CriteriaDescription(criterion.CriteriaLetter, criterion.Value)@(GetUncertaintyHigh(criterion) == 0 && GetUncertaintyLow(criterion) == 0 ? "." : "")
            @{
                if (GetUncertaintyHigh(criterion) != 0 || GetUncertaintyLow(criterion) != 0)
                {
                    <span>(med usikkerhet</span>
                }
                if (GetUncertaintyLow(criterion) != 0)
                {
                    <span>
                        ned mot @AlienSpeciesHelpers.CriteriaDescription(criterion.CriteriaLetter, GetUncertaintyLow(criterion))@(GetUncertaintyHigh(criterion) == 0 && GetUncertaintyLow(criterion) != 0 ? ")." : "")
                    </span>
                }
                if (GetUncertaintyHigh(criterion) != 0 && GetUncertaintyLow(criterion) != 0)
                {
                    <span>og</span>
                }
                if (GetUncertaintyHigh(criterion) != 0)
                {
                    <span>
                        opp mot @AlienSpeciesHelpers.CriteriaDescription(criterion.CriteriaLetter, GetUncertaintyHigh(criterion))@(GetUncertaintyHigh(criterion) != 0 || GetUncertaintyLow(criterion) != 0 ? ")." : "")
                    </span>
                }
            }
        </p>
    }

    void GetLetterUncertainty(AlienSpeciesAssessment2023Criterion criterion)
    {
        <p>
            Det er knyttet usikkerhet rundt artens effekter som går utover utfallsrommet til den mest sannsynlige skåren på @criterion.Value@(GetUncertaintyHigh(criterion) == 0 && GetUncertaintyLow(criterion) == 0 ? "." : "")
            @{
                if (GetUncertaintyHigh(criterion) != 0 || GetUncertaintyLow(criterion) != 0)
                {
                    <span>(med usikkerhet</span>
                }
                if (GetUncertaintyLow(criterion) != 0)
                {
                    <span>
                        ned mot @AlienSpeciesHelpers.CriteriaDescription(criterion.CriteriaLetter, GetUncertaintyLow(criterion))@(GetUncertaintyHigh(criterion) == 0 && GetUncertaintyLow(criterion) != 0 ? ")." : "")
                    </span>
                }
                if (GetUncertaintyHigh(criterion) != 0 && GetUncertaintyLow(criterion) != 0)
                {
                    <span>og</span>
                }
                if (GetUncertaintyHigh(criterion) != 0)
                {
                    <span>
                        opp mot @AlienSpeciesHelpers.CriteriaDescription(criterion.CriteriaLetter, GetUncertaintyHigh(criterion))@(GetUncertaintyHigh(criterion) != 0 || GetUncertaintyLow(criterion) != 0 ? ")." : "")
                    </span>
                }
            }
            Dette begrunnes i:
        </p>
    }

    void GetSpeciesTableDesktop(List<AlienSpeciesAssessment2023SpeciesSpeciesInteraction> impacts)
    {
        <table class="numbers-table">
            <caption>Artens negative effekter på øvrige rødlistevurderte arter</caption>
            <tr>
                <td><b>Rødlistevurdert art</b></td>
                <td><b>Kategori i Rødlista 2021</b></td>
                <td><b>Er arten en nøkkelart?</b></td>
                <td><b>Interaksjonens styrke</b></td>
                <td><b>Geografisk omfang</b></td>
                <td><b>Type interaksjon</b></td>
                @if (impacts.Any(x => x.Background != null && x.Background.Count() != 0))
                {
                    <td><b>Vurderingsgrunnlag</b></td>
                }
            </tr>
            @foreach (var impact in impacts)
            {
                <tr>
                    <td>@impact.VernacularName <br> @Html.Raw(Helpers.GetScientificNameElement(impact.ScientificName)) @impact.ScientificNameAuthor</td>
                    <td>@impact.RedListCategory - @impact.RedListCategory.DisplayName()</td>
                    <td>@(impact.KeyStoneSpecie ? "ja" : "nei")</td>
                    <td>@impact.InteractionStrength.DisplayName()</td>
                    <td>@impact.Scale.DisplayName()</td>
                    <td>@impact.InteractionType.DisplayName()</td>
                    @if (@impact.Background != null && @impact.Background.Count() != 0)
                    {
                        <td>
                            <ul>
                                @foreach (var background in impact.Background)
                                {
                                    <li>@background.DisplayName()</li>
                                }
                            </ul>
                        </td>
                    }
                </tr>
            }
        </table>
    }

    void GetSpeciesTablesMobile(List<AlienSpeciesAssessment2023SpeciesSpeciesInteraction> impacts)
    {
        @foreach (var impact in impacts)
        {
            <table class="numbers-table">
                <caption>Rødlistevurdert art: @impact.VernacularName @Html.Raw(Helpers.GetScientificNameElement(impact.ScientificName)) @impact.ScientificNameAuthor</caption>
                <tr>
                    <td>kategori i Rødlista 2021</td>
                    <td>@impact.RedListCategory - @impact.RedListCategory.DisplayName()</td>
                </tr>
                <tr>
                    <td>er arten en nøkkelart?</td>
                    <td>@(impact.KeyStoneSpecie ? "ja" : "nei")</td>
                </tr>
                <tr>
                    <td>interaksjonens styrke</td>
                    <td>@impact.InteractionStrength.DisplayName()</td>
                </tr>
                <tr>
                    <td>geografisk omfang</td>
                    <td>@impact.Scale.DisplayName()</td>
                </tr>
                <tr>
                    <td>type interaksjon</td>
                    <td>@impact.InteractionType.DisplayName()</td>
                </tr>
                @if (@impact.Background != null && @impact.Background.Count() != 0)
                {
                    <tr>
                        <td>vurderingsgrunnlag</td>
                        <td>
                            <ul>
                                @foreach (var background in impact.Background)
                                {
                                    <li>@background.DisplayName()</li>
                                }
                            </ul>
                        </td>
                    </tr>
                }
            </table>
        }
    }

    void GetNatureTypeTableDesktop(List<AlienSpeciesAssessment2023SpeciesNaturetypeInteraction> impacts)
    {
        <table class="numbers-table">
            <caption>Artens negative effekter på grupper av arter (samfunn)</caption>
            <tr>
                <td><b>Berørt naturtype (med gruppen av påvirkede arter)</b></td>
                <td><b>Påvirkes nøkkelarter eller truede arter?</b></td>
                <td><b>Interaksjonens styrke</b></td>
                <td><b>Geografisk omfang</b></td>
                <td><b>Type interaksjon</b></td>
                <td><b>Vurderingsgrunnlag</b></td>
            </tr>
            @foreach (var impact in impacts)
            {
                <tr>
                    <td>@impact.Name</td>
                    <td>@(impact.KeyStoneSpecie ? "ja" : "nei")</td>
                    <td>@impact.InteractionStrength.DisplayName()</td>
                    <td>@impact.Scale.DisplayName()</td>
                    <td>@impact.InteractionType.DisplayName()</td>
                    <td>
                        <ul>
                            @foreach (var background in impact.Background)
                            {
                                <li>@background.DisplayName()</li>
                            }
                        </ul>
                    </td>
                </tr>
            }
        </table>
    }

    void GetNatureNypeTablesMobile(List<AlienSpeciesAssessment2023SpeciesNaturetypeInteraction> impacts)
    {
        foreach (var impact in impacts)
        {
            <table class="numbers-table">
                <caption>Berørt naturtype (med gruppen av påvirkede arter): @impact.Name</caption>
                <tr>
                    <td>påvirkes nøkkelarter eller truede arter?</td>
                    <td>@(impact.KeyStoneSpecie ? "ja" : "nei")</td>
                </tr>
                <tr>
                    <td>interaksjonens styrke</td>
                    <td>@impact.InteractionStrength.DisplayName()</td>
                </tr>
                <tr>
                    <td>geografisk omfang</td>
                    <td>@impact.Scale.DisplayName()</td>
                </tr>
                <tr>
                    <td>type interaksjon</td>
                    <td>@impact.InteractionType.DisplayName()</td>
                </tr>
                @if (@impact.Background != null && @impact.Background.Count() != 0)
                {
                    <tr>
                        <td>vurderingsgrunnlag</td>
                        <td>
                            <ul>
                                @foreach (var background in impact.Background)
                                {
                                    <li>@background.DisplayName()</li>
                                }
                            </ul>
                        </td>
                    </tr>
                }
            </table>
        }
    }

    void GetFGTable(bool shouldBeThreatened)
    {
        <table class="numbers-table">
            <caption>Øvrige naturtyper  som påvirkes av arten</caption>
            <tr>
                <td><b>Naturtype</b></td>
                <td><b>Tidshorisont</b></td>
                <td><b>Tydelig tilstandsendring</b></td>
                <td><b>Tydelig påvirka areal (%)</b></td>
                <td><b>Vurderingsgrunnlag</b></td>
            </tr>
            @foreach (var natureType in Model.Assessment.ImpactedNatureTypes.Where(x => x.IsThreatened == shouldBeThreatened && HasAffectedArea(x.AffectedArea)))
            {
                <tr>
                    <td>@natureType.Name</td>
                    <td>@natureType.TimeHorizon.DisplayName()</td>
                    <td>
                        @if (natureType.StateChange != null)
                        {
                            <ul>
                                @foreach (var stateChange in natureType.StateChange)
                                {
                                    <li>
                                        @stateChange.DisplayName()
                                    </li>
                                }
                            </ul>
                        }
                    </td>
                    <td>@natureType.AffectedArea</td>
                    <td>
                        @if (natureType.Background != null)
                        {
                            <ul>
                                @foreach (var background in natureType.Background)
                                {
                                    <li>
                                        @background.DisplayName()
                                    </li>
                                }
                            </ul>
                        }
                    </td>
                </tr>
            }
        </table>
    }
}

<div id="@nameof(Constants.HeadingsNo.RiskCategoryExplanation)">
    <div class="page_section_header">
        <h2>@Constants.HeadingsNo.RiskCategoryExplanation</h2>
        <a href="#@nameof(Constants.HeadingsNo.TableOfContents)">Tilbake til toppen</a>
    </div>
    <p>Artens risikokategori bestemmes av artens skår på to akser, invasjonspotensial (x-aksen) og økologisk effekt (y-aksen).</p>
    <div id="risk_category_explanation">
        <button id="risk_category_explanation_button_1" class="changetab active" onclick="selectTab('risk_category_explanation_button_1', 'risk_category_explanation_tab_block_1' , 'risk_category_explanation' )">Avgjørende kriterier</button>
        <button id="risk_category_explanation_button_2" class="changetab" onclick="selectTab('risk_category_explanation_button_2', 'risk_category_explanation_tab_block_2' , 'risk_category_explanation' )">Øvrige kriterier</button>
        <div class="tabbed_element_container assessment_tabs">
            <div id="risk_category_explanation_tab_block_1">
                <div is-visible="showIsNk">
                    Arten er vurdert til <i>ingen kjent risiko</i> NK og har dermed ingen avgjørende kriterier.
                </div>
                <div is-visible="!showIsNk">
                    <p>Kriteriene arten skårer høyest på for hver av de to aksene. <a href="">Les mer om kriteriene@{
                                /*TODO: add link when there is one*/
                            }</a></p>
                    <h3>Invasjonspotensial</h3>
                    <div>
                        <div is-visible="showLowInvasionPotential">
                            Arten har lite invasjonspotensial og har dermed ingen utslag på kriterier på invasjonsaksen. Se fanen Øvrige brukte kriterier.
                        </div>
                        <div is-visible="showHigherInvasionPotential">
                            <div is-visible="decisiveCriteriaHasA || decisiveCriteriaHasB">
                                @{
                                    GetLetterFullText(uncertaintyA);
                                }
                                <div is-visible="!showIsNk" class="collapsible initially_closed">
                                    <div class="collapsible_header">
                                        <h3>Vis detaljer</h3>
                                        <button onclick="toggleCollapsible(this)" id="myButton">
                                            <span class="material-icons expanded_icon">expand_less</span>
                                            <span class="material-icons collapsed_icon">expand_more</span>
                                        </button>
                                    </div>
                                    <div class="collapsible_content">
                                        <p>
                                            Estimeringsmetode: @Model.Assessment.MedianLifetimeEstimationMethod.DisplayName().ToLowerInvariant()
                                        </p>
                                        <p is-visible="showSimplifiedEstimateAcceptedAlien">
                                            Basert på de beste anslagene på forekomstareal i dag (@Model.Assessment.AOOtotalBest km²) og om 50 år (@Model.Assessment.AOOfutureBest km²) er A-kriteriet skåret som @uncertaintyA.Value (med usikkerhet: @GetUncertaintyValueMinMax(uncertaintyA.Value, GetUncertaintyLow(uncertaintyA)) – @GetUncertaintyValueMinMax(uncertaintyA.Value, GetUncertaintyHigh(uncertaintyA))). Dette innebærer at artens mediane levetid er @AlienSpeciesHelpers.CriteriaDescription(uncertaintyA.CriteriaLetter, uncertaintyA.Value), eller at sannsynligheten for utdøing innen 50 år er på @Model.Assessment.ExtinctionProbability.DisplayName().
                                        </p>
                                        <div is-visible="showSimplifiedEstimateNotAcceptedAlien">
                                            <p>
                                                Basert på de beste anslagene på forekomstareal i dag (@Model.Assessment.AOOtotalBest km²) og om 50 år (@Model.Assessment.AOOfutureBest km²) ble A-kriteriet forhåndsskåret som @Model.Assessment.MedianLifetimeSimplifiedEstimationDefaultScore (med usikkerhet: @Model.Assessment.MedianLifetimeSimplifiedEstimationDefaultScoreLow – @Model.Assessment.MedianLifetimeSimplifiedEstimationDefaultScoreHigh). Med bakgrunn i retningslinjene ble skår og/eller usikkerhet justert til gjeldende verdier @uncertaintyA.Value og @GetUncertaintyValueMinMax(uncertaintyA.Value, GetUncertaintyLow(uncertaintyA)) – @GetUncertaintyValueMinMax(uncertaintyA.Value, GetUncertaintyHigh(uncertaintyA)). Dette innebærer at artens mediane levetid er @AlienSpeciesHelpers.CriteriaDescription(uncertaintyA.CriteriaLetter, uncertaintyA.Value), eller at sannsynligheten for utdøing innen 50 år er på @Model.Assessment.ExtinctionProbability.DisplayName().
                                            </p>
                                            <p>Begrunnelse for justering av skår og/eller usikkerhet: @Model.Assessment.MedianLifetimeSimplifiedEstimationAdjustScoreReason</p>
                                        </div>
                                        <p is-visible="showSimplifiedEstimateAcceptedDoorKnockerOrEffectWithoutReproduction">
                                            Basert på det beste anslaget på @Model.Assessment.RiskAssessmentOccurrences1Best forekomster i løpet av 10 år og @Model.Assessment.RiskAssessmentIntroductionsBest ytterligere introduksjon(er) i samme tidsperiode er A-kriteriet skåret som @uncertaintyA.Value (med usikkerhet: @GetUncertaintyValueMinMax(uncertaintyA.Value, GetUncertaintyLow(uncertaintyA)) – @GetUncertaintyValueMinMax(uncertaintyA.Value, GetUncertaintyHigh(uncertaintyA))). Dette innebærer at artens mediane levetid er @AlienSpeciesHelpers.CriteriaDescription(uncertaintyA.CriteriaLetter, uncertaintyA.Value), eller at sannsynligheten for utdøing innen 50 år er på @Model.Assessment.ExtinctionProbability.DisplayName().
                                        </p>
                                        <div is-visible="showSimplifiedEstimateNotAcceptedDoorKnockerOrEffectWithoutReproduction">
                                            <p>
                                                Basert på det beste anslaget på @Model.Assessment.RiskAssessmentOccurrences1Best forekomster i løpet av 10 år og @Model.Assessment.RiskAssessmentIntroductionsBest ytterligere introduksjon(er) i samme tidsperiode ble A-kriteriet forhåndsskåret som @Model.Assessment.MedianLifetimeSimplifiedEstimationDefaultScore (med usikkerhet: @Model.Assessment.MedianLifetimeSimplifiedEstimationDefaultScoreLow – @Model.Assessment.MedianLifetimeSimplifiedEstimationDefaultScoreHigh). Med bakgrunn i retningslinjene ble skår og/eller usikkerhet justert til gjeldende verdier @uncertaintyA.Value og @GetUncertaintyValueMinMax(uncertaintyA.Value, GetUncertaintyLow(uncertaintyA)) – @GetUncertaintyValueMinMax(uncertaintyA.Value, GetUncertaintyHigh(uncertaintyA)). Dette innebærer at artens mediane levetid er @AlienSpeciesHelpers.CriteriaDescription(uncertaintyA.CriteriaLetter, uncertaintyA.Value), eller at sannsynligheten for utdøing innen 50 år er på @Model.Assessment.ExtinctionProbability.DisplayName().
                                            </p>
                                            <p>Begrunnelse for justering av skår og/eller usikkerhet: @Model.Assessment.MedianLifetimeSimplifiedEstimationAdjustScoreReason</p>
                                        </div>
                                        <div is-visible="showNumericalEstimation">
                                            <table class="numbers-table">
                                                <caption>Demografiske nøkkeltall</caption>
                                                <tr is-visible="Model.Assessment.MedianLifetimeNumericalEstimationPopulationSize != 0">
                                                    <td>Nåværende populasjonsstørrelse (N, i antall individer): </td>
                                                    <td>@Model.Assessment.MedianLifetimeNumericalEstimationPopulationSize</td>
                                                </tr>
                                                <tr is-visible="Model.Assessment.MedianLifetimeNumericalEstimationGrowthRate != 0">
                                                    <td>Vekstrate (&lambda;): </td>
                                                    <td>@Model.Assessment.MedianLifetimeNumericalEstimationGrowthRate</td>
                                                </tr>
                                                <tr is-visible="Model.Assessment.MedianLifetimeNumericalEstimationEnvironmentalVariance != null">
                                                    <td>Miljøvarians (&sigma;<sub>e</sub><sup>2</sup>): </td>
                                                    <td>@Model.Assessment.MedianLifetimeNumericalEstimationEnvironmentalVariance</td>
                                                </tr>
                                                <tr is-visible="Model.Assessment.MedianLifetimeNumericalEstimationDemographicVariance != null">
                                                    <td>Demografisk varians (&sigma;<sub>d</sub><sup>2</sup>): </td>
                                                    <td>@Model.Assessment.MedianLifetimeNumericalEstimationDemographicVariance</td>
                                                </tr>
                                                <tr is-visible="Model.Assessment.MedianLifetimeNumericalEstimationCarryingCapacity != null">
                                                    <td>Bæreevne (K, i antall individer): </td>
                                                    <td>@Model.Assessment.MedianLifetimeNumericalEstimationCarryingCapacity</td>
                                                </tr>
                                                <tr is-visible="Model.Assessment.MedianLifetimeNumericalEstimationExtinctionThreshold != null">
                                                    <td>Terskel for kvasiutdøing (C, i antall individer): </td>
                                                    <td>@Model.Assessment.MedianLifetimeNumericalEstimationExtinctionThreshold</td>
                                                </tr>
                                            </table>
                                            <br />
                                            <p is-visible="Model.Assessment.MedianLifetimeBestEstimate != 0">Basert på de demografiske nøkkeltallene er det beste anslaget for artens mediane levetid i Norge estimert til @Model.Assessment.MedianLifetimeBestEstimate år.</p>
                                        </div>
                                        <div is-visible="showViableAnalysis">
                                            <p>Beskrivelse av modeller og programvare som er brukt: @Model.Assessment.MedianLifetimeViabilityAnalysisDescription</p>
                                            <table class="numbers-table">
                                                <caption>Demografiske nøkkeltall</caption>
                                                <tr is-visible="Model.Assessment.MedianLifetimeBestEstimate != 0">
                                                    <td>Estimert median levetid (i år): </td>
                                                    <td>@Model.Assessment.MedianLifetimeBestEstimate</td>
                                                </tr>
                                                <tr is-visible="Model.Assessment.MedianLifetimeLowEstimate != 0">
                                                    <td>Estimert median levetid (i år) lavt anslag: </td>
                                                    <td>@Model.Assessment.MedianLifetimeLowEstimate</td>
                                                </tr>
                                                <tr is-visible="Model.Assessment.MedianLifetimeHighEstimate != 0">
                                                    <td>Estimert median levetid (i år) høyt anslag: </td>
                                                    <td>@Model.Assessment.MedianLifetimeHighEstimate</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div is-visible="decisiveCriteriaHasB || decisiveCriteriaHasA">
                                @{
                                    GetLetterFullText(uncertaintyB);
                                }
                                <div class="collapsible initially_closed">
                                    <div class="collapsible_header">
                                        <h3>Vis detaljer</h3>
                                        <button onclick="toggleCollapsible(this)">
                                            <span class="material-icons expanded_icon">expand_less</span>
                                            <span class="material-icons collapsed_icon">expand_more</span>
                                        </button>
                                    </div>
                                    <div class="collapsible_content">
                                        <p>
                                            Estimeringsmetode: @Model.Assessment.ExpansionSpeedEstimationMethod.DisplayName().ToLowerInvariant()
                                        </p>
                                        <div is-visible="isSpatiotemporalDataset">
                                            <table class="numbers-table">
                                                <caption>Parametervalg for estimering av ekspansjonshastighet (les mer om metoden her: <a href="https://view.nina.no/expansion/" target="_blank">ekspansjon</a>)</caption>
                                                <tr is-visible="!string.IsNullOrEmpty(Model.Assessment.ExpansionSpeedSpatioTemporalDatasetDarkFigureRange)">
                                                    <td>Forekomstarealets mørketall: </td>
                                                    <td>@Model.Assessment.ExpansionSpeedSpatioTemporalDatasetDarkFigureRange</td>
                                                </tr>
                                                <tr is-visible="!string.IsNullOrEmpty(Model.Assessment.ExpansionSpeedSpatioTemporalDatasetModel.DisplayName())">
                                                    <td>Modell: </td>
                                                    <td>@Model.Assessment.ExpansionSpeedSpatioTemporalDatasetModel.DisplayName()</td>
                                                </tr>
                                                <tr is-visible="!string.IsNullOrEmpty(Model.Assessment.ExpansionSpeedSpatioTemporalDatasetOccurrenceListing.DisplayName())">
                                                    <td>Lokalitetene i datafila er oppført: </td>
                                                    <td>@Model.Assessment.ExpansionSpeedSpatioTemporalDatasetOccurrenceListing.DisplayName()</td>
                                                </tr>
                                            </table>
                                            <br />
                                            <table class="numbers-table">
                                                <caption>Ekspansjonshastighet</caption>
                                                <tr>
                                                    <td>Gjennomsnittlig (m/år): </td>
                                                    <td>@Model.Assessment.ExpansionSpeedBestEstimate</td>
                                                </tr>
                                                <tr>
                                                    <td>Gjennomsnittlig (m/år) lavt anslag: </td>
                                                    <td>@Model.Assessment.ExpansionSpeedLowEstimate</td>
                                                </tr>
                                                <tr>
                                                    <td>Gjennomsnittlig (m/år) høyt anslag: </td>
                                                    <td>@Model.Assessment.ExpansionSpeedHighEstimate</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div is-visible="isEstimatedIncreaseInAOOReproducingUnaided">
                                            <p>
                                                Denne estimeringsmetoden anslår ekspansjonshastigheten ut fra endringen i forekomstareal mellom to år tilbake i tid, hvor antall år mellom første og andre år, er på mellom 10 og 20 år. Følgende data ligger til grunn:
                                            </p>
                                            <table class="numbers-table">
                                                <tr>
                                                    <td>År</td>
                                                    <td>Kjent forekomstareal (km<sup>2</sup>)</td>
                                                    <td>Kjent forekomstareal (km<sup>2</sup>) korrigert for tiltak</td>
                                                </tr>
                                                <tr>
                                                    <td>@Model.Assessment.ExpansionSpeedEstimatedIncreaseInAOOFirstYear</td>
                                                    <td>@Model.Assessment.ExpansionSpeedEstimatedIncreaseInAOOFirstAOO</td>
                                                    <td>@Model.Assessment.ExpansionSpeedEstimatedIncreaseInAOOFirstAOOCorr</td>
                                                </tr>
                                                <tr>
                                                    <td>@Model.Assessment.ExpansionSpeedEstimatedIncreaseInAOOLastYear</td>
                                                    <td>@Model.Assessment.ExpansionSpeedEstimatedIncreaseInAOOLastAOO</td>
                                                    <td>@Model.Assessment.ExpansionSpeedEstimatedIncreaseInAOOLastAOOCorr</td>
                                                </tr>
                                            </table>
                                            <p is-visible="!string.IsNullOrEmpty(Model.Assessment.ExpansionSpeedEstimatedIncreaseInAOODescription)">
                                                Kommentar til datagrunnlaget: @Model.Assessment.ExpansionSpeedEstimatedIncreaseInAOODescription
                                            </p>
                                            <p>
                                                Basert på økningen i artens forekomstareal i perioden fra @Model.Assessment.ExpansionSpeedEstimatedIncreaseInAOOFirstYear til @Model.Assessment.ExpansionSpeedEstimatedIncreaseInAOOLastYear og et mørketall på @(Model.Assessment.AOOtotalBest / Model.Assessment.AOOknown) er ekspansjonshastigheten estimert til @Model.Assessment.ExpansionSpeedBestEstimate m/år. Med usikkerhet: @Model.Assessment.ExpansionSpeedLowEstimate m/år (mørketall på @(Model.Assessment.AOOtotalLow / Model.Assessment.AOOknown)) – @Model.Assessment.ExpansionSpeedHighEstimate m/år (mørketall på @(Model.Assessment.AOOtotalHigh / Model.Assessment.AOOknown)).
                                            </p>
                                        </div>
                                        <div is-visible="isEstimatedIncreaseInAOOReproducingUnaidedFutureExpansion">
                                            <p>
                                                Denne estimeringsmetoden anslår ekspansjonshastigheten ut fra forventet endring i forekomstareal framover i tid.
                                            </p>
                                            <p>
                                                Basert på det beste anslaget på forekomstarealet i dag (@Model.Assessment.AOOtotalBest km<sup>2</sup>) og om 50 år (@Model.Assessment.AOOfutureBest km<sup>2</sup>) er ekspansjonshastigheten anslått til @Model.Assessment.ExpansionSpeedBestEstimate m/år. Dette tilsvarer skår @uncertaintyB.Value på B-kriteriet.
                                            </p>
                                        </div>
                                        <div is-visible="isEstimatedIncreaseInAOODoorKnockers">
                                            <p>
                                                Basert på det beste anslaget på @Model.Assessment.RiskAssessmentOccurrences1Best forekomster i løpet av 10 år og @Model.Assessment.RiskAssessmentIntroductionsBest ytterligere introduksjon(er) i samme tidsperiode er B-kriteriet skåret som @uncertaintyB.Value (med usikkerhet: @GetUncertaintyValueMinMax(uncertaintyB.Value, GetUncertaintyLow(uncertaintyB)) – @GetUncertaintyValueMinMax(uncertaintyB.Value, GetUncertaintyHigh(uncertaintyB))). Det beste anslaget på artens ekspansjonshastighet er @Model.Assessment.ExpansionSpeedBestEstimate m/år.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div is-visible="decisiveCriteriaHasC">
                                @{
                                    GetLetterFullText(uncertaintyC);
                                }
                            </div>
                        </div>
                    </div>
                    <h3>Økologisk effekt</h3>
                    <div is-visible="showNoEcologicalEffect">
                        <p>Arten har ingen kjent økologisk effekt og har dermed ingen utslag på kriterier på effektaksen. Se fanen Øvrige brukte kriterier.</p>
                    </div>

                    <div is-visible="!showNoEcologicalEffect">
                        <div is-visible="decisiveCriteriaHasD">
                            @{
                                GetLetterFullText(uncertaintyD);
                            }
                            <div is-visible="!showIsNk" class="collapsible initially_closed">
                                <div class="collapsible_header">
                                    <h3>Vis detaljer</h3>
                                    <button onclick="toggleCollapsible(this)" id="myButton">
                                        <span class="material-icons expanded_icon">expand_less</span>
                                        <span class="material-icons collapsed_icon">expand_more</span>
                                    </button>
                                </div>
                                <div class="collapsible_content">
                                    <div is-visible="@Model.Assessment.SpeciesSpeciesInteractionsThreatenedSpecies != null && @Model.Assessment.SpeciesSpeciesInteractionsThreatenedSpecies.Count() != 0">
                                        <p>
                                            Arten er vurdert å ha følgende negative interaksjoner (type interaksjon) med følgende truede arter og nøkkelarter. Kun effekter som er dokumentert i Norge; eller i utlandet (enten for arten selv eller for en nært beslektet og sammenlignbar art), hvor effekten er sannsynlig å opptre i Norge i løpet av 50 år, er inkludert.
                                        </p>
                                        <div class="mobile_hide">
                                            @{
                                                GetSpeciesTableDesktop(Model.Assessment.SpeciesSpeciesInteractionsThreatenedSpecies);
                                            }
                                        </div>
                                        <div class="only_mobile">
                                            @{
                                                GetSpeciesTablesMobile(Model.Assessment.SpeciesSpeciesInteractionsThreatenedSpecies);
                                            }
                                        </div>
                                    </div>
                                    <div is-visible="@Model.Assessment.SpeciesNaturetypeInteractionsThreatenedSpecies != null && @Model.Assessment.SpeciesNaturetypeInteractionsThreatenedSpecies.Count() != 0">
                                        <p>
                                            Arten er vurdert å ha følgende negative interaksjoner (type interaksjon) med grupper av arter som inkluderer truede arter eller nøkkelarter i følgende naturtyper. Kun effekter som er dokumentert i Norge; eller i utlandet (enten for arten selv eller for en nært beslektet og sammenlignbar art), hvor effekten er sannsynlig å opptre i Norge i løpet av 50 år, er inkludert.
                                        </p>
                                        <div class="mobile_hide">
                                            @{
                                                GetNatureTypeTableDesktop(Model.Assessment.SpeciesNaturetypeInteractionsThreatenedSpecies);
                                            }
                                        </div>
                                        <div class="only_mobile">
                                            @{
                                                GetNatureNypeTablesMobile(Model.Assessment.SpeciesNaturetypeInteractionsThreatenedSpecies);
                                            }
                                        </div>
                                    </div>
                                    <div is-visible="@(!string.IsNullOrEmpty(Model.Assessment.EffectsOnSpeciesSupplementaryInformation))">
                                        <p>Utfyllende informasjon rundt artens negative effekter:</p>
                                        <p>@Html.Raw(Model.Assessment.EffectsOnSpeciesSupplementaryInformation)</p>
                                    </div>
                                    <div is-visible="@(!string.IsNullOrEmpty(Model.Assessment.EffectsOnThreathenedSpeciesUncertaintyDocumentation) && HasUncertainty(uncertaintyD))">
                                        @{
                                            GetLetterUncertainty(uncertaintyD);
                                        }
                                        <p>@Html.Raw(Model.Assessment.EffectsOnThreathenedSpeciesUncertaintyDocumentation)</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div is-visible="decisiveCriteriaHasE">
                            @{
                                GetLetterFullText(uncertaintyE);
                            }
                            <div is-visible="!showIsNk" class="collapsible initially_closed">
                                <div class="collapsible_header">
                                    <h3>Vis detaljer</h3>
                                    <button onclick="toggleCollapsible(this)" id="myButton">
                                        <span class="material-icons expanded_icon">expand_less</span>
                                        <span class="material-icons collapsed_icon">expand_more</span>
                                    </button>
                                </div>
                                <div class="collapsible_content">
                                    <div is-visible="@Model.Assessment.SpeciesSpeciesInteractions  != null && @Model.Assessment.SpeciesSpeciesInteractions .Count() != 0">
                                        <p>
                                            Arten er vurdert å ha følgende negative interaksjoner (type interaksjon) med øvrige rødlistevurderte arter, dvs. arter som hverken er truede eller nøkkelarter . Kun effekter som er dokumentert i Norge; eller i utlandet (enten for arten selv eller for en nært beslektet og sammenlignbar art), hvor effekten er sannsynlig å opptre i Norge i løpet av 50 år, er inkludert.
                                        </p>
                                        <div class="mobile_hide">
                                            @{
                                                GetSpeciesTableDesktop(Model.Assessment.SpeciesSpeciesInteractions);
                                            }
                                        </div>
                                        <div class="only_mobile">
                                            @{
                                                GetSpeciesTablesMobile(Model.Assessment.SpeciesSpeciesInteractions);
                                            }
                                        </div>
                                    </div>
                                    <div is-visible="@Model.Assessment.SpeciesNaturetypeInteractions != null && @Model.Assessment.SpeciesNaturetypeInteractions.Count() != 0">
                                        <p>
                                            Arten er vurdert å ha følgende negative interaksjoner (type interaksjon) med grupper av arter i følgende naturtyper. Kun effekter som er dokumentert i Norge; eller i utlandet (enten for arten selv eller for en nært beslektet og sammenlignbar art), hvor effekten er sannsynlig å opptre i Norge i løpet av 50 år, er inkludert.
                                        </p>
                                        <div class="mobile_hide">
                                            @{
                                                GetNatureTypeTableDesktop(Model.Assessment.SpeciesNaturetypeInteractions);
                                            }
                                        </div>
                                        <div class="only_mobile">
                                            @{
                                                GetNatureNypeTablesMobile(Model.Assessment.SpeciesNaturetypeInteractions);
                                            }
                                        </div>
                                    </div>
                                    <div is-visible="@(!string.IsNullOrEmpty(Model.Assessment.EffectsOnSpeciesSupplementaryInformation))">
                                        <p>Utfyllende informasjon rundt artens negative effekter:</p>
                                        <p>@Html.Raw(Model.Assessment.EffectsOnSpeciesSupplementaryInformation)</p>
                                    </div>
                                    <div is-visible="@(!string.IsNullOrEmpty(Model.Assessment.EffectsOnOtherNativeSpeciesUncertaintyDocumentation) && HasUncertainty(uncertaintyE))">
                                        @{
                                            GetLetterUncertainty(uncertaintyE);
                                        }
                                        <p>@Html.Raw(Model.Assessment.EffectsOnOtherNativeSpeciesUncertaintyDocumentation)</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div is-visible="decisiveCriteriaHasF">
                            @{
                                GetLetterFullText(uncertaintyF);
                            }
                            <div is-visible="!showIsNk" class="collapsible initially_closed">
                                <div class="collapsible_header">
                                    <h3>Vis detaljer</h3>
                                    <button onclick="toggleCollapsible(this)" id="myButton">
                                        <span class="material-icons expanded_icon">expand_less</span>
                                        <span class="material-icons collapsed_icon">expand_more</span>
                                    </button>
                                </div>
                                <div class="collapsible_content">
                                    <div is-visible="showFTable">
                                        @{
                                            GetFGTable(true);
                                        }
                                    </div>
                                    <p is-visible="!string.IsNullOrEmpty(Model.Assessment.ThreatenedNatureTypesAffectedDomesticDescription)">
                                        Utfyllende informasjon rundt artens negative effekter: @Html.Raw(Model.Assessment.ThreatenedNatureTypesAffectedDomesticDescription)
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div is-visible="decisiveCriteriaHasG">
                            @{
                                GetLetterFullText(uncertaintyG);
                            }
                            <div is-visible="!showIsNk" class="collapsible initially_closed">
                                <div class="collapsible_header">
                                    <h3>Vis detaljer</h3>
                                    <button onclick="toggleCollapsible(this)" id="myButton">
                                        <span class="material-icons expanded_icon">expand_less</span>
                                        <span class="material-icons collapsed_icon">expand_more</span>
                                    </button>
                                </div>
                                <div class="collapsible_content">
                                    <div is-visible="showGTable">
                                        @{
                                            GetFGTable(false);
                                        }
                                    </div>
                                    <p is-visible="!string.IsNullOrEmpty(Model.Assessment.CommonNatureTypesAffectedDomesticDescription)">
                                        Utfyllende informasjon rundt artens negative effekter: @Html.Raw(Model.Assessment.CommonNatureTypesAffectedDomesticDescription)
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div id="risk_category_explanation_tab_block_2">
                <div>
                    <p>Øvrige kriterier som gir utslag, men som ikke påvirker artens risikokategori. <a href="">Les mer om kriteriene@{
                                /*TODO: add link when there is one*/
                            }</a></p>
                    <h3>Invasjonspotensial</h3>
                    <div>
                        innsett andre kriterier med informasjon
                    </div>
                </div>
                <div>
                    <h3>Økologisk effekt</h3>
                    <div>
                        innsett andre kriterier med informasjon
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
