@model AlienSpeciesDetailViewModel

@{
    var hasIndoorProduction = Model.Assessment.HasIndoorProduction;
    var ImportPathways = Model.Assessment.ImportPathways;
    var ImportPathwaysIntroduction = Model.Assessment.ImportPathways.Where(x => x.IntroductionSpread.ToString() == "Introduction").ToList();
    var ImportPathwaysFurtherSpreadn = Model.Assessment.ImportPathways.Where(x => x.IntroductionSpread.ToString() == "Spread").ToList();
    var hasFurtherSpread = ImportPathwaysFurtherSpreadn.Count > 0;

    void makeTable(List<AlienSpeciesAssessment2023Pathways> pathwayList )
    {        
        <table class="big-data-table" >
            <tr>
                <th>@Constants.PathwaysMainCategory </th>
                <th>@Constants.PathwaysCategory</th>
                <th>@Constants.PathwaysInfluenceFactor </th>
                <th>@Html.Raw(Constants.PathwaysMagnitude) </th>
                <th>@Constants.PathwaysTimeOfIncident </th>
            </tr>
            @foreach (var pathway in pathwayList )
            {               
                <tr>
                    <td><b class="only_mobile">@Constants.PathwaysMainCategory:</b>@pathway.MainCategory.DisplayName()</td>
                    <td><b class="only_mobile">@Constants.PathwaysCategory:</b>@pathway.Category</td>
                    <td><b class="only_mobile">@Constants.PathwaysInfluenceFactor:</b>@pathway.InfluenceFactor.DisplayName()</td>
                    <td><b class="only_mobile">@Helpers.removeLineBreaksForMobile(Constants.PathwaysMagnitude):</b>@pathway.Magnitude.DisplayName()</td>
                    <td><b class="only_mobile">@Constants.PathwaysTimeOfIncident:</b>@pathway.TimeOfIncident.DisplayName()</td>
                </tr>
            }
       </table>
    }
}

<div id="@nameof(Constants.HeadingsNo.SpreadWays)" class="page_section_header">
    <h2>Spredningsveier</h2>
    <a href="#@nameof(Constants.HeadingsNo.TableOfContents)">Tilbake til toppen</a>
</div>


<div is-visible="hasIndoorProduction">
    <h3>@Constants.hasIndoorProtectionTitle</h3>        
    <p>@Constants.hasIndoorProtectionParagraph</p>
    <p>@Constants.hasIndoorProtectionParagraph2</p>

    <div is-visible="Model.Assessment.ImportPathways.Count > 0"> 
        <p class="big-data-table table-description">
            <b>@Constants.hasIndoorProtectionTableTitle</b> 
            <span>@Constants.hasIndoorProtectionTableDescription</span>
        </p>
        @{
            makeTable(ImportPathways);
        }           
    </div>
    </div>

<div is-visible="true">
    <h3>@Constants.hasNoIndoorProtectionTitle</h3>        
    <p>@Constants.hasNoIndoorProtectionParagraph</p>

    <div is-visible="ImportPathwaysIntroduction.Count > 0"> 
        <p class="big-data-table table-description">
            <b>@Constants.hasNoIndoorProtectionTableTitle</b> 
            <span>@Constants.hasNoIndoorProtectionTableDescription</span>
        </p>
        @{
            makeTable(ImportPathwaysIntroduction );
        }           
    </div>
</div>


<div is-visible="true">
    <h3>@Constants.furtherSpreadWaysTitle</h3>        
    <p>@Constants.furtherSpreadWaysParagraph</p>

    <div is-visible="hasFurtherSpread"> 
        <p class="big-data-table table-description">
            <b>@Constants.furtherSpreadWaysTableTitle</b> 
            <span>@Constants.furtherSpreadWaysTableDescription</span>
        </p>
        @{
            makeTable(ImportPathwaysFurtherSpreadn );
        }           
    </div>
    <p is-visible="!hasFurtherSpread">
        @Constants.noFurtherSpreadWays
    </p>
</div>
