@model AlienSpeciesDetailViewModel
@{
    // Category != "NR" && AlienSpeciesCategory != "TaxonEvaluatedAtAnotherLevel";

    bool hasIndoorProduction = Model.Assessment.HasIndoorProduction;
}

<div>
    <div class="page_section_header">
        <h2>Spredningsveier</h2>
        <a href="#@Constants.HeadingsIds.TableOfContents">Tilbake til toppen</a>
    </div>

    <h3>Til innendørs- eller produksjonsareal</h3>
       <p>
        Spredningsmåter til innendørs- eller produksjonsareal omfatter artens spredningsmåter til Norge eller Svalbard, 
        og ikke artens spredningsmåter til norsk natur. 
        </p>
        
        <p>
            Herunder tilfaller enhver (a) tilsikta eller utilsikta innførsel av en art fra utlandet og til "Innendørs-Norge" 
            (f.eks. butikker, privathus, lagerbygninger) og (b) tilsikta innførsel av en art fra utlandet og til artens eget produksjonsareal.
        </p>
            
        <p class="big-data-table table-description">
            <b>Artens importveier til innendørs- eller produksjonsareal.</b> Følgende aktuelle, fortidige og sannsynlig fremtidige 
            importveier til innendørs- eller produksjonsareal er angitt for arten.</p>

      <table class="big-data-table">
        <tr>
            <th>@Constants.PathwaysMainCategory </th>
            <th>@Constants.PathwaysCategory</th>
            <th>@Constants.PathwaysInfluenceFactor </th>
            <th>@Html.Raw(Constants.PathwaysMagnitude) </th>
            <th>@Constants.PathwaysTimeOfIncident </th>
        </tr>
        @{
        foreach (var pathway in Model.Assessment.ImportPathways)
        {
            <tr>
                <td><b class="only_mobile">@Constants.PathwaysMainCategory:</b>@pathway.MainCategory</td>
                <td><b class="only_mobile">@Constants.PathwaysCategory:</b>@pathway.Category</td>
                <td><b class="only_mobile">@Constants.PathwaysInfluenceFactor:</b>@pathway.InfluenceFactor</td>
                <td><b class="only_mobile">@Html.Raw(Constants.PathwaysMagnitude):</b>@pathway.Magnitude</td>
                <td><b class="only_mobile">@Constants.PathwaysTimeOfIncident:</b>@pathway.TimeOfIncident</td>
            </tr>
            }
        }
    </table>
    
</div>