@model AlienSpeciesDetailViewModel

@{
    // WHILE INCOMPLETE: HIDE THE WHOLE ELEMENT
    var showMain = true;

    // How you want to match the dictionaries for correct subitem is
}

<div is-visible="showMain" class="page_section">
    <h2 id="TableOfContents">@Constants.HeadingsNO["TableOfContents"]</h2>
    <p>Her må det justeres hva som vises og ikke.</p>
    <ul  is-visible="showMain">
         @{
            foreach (var heading in Constants.HeadingsNO)
            {
                
               <!--<li is-visible=@Constants.ShowHeading(@heading.Key,@Model.Assessment.Category)>-->
                <li>
                    <a href="#@heading.Key">@heading.Value</a>

                    @{
                        if (Constants.SubHeadingsNO.ContainsKey(@heading.Key))
                        {
                            <ul class="subheadings">
                            @{
                                foreach (var subheading in Constants.SubHeadingsNO[@heading.Key])
                                {
                                    <li>
                                        <a href="#@subheading.Key">@subheading.Value</a>                               
                                    </li>
                                }
                             }
                         </ul>
                        }
                    }
                </li>
            }
        }
    </ul>
</div>
