@model AlienSpeciesDetailViewModel;
@using Assessments.Mapping.AlienSpecies.Model.Enums;

@{
    var hasClimateEffectsInvasionpotential = Model.Assessment.ClimateEffectsInvasionpotential == true;   
    var hasClimateEffectsEcoEffect = Model.Assessment.ClimateEffectsEcoEffect == true;   
    var hasRiskAssessmentClimateEffectsDocumentation = Model.Assessment.ClimateEffectsDocumentation != "";
}

<div id="@nameof(Constants.HeadingsNo.ClimateEffectsInvationpotential)">
    <div class="page_section_header">
        <h2>@Constants.HeadingsNo.ClimateEffectsInvationpotential</h2>
    </div>

    <div is-visible="hasClimateEffectsInvasionpotential == hasClimateEffectsEcoEffect">
        <p is-visible="!hasClimateEffectsInvasionpotential">
            @Constants.ClimateEffectExplanationNeither
            @Constants.ClimateEffectExplanationEnding
        </p>
        <p is-visible="hasClimateEffectsInvasionpotential">
           @Constants.ClimateEffectExplanationBoth
           @Constants.ClimateEffectExplanationEnding      
         </p>
    </div>

    <div is-visible="hasClimateEffectsInvasionpotential != hasClimateEffectsEcoEffect">
        <p>
            @Constants.ClimateEffectExplanationInvationPotential 
            <span is-visible="!hasClimateEffectsInvasionpotential"><i>ikke </i></span>
            @Constants.ClimateEffectExplanationEnding
        </p>
        <p>
            @Constants.ClimateEffectExplanationEcoEffect 
            <span is-visible="!hasClimateEffectsEcoEffect"><i>ikke </i></span>
            @Constants.ClimateEffectExplanationEnding
        </p>
    </div>        
                            
    <div is-visible="(hasClimateEffectsInvasionpotential || hasClimateEffectsEcoEffect) && hasRiskAssessmentClimateEffectsDocumentation">
        <h3>Betydningen av klimaendringer:</h3>
        <p>
            @Html.Raw(@Model.Assessment.ClimateEffectsDocumentation)
        </p>
    </div>
</div>
