@model ExpertStatementViewModel

@{
    var evaluationContextText = Model.EvaluationContext == Assessments.Mapping.AlienSpecies.Model.Enums.AlienSpeciesAssessment2023EvaluationContext.N ? "i Norge" : "på Svalbard";
    var showSpeciesStatusDocumentation = !string.IsNullOrEmpty(Model.CriteriaDocumentationSpeciesStatus);
    var showDomesticSpreadDocumentation = !string.IsNullOrEmpty(Model.CriteriaDocumentationDomesticSpread) || !string.IsNullOrEmpty(Model.UncertaintyStatusDescription);
    var showInvasionPotentialDocumentation = !string.IsNullOrEmpty(Model.CriteriaDocumentationInvasionPotential);
    var showEcoEffectDocumentation = !string.IsNullOrEmpty(Model.CriteriaDocumentationEcoEffect);
    var showSpreadWays = (Model.HasIndoorProduction && !string.IsNullOrEmpty(Model.SpreadIndoorFurtherInfo)) ||
                !string.IsNullOrEmpty(Model.SpreadIntroductionFurtherInfo) || 
                !string.IsNullOrEmpty(Model.SpreadFurtherSpreadFurtherInfo);
    var showReasoning = Model.Category == Assessments.Mapping.AlienSpecies.Model.Enums.AlienSpeciesAssessment2023Category.NR ||
                Model.AlienSpeciesCategory == Assessments.Mapping.AlienSpecies.Model.Enums.AlienSpeciecAssessment2023AlienSpeciesCategory.TaxonEvaluatedAtAnotherLevel;
    var showConclusion = !showReasoning && !string.IsNullOrEmpty(Model.CriteriaDocumentation);
    var showExpertSummary = showSpeciesStatusDocumentation ||
                                                        showDomesticSpreadDocumentation ||
                                                        showInvasionPotentialDocumentation ||
                                                        showEcoEffectDocumentation ||
                                                        showSpreadWays ||
                                                        showConclusion;
    var isNr = Model.Category == Assessments.Mapping.AlienSpecies.Model.Enums.AlienSpeciesAssessment2023Category.NR;
}

<div id="@nameof(Constants.HeadingsNo.ExpertSummary)">
    <div class="page_section_header">
        <h2>@Constants.HeadingsNo.ExpertSummary</h2>
    </div>

    <div is-visible="@showExpertSummary">
        <div is-visible="@showSpeciesStatusDocumentation">               
            <h3>
                Generelt om 
                @Helpers.FixSpeciesLevelWithTranslation("{arten}", Model.TaxonRank, Model.ScientificName)</h3>
            <p is-visible="!isNr">Livsmiljø: @Model.Environment.DisplayName()</p>
            <p class="expert_text">
                @Html.Raw(Model.CriteriaDocumentationSpeciesStatus)
            </p>
        </div>

        <div is-visible="@showDomesticSpreadDocumentation" >
            <h3>Utbredelse @evaluationContextText</h3>
            <p class="expert_text">
                @Html.Raw(Model.CriteriaDocumentationDomesticSpread)
            </p>
            <p class="expert_text">
                @Html.Raw(Model.UncertaintyStatusDescription)
            </p>
        </div>

        <div is-visible="@showSpreadWays">
            <h3>Spredningsmåter</h3>
            <p is-visible="@Model.HasIndoorProduction && !string.IsNullOrEmpty(Model.SpreadIndoorFurtherInfo)">
                @Html.Raw(Model.SpreadIndoorFurtherInfo)
            </p>
            <p is-visible="@(!string.IsNullOrEmpty(Model.SpreadIntroductionFurtherInfo))">
                @Html.Raw(Model.SpreadIntroductionFurtherInfo)
            </p>
            <p is-visible="@(!string.IsNullOrEmpty(Model.SpreadFurtherSpreadFurtherInfo))">
                @Html.Raw(Model.SpreadFurtherSpreadFurtherInfo)
            </p>
        </div>

        <div is-visible="@showInvasionPotentialDocumentation">
            <h3>Invasjonspotensial</h3>
            <p class="expert_text">
                @Html.Raw(Model.CriteriaDocumentationInvasionPotential)
            </p>
        </div>

        <div is-visible="@showEcoEffectDocumentation" >
            <h3>Økologisk effekt</h3>
            <p class="expert_text">
                @Html.Raw(Model.CriteriaDocumentationEcoEffect)
            </p>
        </div>
        
        <div is-visible="@showConclusion">
            <h3>@Constants.HeadingsNo.Conclusion</h3>
            <p class="expert_text">
                @Html.Raw(Model.CriteriaDocumentation)
            </p>
        </div>
    </div>
</div>
