@model AlienSpeciesDetailViewModel;
@using Assessments.Mapping.AlienSpecies.Model.Enums;

@{
    var hasGeographicVariationInCategory = @Model.Assessment.GeographicVariationInCategory == true;
    var geographicVariation = @Model.Assessment.GeographicalVariation;
    var geographicVariationDocumentation = @Model.Assessment.GeographicalVariationDocumentation;     
    var hasGeographicVariationDocumentation = geographicVariationDocumentation !=  "";
    var hasCauses = geographicVariation.Count > 0;
    var causes = geographicVariation.Count;
}

<div id="@nameof(Constants.HeadingsNo.GeographicVariationInCategory)">
    <div class="page_section_header">
        <h2>@Constants.HeadingsNo.GeographicVariationInCategory</h2>
    </div>

    <div is-visible="hasGeographicVariationInCategory">
        <p>
            @Constants.LowerCategoryThan
            <i> @Model.Assessment.Category.DisplayName().ToLowerInvariant()</i> @Model.Assessment.Category
            @Constants.LowerCategoryThanEnding                   
        </p>
        <h3  is-visible="hasCauses">Årsak til geografisk variasjon i risiko</h3>
           
        <ul class="indented_list">
            @foreach (var variation in Model.Assessment.GeographicalVariation)
            {
                <li>@variation.DisplayName()</li>
            }
        </ul>
        <br>
        
        <p is-visible="hasGeographicVariationDocumentation">
            @Html.Raw(geographicVariationDocumentation)
        </p>
    </div>
    <p is-visible="!hasGeographicVariationInCategory">                
        @Constants.NoLowerCategoryThan
        <i> @Model.Assessment.Category.DisplayName().ToLowerInvariant()</i> @Model.Assessment.Category 
        @Constants.LowerCategoryThanEnding
    </p>
</div>
