@model AlienSpeciesDetailViewModel

<p>@Helpers.FixSpeciesLevelWithTranslation("{Arten}", Model.Assessment.ScientificName.ScientificNameRank, Model.Assessment.ScientificName.ScientificName) er vurdert til <i>@Model.Assessment.Category.DisplayName().ToLowerInvariant()</i>. Den har @Model.Assessment.ScoreInvasionPotential.DisplayName().ToLowerInvariant() @Constants.xAxisLabel.ToLowerInvariant() og @Model.Assessment.ScoreEcologicalEffect.DisplayName().ToLowerInvariant() @Constants.yAxisLabel.ToLowerInvariant().</p>