@model RL2021ViewModel

@functions{

    string ViewCheck(string name, string element, string value)
    {
        return $"name={name} value={value}";// + (element == value ? " checked=checked" : String.Empty);
    }

    string GetViewClass(string element, string value)
    {
        if (String.IsNullOrEmpty(element) && value == "list")
        {
            return "class=active";
        }
        return element == value ? "class=active" : String.Empty;
    }
}

    <div class="controls_left">
        <button @GetViewClass(Model.View, "list") type="submit" @ViewCheck("View", Model.View, "list")>
            Liste
            <span class="material-icons">list</span>
        </button>
        <button @GetViewClass(Model.View, "grid") type="submit" @ViewCheck("View", Model.View, "grid") class="hideonmobile">
            Grid
            <span class="material-icons">grid_on</span>
        </button>
        <button @GetViewClass(Model.View, "stat") type="submit" @ViewCheck("View", Model.View, "stat")>
            Statistikk
            <span class="material-icons">bar_chart</span>
        </button>
    </div>

