@model RL2021ViewModel
@using static Assessments.Frontend.Web.Infrastructure.Constants
@{
    var AllAreas = ViewBag.AllAreas;
    var AllCategories = ViewBag.AllCategories;
    var AllCriterias = ViewBag.AllCriterias;
    var AllEuroPop = ViewBag.AllEuroPop;
    var AllRegions = ViewBag.AllRegions;
}
@functions{
    string CategoryCheck(string name, string[] element, string value)
    {
        return $"name={name} value={value}" + (element.Contains(value) ? " checked=checked" : String.Empty);
    }

    string ViewCheck(string name, string element, string value)
    {
        return $"name={name} value={value}" + (element == value ? " checked=checked" : String.Empty);
    }

    string GetViewClass(string element, string value)
    {
        return element == value ? "class=active" : String.Empty;
    }
}

<div class="search-and-filter">

    <form asp-action="Index2021" method="get">
        <button class="btn" type="submit" name="Export" value="true">Eksport</button>
        <!-- View controls -->
        <div class="controls">
            <div class="controls_left">
                <button @GetViewClass(Model.View, "list") type="submit">
                    <input class="collapse_checkbox" id="button-list" @ViewCheck("View", Model.View, "list") type="radio" />
                    <label for="button-list" id="listview">
                        Vis liste
                        <span class="material-icons">list</span>
                    </label>
                </button>
                <button @GetViewClass(Model.View, "grid") type="submit">
                    <input class="collapse_checkbox" id="button-grid" @ViewCheck("View", Model.View, "grid") type="radio" />
                    <label for="button-grid" id="gridview">
                        Vis grid
                        <span class="material-icons">grid_on</span>
                    </label>
                </button>
                <button @GetViewClass(Model.View, "stat") type="submit">
                    <input class="collapse_checkbox" id="button-stat" @ViewCheck("View", Model.View, "stat") type="radio" />
                    <label for="button-stat" id="statsview">
                        Vis statistikk
                        <span class="material-icons">bar_chart</span>
                    </label>
                </button>
            </div>
            <div class="controls_right">
                <button class="toggle_search" type="button">
                    <label class="show_search" for="show_search">
                        Åpne søk
                        <span class="material-icons">search</span>
                    </label>
                </button>
                <button class="toggle_filter" type="button">
                    <label class="show_filters" for="show_filters">
                        Åpne filter
                        <span class="material-icons">filter_alt</span>
                    </label>
                </button>
            </div>
        </div>
        <!-- Search -->
        <div>
            <input class="collapse_checkbox" id="show_search" type="checkbox" />
            <div class="list-search">
                <div class="searchfield">
                    <input asp-for="Name" placeholder="Søk i vitenskapelig navn" />
                    <button class="primary" type="submit">
                        <span class="material-icons">
                            search
                        </span>
                        Søk
                    </button>

                </div>
            </div>
            <div class="filters">
                <input class="collapse_checkbox" id="show_filters" @CategoryCheck("IsCheck", Model.IsCheck, "Filters") type="checkbox" />
                <div class="filters_scrollable">
                    <div class="filter_groups">
                        <label class="show_filters"><h3 class="toggle_filter">Filter</h3></label>
                        <div class="close_reset_filter">
                            <a asp-controller="Redlist" asp-action="Index2021" asp-route-IsCheck=Model.IsCheck>
                                <button>@SearchAndFilter.ResetAllFilters <span class="material-icons">delete</span></button></a>
                            <button class="close_filters">
                                <label for="show_filters">
                                    Lukk filter
                                    <span class="material-icons">close</span>
                                </label>
                            </button>
                        </div>
                        <div class="filter_group">
                            <label for="show_area"><h4>@SearchAndFilter.SearchChooseArea</h4></label>
                            <input class="collapse_checkbox" id="show_area" @CategoryCheck("IsCheck", Model.IsCheck, "Area") type="checkbox" />
                            <div class="filter_area">
                                <ul>
                                    @foreach (var area in AllAreas)
                                    {
                                        <li class="checkbox" style="margin-top: 0;">
                                            <label class="checkbox">
                                                <input type="checkbox" @CategoryCheck("Area", Model.Area, area.Value) onclick="this.form.submit();" />@area.Key
                                            </label>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>

                        <div class="filter_group">
                            <label for="show_category"><h4>@SearchAndFilter.SearchChooseCategory</h4></label>
                            <input class="collapse_checkbox" id="show_category" @CategoryCheck("IsCheck", Model.IsCheck, "Category") type="checkbox" />
                            <div class="filter_category">
                                <ul>
                                    @foreach (var category in AllCategories)
                                    {
                                        <li class="checkbox" style="margin-top: 0;">
                                            <label class="checkbox">
                                                <input type="checkbox" @CategoryCheck("Category", Model.Category, category) onclick="this.form.submit();" />@category
                                            </label>
                                        </li>
                                    }
                                    <!-- Todo: add some js onclick to remove cheched categories when removing all redlist etc -->
                                    <li class="checkbox">
                                        <label>
                                            <input type="checkbox" asp-for="Redlisted" onclick="this.form.submit();" />@SearchAndFilter.ChooseRedlisted
                                        </label>
                                    </li>
                                    <li class="checkbox">
                                        <label>
                                            <input type="checkbox" asp-for="Endangered" onclick="this.form.submit();" />@SearchAndFilter.ChooseEndangered
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="filter_group">
                            <label for="show_region">
                                <h4>Regioner og havområder</h4></span>
                                <input type="checkbox" class="collapse_checkbox" id="show_region" @CategoryCheck("IsCheck", Model.IsCheck, "Region") />
                                <div class="filter_region">
                                    <ul>
                                        @foreach (var region in AllRegions)
                                        {
                                            <li class="checkbox">
                                                <label>
                                                    <input type="checkbox" @CategoryCheck("Regions", Model.Regions, region.Key) onclick="this.form.submit();" />@region.Value
                                                </label>
                                            </li>
                                        }
                                    </ul>
                                </div>
                        </div>

                        <div class="filter_group">
                            <label for="show_european_population">
                                <h4>Andel av europeisk populasjon</h4></span>
                                <input type="checkbox" class="collapse_checkbox" @CategoryCheck("IsCheck", Model.IsCheck, "EuroPop") id="show_european_population" />
                                <div class="filter_european_population">
                                    <ul>
                                        @foreach (var pop in AllEuroPop)
                                        {
                                            <li class="checkbox">
                                                <label>
                                                    <input type="checkbox" @CategoryCheck("EuroPop", Model.EuroPop, pop.Key) onclick="this.form.submit();" />@pop.Value
                                                </label>
                                            </li>
                                        }
                                    </ul>
                                </div>
                        </div>

                        <div class="filter_group">
                            <label for="show_criteria">
                                <h4>@SearchAndFilter.SearchChooseCriteria</h4></span>
                                <input type="checkbox" class="collapse_checkbox" id="show_criteria" @CategoryCheck("IsCheck", Model.IsCheck, "Criteria") />
                                <div class="filter_criteria">
                                    <ul>
                                        @foreach (var criteria in AllCriterias)
                                        {
                                            <li class="checkbox">
                                                <label>
                                                    <input type="checkbox" @CategoryCheck("Criterias", Model.Criterias, criteria.Key) onclick="this.form.submit();" />@criteria.Key - @criteria.Value
                                                </label>
                                            </li>
                                        }
                                    </ul>
                                </div>
                        </div>

                        <div class="filter_group">
                            <label for="show_extinct"><h4>Trolig utdødd</h4></label>
                            <input type="checkbox" class="collapse_checkbox" id="show_extinct" @CategoryCheck("IsCheck", Model.IsCheck, "Extinct") />
                            <div class="filter_extinct">
                                <ul>
                                    <li class="checkbox">
                                        <label>
                                            <input type="checkbox" asp-for="PresumedExtinct" onclick="this.form.submit();" />Trolig utdødd
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
