@model RL2021ViewModel
@using static Assessments.Frontend.Web.Infrastructure.Constants
@using static Assessments.Frontend.Web.Infrastructure.FilterViewHelpers

<div class="search-and-filter">
    <form asp-action="Index2021" method="get">
        <div class="list-search">
            <input asp-for="Name" placeholder="Søk i vitenskapelig navn" />
            <button class="btn" type="submit">
                <span class="material-icons">
                    search
                </span>
                Søk
            </button>
            <button class="btn" type="submit" name="Export" value="true">Eksport</button>
        </div>
        <div>
            <input type="reset" value="@SearchAndFilter.ResetAllFilters" />
            <div class="filter_groups">
                <h3>Filter</h3>

                <div class="filter_group">
                    <h4>
                        <span>@SearchAndFilter.SearchChooseArea</span>
                    </h4>
                    <div style="cursor: pointer" data-bind="visible: svalbardVisible">
                        <ul style="margin-top: 10px; padding-left: 0">
                            <li class="checkbox" style="margin-top: 0;">
                                <label class="checkbox"
                                        style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                                    <input type="checkbox" asp-for="Norge" onclick="this.form.submit();" />Norge
                                </label>
                            </li>
                            <li class="checkbox" style="margin-top: 0;">
                                <label class="checkbox"
                                        style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                                    <input type="checkbox" asp-for="Svalbard" onclick="this.form.submit();" />Svalbard
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="filter_group">
                    <h4>
                        <span>@SearchAndFilter.SearchChooseCategory</span>
                    </h4>
                    <div style="cursor: pointer" data-bind="visible: categoryVisible">
                        <ul style="margin-top: 10px; padding-left: 0">
                            <li class="checkbox" style="margin-top: 0;">
                                <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                                    <input type="checkbox" asp-for="RE" onclick="this.form.submit();" onclick="this.form.submit();" />@SpeciesCategories.Extinct.ShortHand
                                </label>
                            </li>
                            <li class="checkbox" style="margin-top: 0;">
                                <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                                    <input type="checkbox" asp-for="CR" onclick="this.form.submit();" />@SpeciesCategories.CriticallyEndangered.ShortHand
                                </label>
                            </li>
                            <li class="checkbox" style="margin-top: 0;">
                                <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                                    <input type="checkbox" asp-for="EN" onclick="this.form.submit();" />@SpeciesCategories.Endangered.ShortHand
                                </label>
                            </li>
                            <li class="checkbox" style="margin-top: 0;">
                                <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                                    <input type="checkbox" asp-for="VU" onclick="this.form.submit();" />@SpeciesCategories.Vulnerable.ShortHand
                                </label>
                            </li>
                            <li class="checkbox" style="margin-top: 0;">
                                <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                                    <input type="checkbox" asp-for="NT" onclick="this.form.submit();" />@SpeciesCategories.NearThreatened.ShortHand
                                </label>
                            </li>
                            <li class="checkbox" style="margin-top: 0;">
                                <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                                    <input type="checkbox" asp-for="DD" onclick="this.form.submit();" />@SpeciesCategories.DataDeficient.ShortHand
                                </label>
                            </li>
                            <li class="checkbox" style="margin-top: 0;">
                                <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                                    <input type="checkbox" asp-for="LC" onclick="this.form.submit();" />@SpeciesCategories.Viable.ShortHand
                                </label>
                            </li>
                            <li class="checkbox" style="margin-top: 0;">
                                <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                                    <input type="checkbox" asp-for="NE" onclick="this.form.submit();" />@SpeciesCategories.NotEvalueted.ShortHand
                                </label>
                            </li>
                            <li class="checkbox" style="margin-top: 0;">
                                <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                                    <input type="checkbox" asp-for="NA" onclick="this.form.submit();" />@SpeciesCategories.NotAppropriate.ShortHand
                                </label>
                            </li>
                            <li class="checkbox" style="margin-top: 0;">
                                <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                                    <input type="checkbox" asp-for="Redlisted" onclick="this.form.submit();" />@SearchAndFilter.ChooseRedlisted
                                </label>
                            </li>
                            <li class="checkbox" style="margin-top: 0;">
                                <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                                    <input type="checkbox" asp-for="Endangered" onclick="this.form.submit();" />@SearchAndFilter.ChooseEndangered
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="filter_group">
                    <h4>
                        <span>Regioner og havområder</span>
                    </h4>
                    <div style="cursor: pointer">
                        <ul style="margin-top: 10px; padding-left: 0">
                            <li class="checkbox" style="margin-top: 0;">
                                <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                                    <input type="checkbox" asp-for="Agder" onclick="this.form.submit();" />Agder
                                </label>
                            </li>
                            <li class="checkbox" style="margin-top: 0;">
                                <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                                    <input type="checkbox" asp-for="Innlandet" onclick="this.form.submit();" />Innlandet
                                </label>
                            </li>
                            <li class="checkbox" style="margin-top: 0;">
                                <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                                    <input type="checkbox" asp-for="VestFoldTelemark" onclick="this.form.submit();" />Vestfold og Telemark
                                </label>
                            </li>
                            <li class="checkbox" style="margin-top: 0;">
                                <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                                    <input type="checkbox" asp-for="MoreRomsdal" onclick="this.form.submit();" />Møre og Romsdal
                                </label>
                            </li>
                            <li class="checkbox" style="margin-top: 0;">
                                <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                                    <input type="checkbox" asp-for="Nordland" onclick="this.form.submit();" />Nordland
                                </label>
                            </li>
                            <li class="checkbox" style="margin-top: 0;">
                                <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                                    <input type="checkbox" asp-for="Rogaland" onclick="this.form.submit();" />Rogaland
                                </label>
                            </li>
                            <li class="checkbox" style="margin-top: 0;">
                                <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                                    <input type="checkbox" asp-for="TromsFinnmark" onclick="this.form.submit();" />Troms og Finnmark
                                </label>
                            </li>
                            <li class="checkbox" style="margin-top: 0;">
                                <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                                    <input type="checkbox" asp-for="Trondelag" onclick="this.form.submit();" />Trøndelag
                                </label>
                            </li>
                            <li class="checkbox" style="margin-top: 0;">
                                <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                                    <input type="checkbox" asp-for="Vestland" onclick="this.form.submit();" />Vestland
                                </label>
                            </li>
                            <li class="checkbox" style="margin-top: 0;">
                                <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                                    <input type="checkbox" asp-for="VikenOslo" onclick="this.form.submit();" />Viken og Oslo
                                </label>
                            </li>
                            <li class="checkbox" style="margin-top: 0;">
                                <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                                    <input type="checkbox" asp-for="Havomroder" onclick="this.form.submit();" />Havområder
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="filter_group">
                    <h4>
                        <span>Andel av europeisk populasjon</span>
                    </h4>
                    <div style="cursor: pointer" data-bind="visible: criteriaVisible">
                        <ul style="margin-top: 10px; padding-left: 0">
                            <li class="checkbox" style="margin-top: 0;">
                                <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                                    <input type="checkbox" asp-for="EuropeanPopLt5" onclick="this.form.submit();" />&lt; 5 %
                                </label>
                            </li>
                            <li class="checkbox" style="margin-top: 0;">
                                <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                                    <input type="checkbox" asp-for="EuropeanPopRange5To25" onclick="this.form.submit();" />5 - 25 %
                                </label>
                            </li>
                            <li class="checkbox" style="margin-top: 0;">
                                <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                                    <input type="checkbox" asp-for="EuropeanPopRange25To50" onclick="this.form.submit();" />25 - 50 %
                                </label>
                            </li>
                            <li class="checkbox" style="margin-top: 0;">
                                <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                                    <input type="checkbox" asp-for="EuropeanPopGt50" onclick="this.form.submit();" />&gt; 50 %
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="filter_group">
                    <h4>
                        <span>@SearchAndFilter.SearchChooseCriteria</span>
                    </h4>
                    <div style="cursor: pointer" data-bind="visible: criteriaVisible">
                        <ul style="margin-top: 10px; padding-left: 0">
                            <li class="checkbox" style="margin-top: 0;">
                                <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                                    <input type="checkbox" asp-for="CriteriaA" onclick="this.form.submit();" />A - populasjonsreduksjon
                                </label>
                            </li>
                            <li class="checkbox" style="margin-top: 0;">
                                <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                                    <input type="checkbox" asp-for="CriteriaB" onclick="this.form.submit();" />B - lite areal
                                </label>
                            </li>
                            <li class="checkbox" style="margin-top: 0;">
                                <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                                    <input type="checkbox" asp-for="CriteriaC" onclick="this.form.submit();" />C - liten populasjon
                                </label>
                            </li>
                            <li class="checkbox" style="margin-top: 0;">
                                <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                                    <input type="checkbox" asp-for="CriteriaD" onclick="this.form.submit();" />D - svært liten populasjon eller forekomst
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="filter_group">
                    <h4>
                        <span>Trolig utdødd</span>
                    </h4>
                    <div style="cursor: pointer">
                        <ul style="margin-top: 10px; padding-left: 0">
                            <li class="checkbox" style="margin-top: 0;">
                                <label class="checkbox"
                                    style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                                    <input type="checkbox" asp-for="PresumedExtinct" onclick="this.form.submit();" />Trolig utdødd
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
        