@model RL2021ViewModel
@using static Assessments.Frontend.Web.Infrastructure.Constants
@{
    var AllAreas = ViewBag.AllAreas;
    var AllCategories = ViewBag.AllCategories;
    var AllCriterias = ViewBag.AllCriterias;
    var AllEuroPop = ViewBag.AllEuroPop;
    var AllRegions = ViewBag.AllRegions;
    Dictionary<string, Dictionary<string, string>> AllHabitats = ViewBag.habitat.ToObject<Dictionary<string, Dictionary<string, string>>>();
    var AllTaxonRanks = ViewBag.AllTaxonRanks;
    string[] AllSpeciesGroups = ViewBag.AllSpeciesGroups;
    string[] AllInsects = ViewBag.AllInsects;
}

@functions{
    void InputTag(string id, string _class, string name, string[] elements, string value)
    {
        if (id == "remember_scroll")
        {
            foreach (var item in elements)
                if (item.Contains("scroll_"))
                    value = item.Replace("scroll_", "");
        }
        <input id=@id type="checkbox" class="@_class" name=@name value="@value" @(elements.Contains(value) ? " checked=checked" : String.Empty) />
    }
    void InputTag(string name, string[] elements, string value)
    {
        InputTag(value, "submitOnclick", name, elements, value);
    }

    void getInsectsList(string[] insects)
    {
        <div class="filter_insects">
            <ul class="insect_filters">
                @foreach (var insect in insects)
                {
                    <li class="checkbox">
                        <label>
                            @{
                                InputTag(insect, "insect_input submitOnclick", "SpeciesGroups", Model.SpeciesGroups, insect); 
                            }
                        </label>
                        <span>@insect</span>
                    </li>
                }
            </ul>
        </div>
    }

    void GetRemoveString()
    {
        <span>Fjern &nbsp;</span> 
        @if (GetActiveSelectionCount() > 0)
        {
            <div class="filterstring"><span>@GetActiveSelectionCount()&nbsp;</span></div>
            @if (GetActiveSelectionCount() > 1)
            {
                <span>filtre &nbsp;</span>
            } else 
            {
                <span>filter &nbsp;</span>
            }
        }
        @if (!string.IsNullOrEmpty(GetActiveSelection()) && GetActiveSelectionCount() > 0)
        {
            <span> og &nbsp;</span>
        }
        @if (!string.IsNullOrEmpty(GetActiveSelection()))
        {
            <span>søket &nbsp;</span><div class="filterstring"><span>&ldquo;@GetActiveSelection()&rdquo;</span></div>
        }
    }

    int GetActiveSelectionCount()
    {
        int count = 0;
        count += Model.Area.Length;
        count += Model.Category.Length;
        count += Model.SpeciesGroups.Length;
        count += Model.TaxonRank.Length;
        count += Model.Habitats.Length;
        count += Model.Regions.Length;
        count += Model.EuroPop.Length;
        count += Model.Criterias.Length;
        if (Model.PresumedExtinct)
            count++;

        return count;
    }    

    string GetActiveSelection()
    {
        if (!string.IsNullOrEmpty(Model.Name))
        {
            return $"{Model.Name}";
        }
        return String.Empty;
    }

    string GetActiveFilters(string filterType)
    {
        switch (filterType)
        {
            case "Area":
                if (Model.Area?.Any() == true)
                    return $"{Model.Area.Length}";
                return String.Empty;
            case "Category":
                if (Model.Category?.Any() == true)
                    return $"{Model.Category.Length}";
                return String.Empty;
            case "TaxonRank":
                if (Model.TaxonRank?.Any() == true)
                    return $"{Model.TaxonRank.Length}";
                return String.Empty;
            case "SpeciesGroups":
                if (Model.SpeciesGroups?.Any() == true)
                {
                    if (Model.SpeciesGroups.Contains("Insekter"))
                        return $"{Model.SpeciesGroups.Length - 1}";
                    return $"{Model.SpeciesGroups.Length}";
                }
                return String.Empty;
            case "Habitats":
                if (Model.Habitats?.Any() == true)
                    return $"{Model.Habitats.Length}";
                return String.Empty;
            case "Regions":
                if (Model.Regions?.Any() == true)
                    return $"{Model.Regions.Length}";
                return String.Empty;
            case "EuroPop":
                if (Model.EuroPop?.Any() == true)
                    return $"{Model.EuroPop.Length}";
                return String.Empty;
            case "Criterias":
                if (Model.Criterias?.Any() == true)
                    return $"{Model.Criterias.Length}";
                return String.Empty;
            case "PresumedExtinct":
                if (Model.PresumedExtinct == true)
                    return $"1";
                return String.Empty;
            case "Insects":
                if (AllInsects.Any(insect => Model.SpeciesGroups.Contains(insect)))
                {
                    int count = 0;
                    foreach (var insect in AllInsects)
                        if (Model.SpeciesGroups.Contains(insect))
                            count ++;
                    return $"{count}";
                }
                return String.Empty;
            default:
                return String.Empty;
        }
    }
}

<div class="empty_filters_and_controls">
    <div class="empty_filters">
        @if (GetActiveSelectionCount() != 0 || !string.IsNullOrEmpty(GetActiveSelection()))
        {
                <a class="button tinybutton tertiary" asp-controller="Redlist" asp-action="Index2021">
                    <div class="flex_row">
                        @{ GetRemoveString(); }
                    </div>
                    <span><span class="material-icons">close</span></span>
                </a>
        }  
    </div>

    <div class="controls">

        <partial name="/Views/Redlist/List/partials/_ControlButtons.cshtml" />

        <button class="toggle_filter only_mobile" id="open_filter" value="open_filters" name="Åpne filter" type="button" onclick="openFilters()">
            <span class="filternumber">@GetActiveSelection()</span>
            <span class="material-icons">
                filter_list
            </span>Filter
        </button>
    </div>
</div>

<div class="listwrapper">
    <div class="filtercontainer">
        @{ InputTag("initial_check", "meta_checkbox", "Meta", Model.Meta, "Visited");}
        @{ InputTag("remember_scroll", "meta_checkbox", "Meta", Model.Meta, "0");}
        <!-- View controls -->
        <div id="filters">
            <div id="filter_modal_background">
                <div id="filters_scrollable">
                    <div class="filter_groups">
                        <h3 class="toggle_filter filter_header">
                            <span class="material-icons">
                                filter_list
                            </span>
                            <span>Filter</span>                          
                        </h3>
                        <div class="close_reset_filter">
                            <button class="close_filters closebutton" name="Lukk filtre" type="button" onclick="closeFilters()">
                                <span class="material-icons">close</span>
                            </button>
                        </div>
                        <ul>
                            <li class="filter_group">
                                @{ InputTag("show_area", "collapse_checkbox", "IsCheck", Model.IsCheck, "Area");}
                                <button name="områdefiltre" class="list_header" id="list_header_area" onclick="collapse('show_area')" type="button">
                                    <span class="list_header_text">
                                        @SearchAndFilter.SearchChooseArea
                                        <span class="filternumber">@GetActiveFilters("Area")</span>
                                    </span>
                                </button>
                                <div class="filter_area">
                                    <ul>
                                        @foreach (var area in AllAreas)
                                        {
                                            <li class="checkbox" style="margin-top: 0;">
                                                <label>
                                                    @{ InputTag("Area", Model.Area, area.Value);}
                                                </label>
                                                <span>@area.Key</span>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </li>
                            <li class="filter_group">
                                @{ InputTag("show_category", "collapse_checkbox", "IsCheck", Model.IsCheck, "Category");}
                                <button name="kategorifiltre" class="list_header" id="list_header_category" onclick="collapse('show_category')" type="button">
                                    <span class="list_header_text">
                                        @SearchAndFilter.SearchChooseCategory
                                        <span class="filternumber">@GetActiveFilters("Category")</span>
                                    </span>
                                </button>
                                <div class="filter_category">
                                    <ul>
                                        @foreach (var category in AllCategories)
                                        {
                                            <li class="checkbox" style="margin-top: 0;">
                                                <label>
                                                    @{
                                                        InputTag("input_" + category, "submitOnclick", "Category", Model.Category, category);
                                                    }
                                                </label>
                                                <span>@category</span>
                                            </li>
                                        }
                                        <!-- Todo: add some js onclick to remove cheched categories when removing all redlist etc -->
                                        <li class="checkbox">
                                            <label>
                                                <input id="redlisted_check" type="checkbox" asp-for="Redlisted" class="submitOnclick" />
                                            </label>
                                            <span>@SearchAndFilter.ChooseRedlisted</span>
                                        </li>
                                        <li class="checkbox">
                                            <label>
                                                <input id="endangered_check" type="checkbox" asp-for="Endangered" class="submitOnclick" />
                                            </label>
                                            <span>@SearchAndFilter.ChooseEndangered</span>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="filter_group">
                                @{ InputTag("show_taxon_rank", "collapse_checkbox", "IsCheck", Model.IsCheck, "TaxonRank");}
                                <button name="'taksonomisk nivå'-filtre" class="list_header" id="list_header_taxon_rank" onclick="collapse('show_taxon_rank')" type="button">
                                    <span class="list_header_text">
                                        @SearchAndFilter.SearchFilterTaxonRank
                                        <span class="filternumber">@GetActiveFilters("TaxonRank")</span>
                                    </span>
                                </button>
                                <div class="filter_taxon_rank">
                                    <ul>
                                        @foreach (var rank in AllTaxonRanks)
                                        {
                                            <li class="checkbox" style="margin-top: 0;">
                                                <label>
                                                    @{ InputTag("TaxonRank", Model.TaxonRank, rank.Key);}
                                                </label>
                                                <span>@rank.Value</span>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </li>

                            <li class="filter_group">
                                @{ InputTag("show_species_groups", "collapse_checkbox", "IsCheck", Model.IsCheck, "SpeciesGroups");}
                                <button name="artsgruppefiltre" class="list_header" id="list_header_species_groups" onclick="collapse('show_species_groups')" type="button">
                                    <span class="list_header_text">
                                        Artsgruppe
                                        <span class="filternumber">@GetActiveFilters("SpeciesGroups")</span>
                                    </span>
                                </button>
                                <div class="filter_species_groups">
                                    <ul>
                                        @foreach (var species in AllSpeciesGroups)
                                        {
                                            @if (species == "Insekter")
                                            {
                                                InputTag("show_insects", "collapse_checkbox", "IsCheck", Model.IsCheck, "Insects");
                                                <li class="checkbox">
                                                    <button name="insektsfiltre" class="list_header" id="list_header_insects" onclick="collapse('show_insects')" type="button">
                                                        <span>@species</span>
                                                        <span class="list_header_text">
                                                            <span class="filternumber">@GetActiveFilters("Insects")</span>
                                                        </span>
                                                        <span id="show_all_insects">Maker alle</span>
                                                        <label onclick="event.stopPropagation()">
                                                            @{ InputTag("SpeciesGroups", Model.SpeciesGroups, species); }
                                                        </label>
                                                    </button>
                                                </li>
                                                getInsectsList(AllInsects);
                                            } 
                                            else
                                            {
                                                <li class="checkbox">
                                                    <label>
                                                        @{ InputTag("SpeciesGroups", Model.SpeciesGroups, species); }
                                                    </label>
                                                    <span>@species</span>
                                                </li>
                                            }
                                            
                                        }
                                    </ul>
                                </div>
                            </li>

                            <li class="filter_group">
                                @{ InputTag("show_habitat", "collapse_checkbox", "IsCheck", Model.IsCheck, "Habitat");}
                                <button name="hovedhabitatfiltre" class="list_header" id="list_header_habitat" onclick="collapse('show_habitat')" type="button">
                                    <span class="list_header_text">
                                        Hovedhabitat
                                        <span class="filternumber">@GetActiveFilters("Habitats")</span>
                                    </span>
                                </button>
                                <div class="filter_habitat">
                                    <ul>
                                        @foreach (var habitat in AllHabitats)
                                        {
                                            <li class="checkbox">
                                                <label>
                                                    @{ InputTag("Habitats", Model.Habitats, habitat.Key); }
                                                </label>
                                                <span>@habitat.Value["shortname"]</span>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </li>

                            <li class="filter_group">
                                @{ InputTag("show_region", "collapse_checkbox", "IsCheck", Model.IsCheck, "Region");}
                                <button name="regionfiltre" class="list_header" id="list_header_region" onclick="collapse('show_region')" type="button">
                                    <span class="list_header_text">
                                        Regioner og havområder
                                        <span class="filternumber">@GetActiveFilters("Regions")</span>
                                    </span>
                                </button>
                                <div class="filter_region">
                                    <ul>
                                        @foreach (var region in AllRegions)
                                        {
                                            <li class="checkbox">
                                                <label>
                                                    @{ InputTag("Regions", Model.Regions, region.Key);}
                                                </label>
                                                <span>@region.Value</span>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </li>

                            <li class="filter_group">
                                @{ InputTag("show_european_population", "collapse_checkbox", "IsCheck", Model.IsCheck, "EuroPop");}
                                <button name="'andel av europeisk populasjon'-filtre" class="list_header" id="list_header_european_population" onclick="collapse('show_european_population')" type="button">
                                    <span class="list_header_text">
                                        Andel av europeisk populasjon
                                        <span class="filternumber">@GetActiveFilters("EuroPop")</span>
                                    </span>
                                </button>
                                <div class="filter_european_population">
                                    <ul>
                                        @foreach (var pop in AllEuroPop)
                                        {
                                            <li class="checkbox">
                                                <label>
                                                    @{ InputTag("EuroPop", Model.EuroPop, pop.Key);}
                                                </label>
                                                <span>@pop.Value</span>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </li>

                            <li class="filter_group">
                                @{ InputTag("show_criteria", "collapse_checkbox", "IsCheck", Model.IsCheck, "Criteria");}
                                <button name="kriteriefiltre" class="list_header" id="list_header_criteria" onclick="collapse('show_criteria')" type="button">
                                    <span class="list_header_text">
                                        @SearchAndFilter.SearchChooseCriteria
                                        <span class="filternumber">@GetActiveFilters("Criterias")</span>
                                    </span>
                                </button>
                                <div class="filter_criteria">
                                    <ul>
                                        @foreach (var criteria in AllCriterias)
                                        {
                                            <li class="checkbox">
                                                <label>
                                                    @{ InputTag("Criterias", Model.Criterias, criteria.Key);}
                                                </label>
                                                <span>@criteria.Key - @criteria.Value</span>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </li>

                            <li class="filter_group">
                                @{ InputTag("show_extinct", "collapse_checkbox", "IsCheck", Model.IsCheck, "Extinct");}
                                <button name="'trolig utdødd'-filter" class="list_header" id="list_header_extinct" onclick="collapse('show_extinct')" type="button">
                                    <span class="list_header_text">
                                        Trolig utdødd
                                        <span class="filternumber">@GetActiveFilters("PresumedExtinct")</span>
                                    </span>
                                </button>
                                <div class="filter_extinct">
                                    <ul>
                                        <li class="checkbox">
                                            <label>
                                                <input type="checkbox" class="submitOnclick" asp-for="PresumedExtinct" />
                                            </label>
                                            <span>Trolig utdødd</span>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <div class="filters_bottom">
                                <button class="close_filters" name="Lukk filtre" type="button" onclick="closeFilters()">
                                    Avslutt
                                    <span class="material-icons">close</span>
                                </button>

                                <button class="hideonmobile tertiary" type="submit" name="Export" value="true" formtarget="_blank">
                                    <span class="material-icons">file_download</span> Eksporter
                                </button>
                                <button id="submit_filters" name="Påfør filter" type="submit" class="primary">
                                    <span class="material-icons">done</span> Påfør
                                </button>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <partial name="/Views/Redlist/List/partials/_View.cshtml" />
</div>
