@model RL2021ViewModel
@using static Assessments.Frontend.Web.Infrastructure.Constants
@{
    var AllAreas = ViewBag.AllAreas;
    var AllCategories = ViewBag.AllCategories;
    var AllCriterias = ViewBag.AllCriterias;
    var AllEuroPop = ViewBag.AllEuroPop;
    var AllRegions = ViewBag.AllRegions;
    Dictionary<string, Dictionary<string, string>> AllHabitats = ViewBag.habitat.ToObject<Dictionary<string, Dictionary<string, string>>>();
    Dictionary<string, Dictionary<string, string>> AllSpeciesGroups = ViewBag.speciesgroup.ToObject<Dictionary<string, Dictionary<string, string>>>();
}
@functions{
    string CategoryCheck(string name, string[] element, string value)
    {
        return $"name={name} value={value}" + (element.Contains(value) ? " checked=checked" : String.Empty);
    }

    string ViewCheck(string name, string element, string value)
    {
        return $"name={name} value={value}" + (element == value ? " checked=checked" : String.Empty);
    }

    string GetViewClass(string element, string value)
    {
        return element == value ? "class=active" : String.Empty;
    }
}

<div class="search-and-filter">

    <form asp-action="Index2021" method="get">

        <!-- View controls -->
        <div class="controls">
            <div class="controls_left">


                <button @GetViewClass(Model.View, "list") type="submit">
                    <input class="collapse_checkbox" id="button-list" @ViewCheck("View", Model.View, "list") type="radio" />
                    <label for="button-list" id="listview">
                        Vis liste
                        <span class="material-icons">list</span>
                    </label>
                </button>


                <button @GetViewClass(Model.View, "grid") type="submit" class="hideonmobile">
                    <input class="collapse_checkbox" id="button-grid" @ViewCheck("View", Model.View, "grid") type="radio" />
                    <label for="button-grid" id="gridview">
                        Vis grid
                        <span class="material-icons">grid_on</span>
                    </label>
                </button>
                <button @GetViewClass(Model.View, "stat") type="submit">
                    <input class="collapse_checkbox" id="button-stat" @ViewCheck("View", Model.View, "stat") type="radio" />
                    <label for="button-stat" id="statsview">
                        Vis statistikk
                        <span class="material-icons">bar_chart</span>
                    </label>
                </button>
            </div>
            <div class="controls_right">
                <label class="show_search" for="show_search">
                    <button class="toggle_search" type="button">
                        Åpne søk
                        <span class="material-icons">search</span>
                    </button>
                </label>
                <label class="show_filters" for="show_filters">
                    <button class="toggle_filter" type="button">
                        Åpne filter
                        <span class="material-icons">filter_alt</span>
                    </button>
                </label>
            </div>
        </div>
        <!-- Search -->
        <div>
            <input class="collapse_checkbox" id="show_search" type="checkbox" />
            <div class="list-search">
                <div class="searchfield">
                    <input asp-for="Name" placeholder="Søk i vitenskapelig navn" />
                    <button class="primary" type="submit">
                        <span class="material-icons">
                            search
                        </span>
                        Søk
                    </button>

                </div>
            </div>
            <div class="filters">
                <input class="collapse_checkbox" id="show_filters" @CategoryCheck("IsCheck", Model.IsCheck, "Filters") type="checkbox" />
                <div class="filters_scrollable">
                    <div class="filter_groups">
                        <label class="show_filters"><h3 class="toggle_filter">Filter</h3></label>
                        <div class="close_reset_filter">
                            <a asp-controller="Redlist" asp-action="Index2021" asp-route-IsCheck=Model.IsCheck>
                                <button>@SearchAndFilter.ResetAllFilters <span class="material-icons">delete</span></button>
                            </a>
                            <button class="close_filters" type="button">
                                <label for="show_filters">
                                    Lukk filter
                                    <span class="material-icons">close</span>
                                </label>
                            </button>
                        </div>
                        <ul>
                            <li class="filter_group">
                                <input class="collapse_checkbox" id="show_area" @CategoryCheck("IsCheck", Model.IsCheck, "Area") type="checkbox" />
                                <label for="show_area">
                                    <h4 class="list_header">
                                        <span class="list_header_text">@SearchAndFilter.SearchChooseArea</span>
                                        <span class="material-icons more">expand_more</span>
                                        <span class="material-icons less">expand_less</span>
                                    </h4>
                                </label>
                                <div class="filter_area">
                                    <ul>
                                        @foreach (var area in AllAreas)
                                        {
                                            <li class="checkbox" style="margin-top: 0;">
                                                <label class="checkbox">
                                                    <input type="checkbox" @CategoryCheck("Area", Model.Area, area.Value) onclick="this.form.submit();" />@area.Key
                                                </label>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </li>

                            <li class="filter_group">
                                <input class="collapse_checkbox" id="show_category" @CategoryCheck("IsCheck", Model.IsCheck, "Category") type="checkbox" />
                                <label for="show_category">
                                    <h4 class="list_header">
                                        <span class="list_header_text">@SearchAndFilter.SearchChooseCategory</span>
                                        <span class="material-icons more">expand_more</span>
                                        <span class="material-icons less">expand_less</span>
                                    </h4>
                                    </label>
                                <div class="filter_category">
                                    <ul>
                                        @foreach (var category in AllCategories)
                                        {
                                            <li class="checkbox" style="margin-top: 0;">
                                                <label class="checkbox">
                                                    <input type="checkbox" @CategoryCheck("Category", Model.Category, category) onclick="this.form.submit();" />@category
                                                </label>
                                            </li>
                                        }
                                        <!-- Todo: add some js onclick to remove cheched categories when removing all redlist etc -->
                                        <li class="checkbox">
                                            <label>
                                                <input type="checkbox" asp-for="Redlisted" onclick="this.form.submit();" />@SearchAndFilter.ChooseRedlisted
                                            </label>
                                        </li>
                                        <li class="checkbox">
                                            <label>
                                                <input type="checkbox" asp-for="Endangered" onclick="this.form.submit();" />@SearchAndFilter.ChooseEndangered
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="filter_group">
                                <input type="checkbox" class="collapse_checkbox" id="show_species_groups" @CategoryCheck("IsCheck", Model.IsCheck, "SpeciesGroups") />
                                <label for="show_species_groups">
                                    <h4 class="list_header">
                                        <span class="list_header_text">Artsgruppe</span>
                                        <span class="material-icons more">expand_more</span>
                                        <span class="material-icons less">expand_less</span>
                                    </h4></span></label>
                                <div class="filter_species_groups">
                                    <ul>
                                        @foreach (var species in AllSpeciesGroups)
                                        {
                                            <li class="checkbox">
                                                <label>
                                                    <input type="checkbox" @CategoryCheck("SpeciesGroups", Model.SpeciesGroups, species.Key) onclick="this.form.submit();" />@species.Key
                                                </label>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </li>

                            <li class="filter_group">
                                <input type="checkbox" class="collapse_checkbox" id="show_habitat" @CategoryCheck("IsCheck", Model.IsCheck, "Habitat") />
                                <label for="show_habitat">
                                    <h4 class="list_header">
                                        <span class="list_header_text">Hovedhabitat</span>
                                        <span class="material-icons more">expand_more</span>
                                        <span class="material-icons less">expand_less</span>
                                    </h4></span></label>
                                <div class="filter_habitat">
                                    <ul>
                                        @foreach (var habitat in AllHabitats)
                                        {
                                            <li class="checkbox">
                                                <label>
                                                    <input type="checkbox" @CategoryCheck("Habitats", Model.Habitats, habitat.Key) onclick="this.form.submit();" />@habitat.Value["name"]
                                                </label>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </li>

                            <li class="filter_group">
                                <input type="checkbox" class="collapse_checkbox" id="show_region" @CategoryCheck("IsCheck", Model.IsCheck, "Region") />
                                <label for="show_region">
                                    <h4 class="list_header">
                                        <span class="list_header_text">Regioner og havområder</span>
                                        <span class="material-icons more">expand_more</span>
                                        <span class="material-icons less">expand_less</span>
                                    </h4></span></label>
                                <div class="filter_region">
                                    <ul>
                                        @foreach (var region in AllRegions)
                                        {
                                            <li class="checkbox">
                                                <label>
                                                    <input type="checkbox" @CategoryCheck("Regions", Model.Regions, region.Key) onclick="this.form.submit();" />@region.Value
                                                </label>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </li>

                            <li class="filter_group">
                                <input type="checkbox" class="collapse_checkbox" @CategoryCheck("IsCheck", Model.IsCheck, "EuroPop") id="show_european_population" />
                                <label for="show_european_population">
                                    <h4 class="list_header">
                                        <span class="list_header_text">Andel av europeisk populasjon</span>
                                        <span class="material-icons more">expand_more</span>
                                        <span class="material-icons less">expand_less</span>
                                    </h4></span></label>
                                <div class="filter_european_population">
                                    <ul>
                                        @foreach (var pop in AllEuroPop)
                                        {
                                            <li class="checkbox">
                                                <label>
                                                    <input type="checkbox" @CategoryCheck("EuroPop", Model.EuroPop, pop.Key) onclick="this.form.submit();" />@pop.Value
                                                </label>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </li>

                            <li class="filter_group">
                                <input type="checkbox" class="collapse_checkbox" id="show_criteria" @CategoryCheck("IsCheck", Model.IsCheck, "Criteria") />
                                <label for="show_criteria">
                                    <h4 class="list_header">
                                        <span class="list_header_text">@SearchAndFilter.SearchChooseCriteria</span>
                                        <span class="material-icons more">expand_more</span>
                                        <span class="material-icons less">expand_less</span>
                                    </h4></span>
                                </label>
                                <div class="filter_criteria">
                                    <ul>
                                        @foreach (var criteria in AllCriterias)
                                        {
                                            <li class="checkbox">
                                                <label>
                                                    <input type="checkbox" @CategoryCheck("Criterias", Model.Criterias, criteria.Key) onclick="this.form.submit();" />@criteria.Key - @criteria.Value
                                                </label>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </li>

                            <li class="filter_group">
                                <input type="checkbox" class="collapse_checkbox" id="show_extinct" @CategoryCheck("IsCheck", Model.IsCheck, "Extinct") />
                                <label for="show_extinct">
                                    <h4 class="list_header">
                                        <span class="list_header_text">Trolig utdødd</span>
                                        <span class="material-icons more">expand_more</span>
                                        <span class="material-icons less">expand_less</span>
                                    </h4></label>
                                <div class="filter_extinct">
                                    <ul>
                                        <li class="checkbox">
                                            <label>
                                                <input type="checkbox" asp-for="PresumedExtinct" onclick="this.form.submit();" />Trolig utdødd
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <button class="btn" type="submit" name="Export" value="true">Eksporter utvalg</button>
                        </div>
                    </ul>
                </div>
                
            </div>
            
        </div>
        
    </form>
</div>
