@model RL2021ViewModel


<!-- Data from model -->
@{
    Dictionary<string, Dictionary<string, string>> speciesgroup = ViewBag.speciesgroup.ToObject<Dictionary<string, Dictionary<string, string>>>();

}



    <ul class="redlist" id="redlist">
        <li class="listheader" id="listheader">
            <span>Artsnavn</span>
            <span>Kategori</span>
            <span>Artsgruppe</span>
            <span>Område</span>
            <span>Ikon</span>
        </li>


        @foreach (var item in Model.Redlist2021Results)
        {

            <li class="list">
                <a asp-action="Detail" asp-route-id="@item.Id">
                    @{
                        // TODO: The number of fields contained in the box does not add up. Fix.
                        // Makes it very strange and overflowy in grid view.
                    }
                    <span class="element_name">@item.ScientificName</span>
                    <span class="element_category">
                        <span class="@item.Category">@item.Category</span>
                    </span>
                    <span class="element_group">@item.ExpertCommittee</span>
                    <span class="element_area">
                        @item.AssessmentArea
                        @if (@item.AssessmentArea == "N")
                        {
                            <img src="~/images/norge.png" alt="Bilde av Norge" />
                        }
                        else if (@item.AssessmentArea == "S")
                        {
                            <img src="~/images/svalbard.png" alt="Bilde av Svalbard" />
                        }

                    </span>

                    <div class="element_icon">
                        @if (speciesgroup[item.ExpertCommittee]["image"] != null)
                        {
                            <img src="@speciesgroup[item.ExpertCommittee]["image"]" />
                        }
                    </div>

                </a>
            </li>
        }
    </ul>
