@model RL2021ViewModel


<!-- Data from model -->
@{
    Dictionary<string, Dictionary<string, string>> speciesgroup = ViewBag.speciesgroup.ToObject<Dictionary<string, Dictionary<string, string>>>();
}

@functions
{
    string Capitalize(string name)
    {
        if (!string.IsNullOrEmpty(name))
            return char.ToUpper(name[0]) + name.Substring(1);
        return name;
    }
}



    <ul class="redlist" id="redlist">
        <li class="listheader" id="listheader">
            <span class="fullsize">Artsnavn</span>
            <span class="fullsize">Populærnavn</span>
            <span class="mobile">Art</span>
            <span class="allsize">Artsgruppe</span>
            <span class="allsize">Område</span>
            <span class="allsize">Kategori</span>

        </li>


        @foreach (var item in Model.Redlist2021Results)
        {
            <li class="list">
                <a asp-action="Detail" asp-route-id="@item.Id">
                    @{
                        // TODO: The number of fields contained in the box does not add up. Fix.
                        // Makes it very strange and overflowy in grid view.
                    }


                    <div class="element_icon">
                        @if (speciesgroup.ContainsKey(item.SpeciesGroup) && speciesgroup[item.SpeciesGroup]["image"] != null)
                        {
                            <img src="@speciesgroup[item.SpeciesGroup]["image"]" />
                        }
                    </div>


                    <span class="element_species">
                        <span class="element_name">@item.ScientificName</span>
                        <span class="element_popular_name">@Capitalize(item.PopularName)</span>
                    </span>


                    <span class="element_speciesgroup">
                        <span class="element_group">@item.SpeciesGroup</span>
                    </span>
                    <span class="element_area">
                        @if (@item.AssessmentArea == "N")
                        {
                            <span> Norge </span>
                        }
                        else if (@item.AssessmentArea == "S")
                        {
                            <span>Svalbard</span>
                        }
                    </span>


                    <span class="category_element">

                        @if (!string.IsNullOrEmpty(item.Category))
                        {
                            @ViewBag.categories[item.Category.Substring(0, 2)]["presentationstring"];
                        }
                    </span>
                    <span class="category_element" style="text-align:right;">

                        <span class="@item.Category.Substring(0,2) category_tag">@item.Category</span>

                    </span>

                </a>
            </li>
        }
    </ul>
