@model RL2021ViewModel


<!-- Data from model -->
@{
    Dictionary<string, Dictionary<string, string>> speciesgroup = ViewBag.speciesgroup.ToObject<Dictionary<string, Dictionary<string, string>>>();
}

@functions
{
    string Capitalize(string name)
    {
        if (!string.IsNullOrEmpty(name))
            return char.ToUpper(name[0]) + name.Substring(1);
        return name;
    }
}



    <ul class="redlist" id="redlist">
        <li class="listheader" id="listheader">
            <span class="fullsize">Artsnavn</span>
            <span class="fullsize">Populærnavn</span>
            <span class="mobile">Art</span>
            <span class="allsize">Artsgruppe</span>
            <span class="allsize">Område</span>
            <span class="allsize">Kategori</span>

        </li>


        @foreach (var item in Model.Redlist2021Results)
        {
            <li class="list">
                <a asp-action="Detail" asp-route-id="@item.Id" class="@item.AssessmentArea">
                    @{
                        // TODO: The number of fields contained in the box does not add up. Fix.
                        // Makes it very strange and overflowy in grid view.
                    }


                    <div class="element_icon list_cell"
                         style="display:flex;flex-direction:column;height:50px;font-size:8px;
                                            text-align:center;">
                        <span class="svalbard">Svalbard</span>
                        @if (speciesgroup.ContainsKey(item.SpeciesGroup) && speciesgroup[item.SpeciesGroup]["image"] != null)
                        {
                            <img src="@speciesgroup[item.SpeciesGroup]["image"]" />
                            <span>@item.SpeciesGroup</span>
                        }
                    </div>


                    <span class="element_species">
                        <i class="element_name list_cell">@item.ScientificName</i>
                        <span class="element_popular_name list_cell">@Capitalize(item.PopularName)</span>                       
                    </span>

                    


                    <span class="list_cell" style="text-align:right;padding-right:5px;">
                        @if (!string.IsNullOrEmpty(item.Category))
                        {
                            @ViewBag.categories[item.Category.Substring(0, 2)]["presentationstring"];
                        }
                    </span>

                    <span  class="list_cell"  style="text-align:right;">
                        <span class="@item.Category.Substring(0,2) category_tag">@item.Category</span>
                    </span>

                </a>
            </li>
        }
    </ul>
