@model IEnumerable<Assessments.Api.Data.Models.Redlist.Rodliste2015>

@{
    ViewBag.Title = "Assessments api client test";
}

<h3>
    @Model.Count() redlist items
</h3>

<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>VurdertVitenskapeligNavn</td>
            <td>Kategori</td>
        </tr>
    </thead>
    @foreach (var item in Model.ToList())
    {
        <tr>
            <td><a asp-action="Detail" asp-route-id="@item.Id">@item.Id</a></td>
            <td>@item.VurdertVitenskapeligNavn</td>
            <td>@item.Kategori</td>
        </tr>
    }
</table>
