@model RL2021ViewModel

@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common

@{
    ViewBag.Title = "2021";
}

<div class="breadcrumbs">
    <ul>
        <li class="lead in-breadcrumb">
            <a href="/">
                Rødlista
            </a>
        </li>
        <span class="breadcrumbdivider">&gt; </span>
        <li class="in-breadcrumb currentcrumb">
            @ViewBag.Title
        </li>
    </ul>
</div>

<div class="sidebarmenu"></div>

<div class="bigmid">
    <div class="page-header">
        <h1>
            Norsk Rødliste for arter 2021
        </h1>
        <h2>@ViewBag.Title</h2>
        <span class="byline">
            Publisert: 24.November 2021
        </span>
    </div>

    <div>
        <div class="ingress">
            <p>
                Norsk rødliste for arter 2021 er en oversikt over arter som har risiko for å dø ut fra Norge.
                Rødlista er utarbeidet av Artsdatabanken i samarbeid med fageksperter.
            </p>
        </div>

        <h3>
            @Model.Redlist2021ResultsCount
        </h3>

        <!-- List controls -->
        <div class="controls">
            <button id="listview" class="material-icons" type="button">list</button>
            <button id="gridview" class="material-icons" type="button">grid_on </button>
        </div>

        <!-- Data from model -->


        <div class="listwrapper">
            <!-- FILTER FORM -->
            <partial name="/Views/Test/partials_2021/_Filters.cshtml" />
            
            <ul class="redlist" id="redlist">
                <li class="listheader" id="listheader">
                    <span>Artsnavn</span>
                    <span>Kategori</span>
                    <span>Artsgruppe</span>
                    <span>Område</span>
                    <span>Ikon</span>
                </li>

                @foreach (var item in Model.Redlist2021Results)
                {

                    <li class="list">
                        <a asp-action="Detail" asp-route-id="@item.Id">
                            @{
                                // TODO: The number of fields contained in the box does not add up. Fix.
                                // Makes it very strange and overflowy in grid view.
                            }
                            <span class="element_name">@item.ScientificName</span>
                            <span class="element_category">
                                <span class="@item.Category">@item.Category</span>
                            </span>
                            <span class="element_group">@item.ExpertCommittee</span>
                            <span class="element_area">
                                @item.AssessmentArea
                                @if (@item.AssessmentArea == "N")
                                {
                                    <img src="~/images/norge.png" alt="Bilde av Norge" />
                                }
                                else if (@item.AssessmentArea == "S")
                                {
                                    <img src="~/images/svalbard.png" alt="Bilde av Svalbard"/>
                                }

                            </span>
                            <span>
                                <div class="element_icon">
                                 @*
                                  @if (speciesgroup[key]["image"] != null)
                                  {
                                       @Html.Partial(@speciesgroup[key]["image"])
                                       <partial name="/Views/Test/partials_2021/icons/Temp.cshtml" />

                                  }
                                      *@
                                </div>
                            </span>
                        </a>
                    </li>
                }
            </ul>
        </div>

        <!-- Pageinator buttons -->
        @Html.PagedListPager(Model.Redlist2021Results, page => Url.Action("Index2021", Context.GetQueryParameters(new Dictionary<string, string> { { "Page", page.ToString() } })), new PagedListRenderOptions
        {
            PageClasses = new[] { "page-link" },
            UlElementClasses = new[] { "pagination" },
            LiElementClasses = new[] { "page-item" }
        })
    </div>

</div>