@model Assessments.Frontend.Web.Models.RL2021ViewModel

@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common
@using Assessments.Frontend.Web.Infrastructure

@{
    ViewBag.Title = "2021";
    Dictionary<string, Dictionary<string, string>> speciesgroup = ViewBag.speciesgroup.ToObject<Dictionary<string, Dictionary<string, string>>>();

}
<div class="breadcrumbs">
    <ul>
        <li class="lead in-breadcrumb">
            <a href="/">
                Rødlista
            </a>
        </li>
        <span class="breadcrumbdivider">&gt; </span>
        <li class="in-breadcrumb currentcrumb">
            @ViewBag.Title
        </li>
    </ul>
</div>

<div class="sidebarmenu"></div>

<div class="content-placer bigmid">
    <div class="page-header">
        <h1>
            Norsk Rødliste for arter 2021
        </h1>
        <h2>@ViewBag.Title</h2>
        <span class="byline">
            Publisert: 24.November 2021
        </span>
    </div>

    <div class="mid">
        <div class="ingress">
            <p>
                Norsk rødliste for arter 2021 er en oversikt over arter som har risiko for å dø ut fra Norge.
                Rødlista er utarbeidet av Artsdatabanken i samarbeid med fageksperter.
            </p>
        </div>

        <h3>
            @Model.Redlist2021Results.Count redlist 2021 items
        </h3>

        <!-- FILTER FORM -->
        <form class="list-search" asp-action="Index2021" method="get">
            <input asp-for="Name" placeholder="Søk i vitenskapelig navn"/>
            <button class="btn" type="submit">
                <span class="material-icons">
                    search
                </span>

                Søk
            </button>
        </form>

        <!-- List controls -->
        <div class="controls">
            <button id="listview" class="material-icons" type="button">list</button>
            <button id="gridview" class="material-icons" type="button">grid_on </button>
        </div>

        <!-- Data from model -->


        <div class="listwrapper">
            <ul class="redlist" id="redlist">
                <li class="listheader" id="listheader">
                    <span>Id</span>
                    <span>Artsnavn</span>
                    <span>Kategori</span>
                    <span>Artsgruppe</span>
                    <span>Ikon</span>
                </li>


                @foreach (var item in Model.Redlist2021Results)
                {
                    
                    
            <li class="list">
                <a asp-action="Detail" asp-route-id="@item.Id" asp-route-year="2021">
                    @{
                        // TODO: The number of fields contained in the box does not add up. Fix.
                        // Makes it very strange and overflowy in grid view.



                        // Expert committee field should always be present.
                        // By the time we arrive here, the actual committe name has been split into correct species group,
                        // and is thus now species group and not actually committtee group.
                        string ekspertgruppe = item.Ekspertgruppe;

                        // As long as expert committees contain area, it needs to be stripped away to use the field.

                        ekspertgruppe = ekspertgruppe.Replace(" (Norge)", "");
                        ekspertgruppe = ekspertgruppe.Replace(" (Svalbard)", "");
                    }
                    <span class="element_id">

                        @item.LatinsknavnId

                    </span>
                    <span class="element_name">@item.VurdertVitenskapeligNavn</span>
                    <span class="element_category"> <span class="@item.Kategori">@item.Kategori</span></span>
                    <span class="element_group">@ekspertgruppe</span>
                    <span class="element_area">
                        @item.VurderingsContext
                        @if (@item.VurderingsContext == "N")
                        {
                            <img src="~/images/norge.png" />
                        }
                        else if (@item.VurderingsContext == "S")
                        {
                            <img src="~/images/svalbard.png" />
                        }


                    </span>
                    <div class="element_icon" >

                        @foreach (var key in speciesgroup.Keys)
                        {
                            @if (key != null && key == @ekspertgruppe)
                            {

                                @if (speciesgroup[key]["image"] != null)
                                {
                                    <img src=@speciesgroup[key]["image"] />
                                }

                            }

                        }
                    </div>
                </a>
            </li>
                }


            </ul>
        </div>









        <!-- Pageinator buttons -->

        @Html.PagedListPager(Model.Redlist2021Results, page => Url.Action("Index2021", Context.GetQueryParameters(new Dictionary<string, string> { { "Page", page.ToString() } })), new PagedListRenderOptions
        {
            PageClasses = new[] { "page-link" },
            UlElementClasses = new[] { "pagination" },
            LiElementClasses = new[] { "page-item" }
        })
    </div>

</div>