@model Artsdatabanken.RL2021
@{
    ViewBag.Title = @Model.VurdertVitenskapeligNavn;
    var naturtypehovedenhet = @Model.NaturtypeHovedenhet;
    string ekspertgruppe = char.ToLower(@Model.Ekspertgruppe[0]) + @Model.Ekspertgruppe.Substring(1);
}

<div class="breadcrumbs">
    <ul>
        <li class="lead in-breadcrumb">
            <a href="/">
                Rødlista
            </a>
        </li>
        <span class="breadcrumbdivider">&gt; </span>
        <li class="in-breadcrumb">
            <a href="/test/2021">2021</a>
        </li>
        <span class="breadcrumbdivider">&gt; </span>
        <li class="in-breadcrumb currentcrumb">
            @Model.VurdertVitenskapeligNavn
        </li>
    </ul>
</div>

<div class="content-placer bigmid">
    <div class="page-header">
        <h1>
            Norsk Rødliste for arter 2021
        </h1>
        
        <partial name="/Views/Test/partials_2021/_Artsnavn.cshtml" /> 
       
        <span class="byline">
            Ekspertkomité for @ekspertgruppe,  @(ekspertgruppe == "spretthaler" || ekspertgruppe == "spretthaler (Svalbard)" ? @Model.SistVurdertAr : 2021)

        </span>
    </div>

    <div class="mid">
        <div class="ingress">
            <p>
                Arten har blitt vurdert til <partial name="/Views/Shared/_Category.cshtml" /> i vurderingen fra
                Norsk rødliste for arter 2021 som viser arters risiko for å dø ut fra Norge.
            </p>
        </div>

        <partial name="/Views/Test/partials_2021/_Informasjon.cshtml" />
        <partial name="/Views/Shared/_CategoryDescription.cshtml" />
        <partial name="/Views/Test/partials_2021/_Historikk.cshtml" />
        <partial name="/Views/Test/partials_2021/_Oppsumering.cshtml" />
        <partial name="/Views/Test/partials_2021/_Bestand.cshtml" />

        @if (Model.Påvirkningsfaktorer != null && Model.Påvirkningsfaktorer.Count > 0)
        {
            @Html.Partial("/Views/Test/partials_2021/_Pavirkningsfaktorer.cshtml", Model.Påvirkningsfaktorer)
        }

        <partial name="/Views/Test/partials_2021/_Fylkesforekomster.cshtml" />

        @if (Model.NaturtypeHovedenhet != null)
        {
            @Html.Partial("/Views/Test/partials_2021/_Habitat.cshtml", Model.NaturtypeHovedenhet)
        }


        @if (Model.Referanser != null && Model.Referanser.Count > 0)
        {
            @Html.Partial("/Views/Test/partials_2021/_Reference.cshtml", Model.Referanser)
        }

       


        @*@Html.Partial("/Views/Test/partials_2021/_RL2021.cshtml", Model)}*@


    </div>
</div>