@model Artsdatabanken.RL2021
@{
    ViewBag.Title = @Model.VurdertVitenskapeligNavn;
    var naturtypehovedenhet = @Model.NaturtypeHovedenhet;
}



<div class="breadcrumbs">
    <ul>
        <li class="lead in-breadcrumb">
            <a href="/">
                Rødlista
            </a>
        </li>
        <span class="breadcrumbdivider">&gt; </span>
        <li class="in-breadcrumb">
            <a href="/test/2021">2021</a>
        </li>
        <span class="breadcrumbdivider">&gt; </span>
        <li class="in-breadcrumb currentcrumb">
            @Model.VurdertVitenskapeligNavn
        </li>
    </ul>
</div>

<div class="content-placer bigmid">
    <div class="page-header">
        <h1>
            Norsk Rødliste for arter 2021
        </h1>
        
        <partial name="/Views/Test/partials_2021/_Artsnavn.cshtml" /> 
       
        <span class="byline">
            Ikke publisert ennå
        </span>
    </div>

    <div class="mid">
        <div class="ingress">
            <p>
                Norsk rødliste for arter 2021 er en oversikt over arter som har risiko for å dø ut fra Norge.
                Rødlista er utarbeidet av Artsdatabanken i samarbeid med fageksperter.
            </p>
        </div>

        <partial name="/Views/Test/partials_2021/_Informasjon.cshtml" />
        <partial name="/Views/Shared/_CategoryDescription.cshtml" />
        <partial name="/Views/Test/partials_2021/_Historikk.cshtml" />
        

        <hr />

        <partial name="/Views/Test/partials_2021/Kriterier_2021/_Kriterie_Automatic.cshtml" />



        <partial name="/Views/Test/partials_2021/_Oppsumering.cshtml" />
        <partial name="/Views/Test/partials_2021/_Bestand.cshtml" />

        @if (Model.Påvirkningsfaktorer != null && Model.Påvirkningsfaktorer.Count > 0)
        {
            @Html.Partial("/Views/Test/partials_2021/_Pavirkningsfaktorer.cshtml", Model.Påvirkningsfaktorer)
        }


        @if (Model.Fylkesforekomster != null)
        {
            @Html.Partial("/Views/Test/partials_2021/_Fylkesforekomster.cshtml", Model.Fylkesforekomster)
        }


        @if (Model.NaturtypeHovedenhet != null)
        {
            @Html.Partial("/Views/Test/partials_2021/_Naturtyper.cshtml", Model.NaturtypeHovedenhet)
        }


        @if (Model.Referanser != null && Model.Referanser.Count > 0)
        {
            @Html.Partial("/Views/Test/partials_2021/_Reference.cshtml", Model.Referanser)
        }




        @*@Html.Partial("/Views/Test/partials_2021/_RL2021.cshtml", Model)}*@


    </div>
</div>