@model IngressViewModel
@using Assessments.Mapping.AlienSpecies.Model.Enums
@inject IStringLocalizer<SharedResourcesAlienSpecies> Localizer

@{
    var isNr = Model.Category == AlienSpeciesAssessment2023Category.NR;
    var isEvaluatedAtAnotherLevel = Model.AlienSpeciesCategory == AlienSpeciecAssessment2023AlienSpeciesCategory.TaxonEvaluatedAtAnotherLevel;

    var isDoorKnocker = Model.AlienSpeciesCategory == AlienSpeciecAssessment2023AlienSpeciesCategory.DoorKnocker;
    var hasEffectWithoutReproduction = Model.AlienSpeciesCategory == AlienSpeciecAssessment2023AlienSpeciesCategory.EffectWithoutReproduction;
    var isRegionallyAlien = Model.AlienSpeciesCategory == AlienSpeciecAssessment2023AlienSpeciesCategory.RegionallyAlien;
    var isNoneOfTheAbove = !isNr && !isEvaluatedAtAnotherLevel && !isDoorKnocker && !hasEffectWithoutReproduction && !isRegionallyAlien;
    var speciesStatusDescription = Model.EvaluationContext == AlienSpeciesAssessment2023EvaluationContext.N ? Model.SpeciesStatus.Description() : Model.SpeciesStatus.Description().Replace("i Norge", "på Svalbard");

    var notAssessedText = "er ikke risikovurdert fordi";
    var evaluatedOnAnotherLevelString = "den";
    var notEvaluatedOnAnotherLevelString = "den er";
    var allSubTaxaAssessedSeparatelyString = "det";
    var evaluatedString = Model.AlienSpeciesCategory == AlienSpeciecAssessment2023AlienSpeciesCategory.TaxonEvaluatedAtAnotherLevel ? evaluatedOnAnotherLevelString : 
        Model.AlienSpeciesCategory == AlienSpeciecAssessment2023AlienSpeciesCategory.AllSubTaxaAssessedSeparately ? allSubTaxaAssessedSeparatelyString : notEvaluatedOnAnotherLevelString;
    var statusText = Model.AlienSpeciesCategory == AlienSpeciecAssessment2023AlienSpeciesCategory.HorizonScannedButNoRiskAssessment ? @Localizer["did_not_pass_horizon_scanning"] : Model.AlienSpeciesCategory.DisplayName().ToLowerInvariant();
}

<div is-visible="!isNr" class="page_section">
    <p is-visible="isEvaluatedAtAnotherLevel">
        @Helpers.FixSpeciesLevelWithTranslation("{Arten}", Model.TaxonRank, Model.ScientificName) @Model.AlienSpeciesCategory.DisplayName().ToLowerInvariant() (les vurderingen <a asp-action="Detail" asp-route-id="@Model.ParentAssessmentId">her</a>).
    </p>
    <p is-visible="!isNr && !isEvaluatedAtAnotherLevel && isDoorKnocker">
        @Helpers.FixSpeciesLevelWithTranslation("{Arten}", Model.TaxonRank, Model.ScientificName) er en dørstokkart som @speciesStatusDescription.
    </p>
    <p is-visible="!isNr && !isEvaluatedAtAnotherLevel && hasEffectWithoutReproduction">
        @Helpers.FixSpeciesLevelWithTranslation("{Arten}", Model.TaxonRank, Model.ScientificName) har @Model.AlienSpeciesCategory.DisplayName().ToLowerInvariant() og @Model.SpeciesStatus.Description().
    </p>
    <p is-visible="!isNr && !isEvaluatedAtAnotherLevel && isRegionallyAlien">
        @Helpers.FixSpeciesLevelWithTranslation("{Arten}", Model.TaxonRank, Model.ScientificName) er en regionalt fremmed @Helpers.FixSpeciesLevelWithTranslation("{art}", Model.TaxonRank, Model.ScientificName) som @Model.SpeciesStatus.Description().
    </p>
    <p is-visible="isNoneOfTheAbove">
        @Helpers.FixSpeciesLevelWithTranslation("{Arten}", Model.TaxonRank, Model.ScientificName) @Model.SpeciesStatus.Description().
    </p>
</div>

<div is-visible="isNr" class="page_section">
    <p is-visible="isEvaluatedAtAnotherLevel">
        @Helpers.FixSpeciesLevelWithTranslation("{Arten}", Model.TaxonRank, Model.ScientificName) @notAssessedText @evaluatedString @Model.AlienSpeciesCategory.DisplayName().ToLowerInvariant() (les vurderingen <a asp-action="Detail" asp-route-id="@Model.ParentAssessmentId">her</a>).
    </p>
    <p is-visible="isNr && !isEvaluatedAtAnotherLevel">
        @Helpers.FixSpeciesLevelWithTranslation("{Arten}", Model.TaxonRank, Model.ScientificName) @notAssessedText @evaluatedString @statusText.ToLowerInvariant().
    </p>
    <p is-visible="isNoneOfTheAbove">
        @Helpers.FixSpeciesLevelWithTranslation("{Arten}", Model.TaxonRank, Model.ScientificName) @notAssessedText @Model.SpeciesStatus.Description().
    </p>
</div>