@using Assessments.Web.Infrastructure.Services
@using Assessments.Web.Infrastructure.Enums
@inject ArtsdatabankenApiService _artsdatabankenApiService

@model PageMenuViewModel

@functions {
    private async Task<List<KeyValuePair<string, string>>> GetMenuItems(int menuId)
    {
        List<KeyValuePair<string, string>> menuItems = new List<KeyValuePair<string, string>>();
        if (menuId > 0)
        {
            var content =
                await _artsdatabankenApiService.Get<ArtsdatabankenApiContent>($"Content/{menuId}");
            if (content != null)
            {
                menuItems = content.References
                    .Select(x => new KeyValuePair<string, string>(x.Heading, $"https://artsdatabanken.no{x.Url}")).ToList();
            }
        }

        return menuItems;
    }
}


@{
    var menuItems = await GetMenuItems(Model.PageMenuContentId);
    var subMenuItems =  await GetMenuItems(Model.PageMenuSubContentId);

    var isRedlist2021 = Model.AssessmentType == Assessments.Web.Infrastructure.Enums.AssessmentType.RedlistSpecies2021;
    var isAlienSpecies2023 = Model.AssessmentType == Assessments.Web.Infrastructure.Enums.AssessmentType.AlienSpecies2023;
}

<div class="sidebarmenu">
    <button class="button tertiary" onclick="expandParent(this, 'expand')">@Model.PageMenuExpandButtonText</button>
    
    <ul>
        @*lenker fra cms/drupal via api*@
        <li>
            <a is-visible="isRedlist2021" class="menuheaderlink" asp-controller="Redlist" asp-action="Index2021">
                <h3>
                    <span>@Model.PageMenuExpandButtonText</span>
                    <span class="material-icons pad-top">keyboard_arrow_right</span>
                </h3>
            </a>
            <a is-visible="isAlienSpecies2023" class="menuheaderlink" href="https://artsdatabanken.no/fremmedearter">
                <h3>
                    <span>@Model.PageMenuExpandButtonText</span>
                    <span class="material-icons pad-top">keyboard_arrow_right</span>
                </h3>
            </a>
        </li>
        @foreach (var (key, value) in menuItems)
        {
            <li>
                @if (key == "Fremmedartslista 2023")
                {
                    <a is-visible="isAlienSpecies2023" class="@(Model.ListOrAssessmentView == ListOrAssessmentView.Index ? "active-menuitem" : "")" asp-controller="AlienSpecies" asp-action="Index">
                        <span>@key </span>
                        <span is-visible="Model.ListOrAssessmentView == ListOrAssessmentView.Assessment" class="material-icons">keyboard_arrow_right</span>
                    </a>
                    @if (subMenuItems.Any())
                    {
                        <ul class="submenu-list">
                        @foreach (var (subKey, subValue) in subMenuItems)
                        {
                            <li>
                                <a href="@subValue">
                                    <span>@subKey </span>
                                    <span class="material-icons">keyboard_arrow_right</span>
                                </a>
                            </li>
                        }
                        </ul>                        
                    }
                }
                else
                {
                <a href="@value">
                    <span>@key </span>
                    <span class="material-icons">keyboard_arrow_right</span>
                </a>
                }
            </li>
        }
    </ul>

    <div is-visible="Model.TableOfContentsViewModel != null" class="table-of-contents-big-screen">
        <partial name="/Views/Shared/_TableOfContents.cshtml" model="Model.TableOfContentsViewModel" />
    </div>
</div>

<script>
    function expandParent(element, className) {
        if (element.parentElement.classList.contains(className)) {
            element.parentElement.classList.remove(className);
            element.classList.remove("active")
        } else {
            element.parentElement.classList.add(className);
            element.classList.add("active")
        }
    }
</script>