@model SideBarContentViewModel
@using Assessments.Mapping.AlienSpecies.Model.Enums;
@inject IStringLocalizer<SharedResources> Localizer

@{
    string urlSafeScientificName = Model.ScientificName.Replace(" ", "%20");
    string taxon_url = "https://artsdatabanken.no/taxon/" + urlSafeScientificName + "/" + Model.ScientificNameId;

    bool ShowRegulationElement()
    {
        if (Model.NameHierarchy == null)
            return true;

        if (Model.Category == AlienSpeciesAssessment2023Category.NR.DisplayName())
            return false;

        if (Model.SpeciesIsOnBannedList)
            return true;

        string speciesGroupToInclude = "Planter";
        if (Model.SpeciesGroup != speciesGroupToInclude)
            return false;

        var hideForGenuses = new string[] { "Abies", "Picea", "Larix", "Pinus" };
        //var hideForSpecies = new string[] { "Cairina moschata", "Anser cygnoides" }; //not deleted because we expect more changes to this part later.

        var isGenusMatch = Model.NameHierarchy.Any(x => x.ScientificNameRank == Assessments.Mapping.AlienSpecies.Model.Enums.AlienSpeciesAssessment2023ScientificNameRank.Genus && hideForGenuses.Contains(x.ScientificName));
        //var isSpeciesMatch = hideForSpecies.Contains(Model.ScientificName);
        var isSvalbardMatch =  Model.EvaluationContext == AlienSpeciesAssessment2023EvaluationContext.S;

        return !(isGenusMatch  || isSvalbardMatch); //|| isSpeciesMatch
    }
}

<div class="sidebar_image_info">
    <img src="https://design.artsdatabanken.no/list-icons/taxon-icon.png" alt="Logobilde for artssiden">
    <br>
    <div is-visible="Model.AssessmentType == Assessments.Web.Infrastructure.Enums.AssessmentType.AlienSpecies2023">
        <a href="@taxon_url" class="link-styled taxon-page-link">
            @Localizer["to_species_page"]
        </a>
    </div>
    <div is-visible="Model.AssessmentType == Assessments.Web.Infrastructure.Enums.AssessmentType.RedlistSpecies2021">
        <a href="@taxon_url" class="link-styled taxon-page-link">
            Til artssiden
        </a>
    </div>
    <div is-visible="@Model.PreviousAssessments.Any()">
        <hr>
        <partial name="/Views/Shared/_Development.cshtml" />
        <hr>
        <partial name="/Views/Shared/_Links.cshtml" />
    </div>

    <div is-visible="Model.AssessmentType == Assessments.Web.Infrastructure.Enums.AssessmentType.AlienSpecies2023 && ShowRegulationElement()">
        <hr>
        <h3>Forskrift om fremmede organismer</h3>
        <div>
            <p>
                Denne @Helpers.FixSpeciesLevelWithTranslation("{arten}", Model.TaxonRank, Model.ScientificName) er <span is-visible="!Model.SpeciesIsOnBannedList"  class="underline">ikke</span> oppført på Klima- og miljødepartementets liste over arter det er
                forbudt å innføre, sette ut og omsette, jf. § 5 og § 9. <span is-visible="!Model.SpeciesIsOnBannedList"> Merk at @Helpers.FixSpeciesLevelWithTranslation("{arten}", Model.TaxonRank, Model.ScientificName) kan være regulert på annen måte.</span>
            </p>
            <a href="https://lovdata.no/dokument/SF/forskrift/2015-06-19-716#KAPITTEL_9" class="link-styled">
                Forbudslista hos Lovdata.no <span class="material-icons">open_in_new</span>
            </a>
        </div>
    </div>
    <div class="@("species-images-" + Model.ScientificNameId)"></div>
</div>
