@if (@ViewBag.revisionid > 0)
{
<div class="archive">
    <span class="material-icons">
        warning_amber
    </span>
    @ViewBag.glossary["archived"]["warning"]["title"]
    @if (@ViewBag.revisionid > 0)
    {
    <a asp-action="Detail" asp-route-id="@Model.Id" asp-route-revisionid="">
        @ViewBag.glossary["archived"]["warning"]["linktekst"]
    </a>
    }
</div>
}