@model SpeciesAssessment2021
@* 
   Breacrumb - specific for inner layer of Assessment *@


<div class="breadcrumbs">
    <ol>
        @{/*
            <li class="lead in-breadcrumb">
                <a asp-controller="Redlist" asp-action="rodlisteforarter">Rødlista for arter</a>
                <span class="breadcrumbdivider">&gt; </span>
            </li>
            */
        }

        <li class="in-breadcrumb">
            <a asp-controller="Redlist" asp-action="Index2021">@ViewBag.glossary["pagetitle"]["title"]</a>
            <span class="breadcrumbdivider">&gt; </span>
        </li>

        @if (@ViewBag.glossary["areas"].ContainsKey(@Model.AssessmentArea))
        {
            <li class="in-breadcrumb">
                <a asp-controller="Redlist" asp-action="Index2021" asp-route-Area="@Model.AssessmentArea">
                    @ViewBag.glossary["areas"][@Model.AssessmentArea]["title"]
                </a>
                <span class="breadcrumbdivider">&gt; </span>
            </li>
        }

        @if (@ViewBag.revisionid > 0)
        {
            <li class="in-breadcrumb">
                <a asp-action="Detail" asp-route-id="@Model.Id" asp-route-revisionid="">
                    @Model.ScientificName
                </a>
                <span class="breadcrumbdivider">&gt; </span>
            </li>

            <li class="in-breadcrumb currentcrumb">
                @ViewBag.glossary["archived"]["version"] @ViewBag.revisionid
            </li>
        }
        else
        {
            <li class="in-breadcrumb currentcrumb">
                @Model.ScientificName
            </li>
        }

    </ol>
</div>
