@model SpeciesAssessment2021

<div class="page_section" id="nedgradert">

    @if (Model.ExtinctionRiskAffected == "Ja")
    {
        // example species include 31847
        <h3>

            @ViewBag.glossary["degrees"]["title"]
        </h3>
        <p>
            @Html.Raw(Model.RationaleCategoryAdjustment)
        </p>
        <p>
            <span class="graphic_element @Model.CategoryAdjustedFrom">@Model.CategoryAdjustedFrom</span>
            <span class="material-icons" style="vertical-align: bottom;">
                arrow_right_alt
            </span>
            <span class="graphic_element @Model.CategoryAdjustedTo.Substring(0,2) degraded">@Model.CategoryAdjustedTo</span>
        </p>
        <p>@Html.Raw(ViewBag.glossary["degrees"]["description"])</p>
    }

</div>