@model SpeciesAssessment2021

<div class="page_section">
    @if (Model.PreviousAssessments.Any())
    {
        // example species include: 32041
        string previous_category = "-";
        string which_redlist = "";

        if (Model.PreviousAssessments.Any(x=>x.Year == 2015))
        {
            previous_category = Model.PreviousAssessments.Single(x => x.Year == 2015).Category.Substring(0, 2);
            which_redlist = "2015";
        }
        else if (Model.PreviousAssessments.Any(x => x.Year == 2010))
        {
            previous_category = Model.PreviousAssessments.Single(x => x.Year == 2010).Category.Substring(0, 2);
            which_redlist = "2010";
        }
        else
        {
            which_redlist = "2021";
        }
        string current_category = Model.Category.Substring(0, 2);

        // Match without degrees

        @if (which_redlist != "2021" && previous_category != current_category)
        {
            <h3> @ViewBag.glossary["categoryChanged"]["title"]</h3>
            <p>

                @{ 
                    string description = @ViewBag.glossary["categoryChanged"]["description"];
                    description = @Helpers.FixSpeciesLevel(description, Model.TaxonRank);
                    description = description.Replace("@previous_category", previous_category);
                    description = description.Replace("@current_category", current_category);
                    description = description.Replace("@which_redlist", which_redlist);
                }
                
                @description
                <span style="text-transform:lowercase">@Helpers.FixSpeciesLevel(@Model.ReasonCategoryChange.Description(), Model.TaxonRank)</span>.
            </p>

        }
    }
</div>