@model SpeciesAssessment2021
@{
    // Obtain which criteria are used and their titles.
    var subcriteria = CriteriaHelpers.sortCriteria(Model.CriteriaSummarized);
    string sentence = String.Empty;
    string[] cri = { "A", "B", "C", "D" };

    @if (!string.IsNullOrWhiteSpace(Model.CriteriaSummarized))
    {
        @foreach (var value in cri)
        {
            if (Model.CriteriaSummarized.Contains(value))
            {
                string current = ViewBag.kriterier[value]["title"];
                sentence.Replace(" og ", ", ");
                if (sentence != String.Empty)
                {
                    sentence += " og ";
                }
                //sentence += value + " "; // NICE FOR TESTING
                sentence += current.ToLower();
            }
        }
        if (Model.Category.Length > 2)
        {
            sentence += ", og ble <a href='#nedgradert'>nedgradert</a> på grunn av populasjoner i nærliggende regioner";
        }
        sentence = "Kategorien kommer av " + sentence + ".";
    }
}

<div class="page_section">
    <p>
        @if (Model.AssessmentYear == 2010)
        {

            <span>
                Ikke revidert siden 2010, hvor den ble vurdert til
                <partial name="/Views/Shared/_Category.cshtml" />
            </span>
        }
        else
        {
            <span>@Helpers.FixSpeciesLevel("{Art}en", Model.TaxonRank) er </span>
            @if (Model.Category != "NA" && Model.Category != "NE")
            {
                <span>vurdert til </span>
            }
            <partial name="/Views/Shared/_Category.cshtml" /> <span class="">@Helpers.FindDegrees(Model.Category, true)</span><span>

                @if (@Model.Category == "CR" && @Model.PresumedExtinct == true)
                {
                    <span>for Norsk rødliste for arter 2021, og er trolig utdødd.</span>
                }
                else
                {
                    <span>for Norsk rødliste for arter 2021.</span>
                }
                @Html.Raw(sentence)
            </span>
        }
    </p>
    <partial name="/Views/Redlist/Species/2021/Assessment/partials/_RevisionReason.cshtml" />
</div>