@model SpeciesAssessment2021

@* // Section containing numbers for proportions of different population sizes. *@



<div class="page_section populationsize">

    @if (Model.Category != "NE" && Model.Category != "NA")
    {
        @if (Helpers.IsNotEmpty(Model.ProportionOfMaxPopulation) ||
        Helpers.IsNotEmpty(Model.PercentageEuropeanPopulation) ||
        Helpers.IsNotEmpty(Model.PercentageGlobalPopulation))
        {

            <h3>@ViewBag.glossary["populationsize"]["title"]</h3>

            <p>
                @{string description = ViewBag.glossary["populationsize"]["description"];}
                @Html.Raw(Helpers.FixSpeciesLevel(description, Model.TaxonRank))
            </p>

            <h4>@ViewBag.glossary["populationsize"]["subtitle"]</h4>

            <ul>
                @if (Helpers.IsNotEmpty(Model.ProportionOfMaxPopulation))
                {
                    <li>
                        <span>@Model.ProportionOfMaxPopulation</span>
                        <span>@ViewBag.glossary["populationsize"]["AndelNåværendeBestand"]</span>
                    </li>
                }
                @if (Helpers.IsNotEmpty(Model.PercentageEuropeanPopulation))
                {
                    <li>
                        <span>@Model.PercentageEuropeanPopulation</span>
                        <span>@ViewBag.glossary["populationsize"]["MaxAndelAvEuropeiskBestand"]</span>
                    </li>
                }
                @if (Helpers.IsNotEmpty(Model.PercentageGlobalPopulation))
                {
                    <li>
                        <span>@Model.PercentageGlobalPopulation</span>
                        <span>@ViewBag.glossary["populationsize"]["MaxAndelAvGlobalBestand"]</span>
                    </li>
                }

            </ul>
        }
    }
</div>