@model RL2021ViewModel
@using static Assessments.Frontend.Web.Infrastructure.Constants

<div class="search-and-filter">
    <form asp-action="Index2021" method="get">
        <div class="list-search">
            <input asp-for="Name" placeholder="Søk i vitenskapelig navn" />
            <button class="btn" type="submit">
                <span class="material-icons">
                    search
                </span>
                Søk
            </button>
            <button class="btn" type="submit" name="Export" value="true">Eksport</button>
        </div>
        <div>
            <button data-bind="click: resetFilters, disable: filterIsEmpty, style: { backgroundColor: filterIsEmpty() ? 'lightgray' : 'lightcyan' }">@SearchAndFilter.ResetAllFilters</button>
            <div class="checkboxes">
                <div class="row" style="margin: 0; padding-top: 10px">

                    <span>@SearchAndFilter.SearchChooseCategory</span>
                    <button class="arrow-down" data-bind="click: toggleCategoryVisible"><img src="/images/icon_down_20x14.png" alt="Arrow down"></button>

                </div>
                <div class="row" style="cursor: pointer" data-bind="visible: categoryVisible">
                    <ul style="margin-top: 10px; padding-left: 0">
                        <li class="checkbox" style="margin-top: 0;" onClick="applyFilter('Categories=RE')">
                            <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                                <input type="checkbox" id="Categories=RE" />@SpeciesCategories.Extinct.ShortHand
                            </label>
                        </li>
                        <li class="checkbox" style="margin-top: 0;" onClick="applyFilter('Categories=CR')">
                            <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                                <input type="checkbox" id="Categories=CR" />@SpeciesCategories.CriticallyEndangered.ShortHand
                            </label>
                        </li>
                        <li class="checkbox" style="margin-top: 0;" onClick="applyFilter('Categories=EN')">
                            <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                                <input type="checkbox" id="Categories=EN" />@SpeciesCategories.Endangered.ShortHand
                            </label>
                        </li>
                        <li class="checkbox" style="margin-top: 0;" onClick="applyFilter('Categories=VU')">
                            <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                                <input type="checkbox" id="Categories=VU" />@SpeciesCategories.Vulnerable.ShortHand
                            </label>
                        </li>
                        <li class="checkbox" style="margin-top: 0;" onClick="applyFilter('Categories=NT')">
                            <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                                <input type="checkbox" id="Categories=NT" />@SpeciesCategories.NearThreatened.ShortHand
                            </label>
                        </li>
                        <li class="checkbox" style="margin-top: 0;" onClick="applyFilter('Categories=DD')">
                            <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                                <input type="checkbox" id="Categories=DD" />@SpeciesCategories.DataDeficient.ShortHand
                            </label>
                        </li>
                        <li class="checkbox" style="margin-top: 0;" onClick="applyFilter('Categories=LC')">
                            <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                                <input type="checkbox" id="Categories=LC" />@SpeciesCategories.Viable.ShortHand
                            </label>
                        </li>
                        <li class="checkbox" style="margin-top: 0;" onClick="applyFilter('Categories=NE')">
                            <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                                <input type="checkbox" id="Categories=NE" />@SpeciesCategories.NotEvalueted.ShortHand
                            </label>
                        </li>
                        <li class="checkbox" style="margin-top: 0;" onClick="applyFilter('Categories=NA')">
                            <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                                <input type="checkbox" id="Categories=NA" />@SpeciesCategories.NotAppropriate.ShortHand
                            </label>
                        </li>
                        <li class="checkbox" style="margin-top: 0;" onClick="applySpecialFilter('ChooseRedlisted')">
                            <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                                <input type="checkbox" id="ChooseRedlisted" />@SearchAndFilter.ChooseRedlisted
                            </label>
                        </li>
                        <li class="checkbox" style="margin-top: 0;" onClick="applySpecialFilter('ChooseEndangered')">
                            <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                                <input type="checkbox" id="ChooseEndangered" />@SearchAndFilter.ChooseEndangered
                            </label>
                        </li>
                    </ul>
                </div>
            
                <div class="row" style="margin: 0; padding-top: 10px">
                    <span>@SearchAndFilter.SearchChooseArea</span>
                    <button class="arrow-down" data-bind="click: toggleSvalbardVisible">
                        <img src="/images/icon_down_20x14.png" alt="Arrow down">
                    </button>
                </div>
                <div style="cursor: pointer" data-bind="visible: svalbardVisible">
                    <ul style="margin-top: 10px; padding-left: 0">
                        <li class="checkbox" style="margin-top: 0;">
                            <label class="checkbox"
                                style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                                <input type="checkbox" data-bind="click: setSvalbard('F')" />Fastland
                            </label>
                        </li>
                        <li class="checkbox" style="margin-top: 0;">
                            <label class="checkbox"
                                style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal"><input
                                    type="checkbox" data-bind="click: setSvalbard('S')" />Svalbard</label>
                        </li>
                    </ul>
                </div>
                <div class="row" style="margin: 0; padding-top: 10px">
                    <span>@SearchAndFilter.SearchChooseCriteria</span>
                    <button class="arrow-down" data-bind="click: toggleCriteriaVisible"><img src="/images/icon_down_20x14.png" alt="Arrow down"></button>
                </div>
                <div style="cursor: pointer" data-bind="visible: criteriaVisible">
                    <ul style="margin-top: 10px; padding-left: 0">
                        <li class="checkbox" style="margin-top: 0;">
                            <label class="checkbox" style="margin-top: 5px; margin-left: 25px; cursor: pointer; font-weight: normal"><input type="checkbox" data-bind="click: chooseCriteria('A')" />A</label>
                        </li>
                        <li class="checkbox" style="margin-top: 0;">
                            <label class="checkbox" style="margin-top: 5px; margin-left: 25px; cursor: pointer; font-weight: normal"><input type="checkbox" data-bind="click: chooseCriteria('B')" />B</label>
                        </li>


                        <li class="checkbox" style="margin-top: 0;">
                            <label class="checkbox" style="margin-top: 5px; margin-left: 25px; cursor: pointer; font-weight: normal"><input type="checkbox" data-bind="click: chooseCriteria('C')" />C</label>
                        </li>

                        <li class="checkbox" style="margin-top: 0;">
                            <label class="checkbox" style="margin-top: 5px; margin-left: 25px; cursor: pointer; font-weight: normal"><input type="checkbox" data-bind="click: chooseCriteria('D')" />D</label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row" style="cursor: pointer; background-color: powderblue; margin-top: 10px;">
                <label class="checkbox" style="margin-top: 5px; margin-left: 45px; cursor: pointer"><input type="checkbox" /> @SearchAndFilter.SearchChangedCategory</label>
            </div>
        </div>
    </form>
</div>
        