@using static Assessments.Frontend.Web.Infrastructure.Constants

<div>
    <button data-bind="click: resetFilters, disable: filterIsEmpty, style: { backgroundColor: filterIsEmpty() ? 'lightgray' : 'lightcyan' }">@SearchAndFilter.ResetAllFilters</button>
    <div class="checkboxes">
        <div>
            <div class="row" style="margin: 0; padding-top: 10px">

                <span>@SearchAndFilter.SearchChooseCategory</span>
                <button class="arrow-down" data-bind="click: toggleCategoryVisible"><img src="/images/icon_down_20x14.png" alt="Arrow down"></button>

            </div>
            <div class="row" style="cursor: pointer" data-bind="visible: categoryVisible">
                <ul style="margin-top: 10px; padding-left: 0">
                    <li class="checkbox" style="margin-top: 0;">
                        <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                            <input type="checkbox" id="Categories=RE" onClick="applyFilter('Categories=RE')" />@SpeciesCategories.Extinct.ShortHand
                        </label>
                    </li>
                    <li class="checkbox" style="margin-top: 0;">
                        <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                            <input type="checkbox" id="Categories=CR" onClick="applyFilter('Categories=CR')" />@SpeciesCategories.CriticallyEndangered.ShortHand
                        </label>
                    </li>
                    <li class="checkbox" style="margin-top: 0;">
                        <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                            <input type="checkbox" id="Categories=EN" onClick="applyFilter('Categories=EN')" />@SpeciesCategories.Endangered.ShortHand
                        </label>
                    </li>
                    <li class="checkbox" style="margin-top: 0;">
                        <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                            <input type="checkbox" id="Categories=VU" onClick="applyFilter('Categories=VU')" />@SpeciesCategories.Vulnerable.ShortHand
                        </label>
                    </li>
                    <li class="checkbox" style="margin-top: 0;">
                        <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                            <input type="checkbox" id="Categories=NT" onClick="applyFilter('Categories=NT')" />@SpeciesCategories.NearThreatened.ShortHand
                        </label>
                    </li>
                    <li class="checkbox" style="margin-top: 0;">
                        <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                            <input type="checkbox" id="Categories=DD" onClick="applyFilter('Categories=DD')" />@SpeciesCategories.DataDeficient.ShortHand
                        </label>
                    </li>
                    <li class="checkbox" style="margin-top: 0;">
                        <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                            <input type="checkbox" id="Categories=LC" onClick="applyFilter('Categories=LC')" />@SpeciesCategories.Viable.ShortHand
                        </label>
                    </li>
                    <li class="checkbox" style="margin-top: 0;">
                        <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                            <input type="checkbox" id="Categories=NE" onClick="applyFilter('Categories=NE')" />@SpeciesCategories.NotEvalueted.ShortHand
                        </label>
                    </li>
                    <li class="checkbox" style="margin-top: 0;">
                        <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                            <input type="checkbox" id="Categories=NA" onClick="applyFilter('Categories=NA')" />@SpeciesCategories.NotAppropriate.ShortHand
                        </label>
                    </li>
                    <li class="checkbox" style="margin-top: 0;">
                        <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                            <input type="checkbox" data-bind="click: chooseRedlisted" />@SearchAndFilter.ChooseRedlisted
                        </label>
                    </li>
                    <li class="checkbox" style="margin-top: 0;">
                        <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                            <input type="checkbox" data-bind="click: chooseEndangered" />@SearchAndFilter.ChooseEndangered
                        </label>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            @*class="col-md-2"*@
            <div class="row" style="margin: 0; padding-top: 10px; padding-left: 10px">
                <span>@SearchAndFilter.SearchChooseCriteria</span>
                <button class="arrow-down" data-bind="click: toggleCriteriaVisible"><img src="/images/icon_down_20x14.png" alt="Arrow down"></button>
            </div>
            <div class="row" style="cursor: pointer; display: flex" data-bind="visible: criteriaVisible">

                <ul style="margin-top: 10px; padding-left: 0">
                    <li class="checkbox" style="margin-top: 0;">
                        <label class="checkbox" style="margin-top: 5px; margin-left: 25px; cursor: pointer; font-weight: normal"><input type="checkbox" data-bind="click: chooseCriteria('A')" />A</label>
                    </li>
                    <li class="checkbox" style="margin-top: 0;">
                        <label class="checkbox" style="margin-top: 5px; margin-left: 25px; cursor: pointer; font-weight: normal"><input type="checkbox" data-bind="click: chooseCriteria('B')" />B</label>
                    </li>


                    <li class="checkbox" style="margin-top: 0;">
                        <label class="checkbox" style="margin-top: 5px; margin-left: 25px; cursor: pointer; font-weight: normal"><input type="checkbox" data-bind="click: chooseCriteria('C')" />C</label>
                    </li>

                    <li class="checkbox" style="margin-top: 0;">
                        <label class="checkbox" style="margin-top: 5px; margin-left: 25px; cursor: pointer; font-weight: normal"><input type="checkbox" data-bind="click: chooseCriteria('D')" />D</label>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            @*class="col-md-2"*@
            <div class="row" style="margin: 0; padding-top: 10px; padding-left: 10px">
                <span>@SearchAndFilter.SearchChooseArea</span>
                <button class="arrow-down" data-bind="click: toggleSvalbardVisible">
                    <img src="/images/icon_down_20x14.png" alt="Arrow down">
                </button>
            </div>
            <div style="cursor: pointer" data-bind="visible: svalbardVisible">

                <ul style="margin-top: 10px; padding-left: 0">
                    <li class="checkbox" style="margin-top: 0;">
                        <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal">
                            <input type="checkbox" data-bind="click: setSvalbard('F')" />Fastland
                        </label>
                    </li>
                    <li class="checkbox" style="margin-top: 0;">
                        <label class="checkbox" style="margin-top: 5px; margin-left: 15px; cursor: pointer; font-weight: normal"><input type="checkbox" data-bind="click: setSvalbard('S')" />Svalbard</label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row" style="cursor: pointer; background-color: powderblue; margin-top: 10px;">
        <label class="checkbox" style="margin-top: 5px; margin-left: 45px; cursor: pointer"><input type="checkbox" /> @SearchAndFilter.SearchChangedCategory</label>
    </div>
</div>

        