@model Artsdatabanken.RL2021
@*
    // Information about the assesment
*@

<div class="page_section">
    <h2>Vurderingsområde og artens utbredelse</h2>
    <p>
        <!-- GEOGRAFI -->
        @if (@Model.VurderingsContext == "N")
        {
            <span>@ViewBag.glossary["vurdert_N"]["description"]</span>
        }
        else if (@Model.VurderingsContext == "S")
        {
            <span>@ViewBag.glossary["vurdert_S"]["description"]</span>
        }

    </p>



    @if (Model.Fylkesforekomster != null)
    {
        @Html.Partial("/Views/Test/partials_2021/_Fylkesforekomster_visning.cshtml", Model.Fylkesforekomster)
    }



</div><!-- End section -->