@model IEnumerable<Artsdatabanken.Rl2021Fylkesforekomst>
@{

    var tableVisible = true;
    string GetState(int regionState)
    {
        switch (regionState)
        {
            case 0: return "kjent";
            case 1: return "antatt";
            case 2: return "";
            case 3: return "antatt utdødd";
            case 4: return "utdødd";
        }
        return string.Empty;
    }
    var check = "&#10003;";
}



<div class="panel panel-default">
    @* <div class="panel-heading" data-toggle="collapse" data-target="#fylkesforekomst">
            <span class="glyphicon glyphicon-triangle-top" style="float: right"></span>
            <h3 class="panel-title">
                <a data-toggle="collapse" href="#fylkesforekomst">Regioner og havområder</a>

            </h3>

        </div>*@

    <div id="fylkesforekomst" class="collapse in">
        @*<div style="margin-top: 15px; margin-left: 25%">
                <button class="fylkeforekomst" id="showTable" href="" data-bind="click: function() { @tableVisible = true}">Tabellvisning</button>
                <button class="fylkeforekomst" id="showMap" href="" disabled data-bind="click: function() { @tableVisible = false}"style="margin-left: -5px">Kartvisning</button>
            </div>*@
        @if (tableVisible)
        {
            @*<dl class="panel-body responsive condenced width160 unbold" id="table">*@
            <div class="mobileHeader">
                <h3>
                    Regioner og havområder
                    <button class="detaljer" onclick="togglePopup('regionerMobile')"><img src="/Content/images/help_outline.png" style="height: 18px" alt="Question mark" /></button>

                </h3>
                <div class="popuptext" id="regionerMobile" style="width: 80%; font-weight: normal; margin-top: 30px; margin-left: 1em">
                    <button class="closePopup" onclick="closePopup('regionerMobile')"> x </button>
                    <div>
                        En art er forekommende i et (historisk) fylke eller havområde hvis én eller flere vesentlige deler av livssyklusen foregår der.
                        "Kjent" forekomst betyr kjent eller sannsynlig nåværende forekomst, "antatt" forekomst brukes om mulig forekomst (basert på eldre observasjoner eller biogeografiske antagelser), "antatt utdødd" forekomst brukes når arten muligens har dødd ut lokalt, mens "utdødd forekomst" brukes når det er overveiende sannsynlig at arten har dødd ut.
                        Marine arter regnes som forekommende i kystfylker om de opptrer innenfor norsk territorialfarvann ved fylket. Av praktiske årsaker presenteres forekomster etter fylkesinndelingen per 1. januar 2018.
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr style="background-color: #f5f5f5">
                        <th>
                            <h3>
                                Regioner og havområder
                                <button class="detaljer" onclick="togglePopup('regioner')"><img src="/Content/images/help_outline.png" style="height: 18px" alt="Question mark" /></button>

                            </h3>
                            <div class="popuptext" id="regioner" style="width: 18%; font-weight: normal; margin-top: -1px; margin-left: 1em">
                                <button class="closePopup" onclick="closePopup('regioner')"> x </button>
                                <div>
                                    En art er forekommende i et (historisk) fylke eller havområde hvis én eller flere vesentlige deler av livssyklusen foregår der.
                                    "Kjent" forekomst betyr kjent eller sannsynlig nåværende forekomst, "antatt" forekomst brukes om mulig forekomst (basert på eldre observasjoner eller biogeografiske antagelser), "antatt utdødd" forekomst brukes når arten muligens har dødd ut lokalt, mens "utdødd forekomst" brukes når det er overveiende sannsynlig at arten har dødd ut.
                                    Marine arter regnes som forekommende i kystfylker om de opptrer innenfor norsk territorialfarvann ved fylket. Av praktiske årsaker presenteres forekomster etter fylkesinndelingen per 1. januar 2018.
                                </div>
                            </div>
                        </th>
                        <th style="vertical-align:top"> <h3>Kjent </h3></th>
                        <th style="vertical-align:top"><h3>Antatt</h3>  </th>
                        <th style="vertical-align:top"> <h3>Utdødd</h3>  </th>
                        <th style="vertical-align:top"> <h3>Antatt utdødd</h3> </th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: speciesSearchResult">
                    @foreach (var region in Model)
                    {
                        <tr>
                            @*<td class="adjustable"><i><span data-bind="text: scientificName"></span></i><span data-bind="text: author"></span></td>*@
                            <td class="adjustable">@region.Fylke</td>
                            <td class="adjustable">@Html.Raw(region.State == 0 ? check : string.Empty)</td>
                            <td class="adjustable">@Html.Raw(region.State == 1 ? check : string.Empty)</td>
                            <td class="adjustable">@Html.Raw(region.State == 4 ? check : string.Empty)</td>
                            <td class="adjustable">@Html.Raw(region.State == 3 ? check : string.Empty)</td>
                        </tr>
                    }


                </tbody>
            </table>


            @*</dl>*@
        }
        @if (!tableVisible)
        {
            <dl class="panel-body responsive condenced width160 unbold" id="map" data-bind="visible: !tableVisible" style="color: white">
                Her skal det være et kart
            </dl>
        }

    </div>
</div>


@*  Need to move this, because it interfer with the grid flow!
    <script>$(document).ready(function () { replaceRodliste2015Fylker(); });</script>
*@
<script>
    var activePopups = document.getElementsByClassName('show');
    function togglePopup(id) {
        if (activePopups.length > 0) {
            //console.log(activePopups[0].id);
            if (activePopups[0].id != id) {
                activePopups[0].classList.remove('show');
            }
        }
        var popup = document.getElementById(id);
        popup.classList.toggle("show");
    }

    function closePopup(id) {
        var popuptext = document.getElementById(id);
        popuptext.classList.remove("show");
    }
   @* function closeHint() {
        var popuptext = document.getElementsByClassName('show');
        console.log(popuptext);
        if (popuptext.length > 1) {
            for (var i = 0; i < popuptext.length - 1; i++) {
                popuptext[i].classList.remove('show');
                popuptext = document.getElementsByClassName('show');
            }
        }

    }*@
</script>
