@model Artsdatabanken.RL2021
@* 
// Information about the assesment    
*@

@{
    Artsdatabanken.RL2021 assessment = Model;
}
<div class="page_section">
            <!-- FULL VURDERING/LC -->
        @if (@Model.OverordnetKlassifiseringGruppeKode == "sikkerBestandLC")
        {
            <span>@ViewBag.glossary["oneliners"]["vurdert_livskraftig"]</span>
        }

        @if (@Model.OverordnetKlassifiseringGruppeKode == "rodlisteVurdertArt")
        {
            <span>@ViewBag.glossary["oneliners"]["full_vurdering"]</span>
        }

        <!-- Finnes i norge? -->

        @if (!string.IsNullOrEmpty(Model.UtdoddINorgeRE))
        {
            <p>
                @if (@assessment.UtdoddINorgeRE == "etablertBestandINorge")
                {
                    <span>
                        @ViewBag.glossary["oneliners"]["litentvil"]
                        @(assessment.VurderingsContext == "N" ? "Norge " : "Svalbard ") (RE).
                        @ViewBag.glossary["oneliners"]["etablertBestandINorge"]
                    </span>
                }
                else @if (@assessment.UtdoddINorgeRE == "ikkeReproduserendeINorge")
               {
                <span>
                    @ViewBag.glossary["oneliners"]["litentvil"]
                    @(assessment.VurderingsContext == "N" ? "Norge " : "Svalbard ") (RE).
                    @ViewBag.glossary["oneliners"]["ikkeReproduserendeINorge"]

                </span>
                }
                else @if (@assessment.UtdoddINorgeRE == "etablertFør1800")
               {
                <span>
                    @ViewBag.glossary["oneliners"]["litentvil"]
                    @(assessment.VurderingsContext == "N" ? "Norge " : "Svalbard ") (RE).
                    @ViewBag.glossary["oneliners"]["etablertFør1800"]
                </span>
                }
            </p>
        }

        <p>
        <!-- Begrenset forekomst -->
        @if (!string.IsNullOrEmpty(Model.BegrensetForekomstNA))
        {
            @if (@assessment.BegrensetForekomstNA == "ikkeReproduserendeGjestNA")
            {
                <span> @ViewBag.glossary["oneliners"]["ikkeReproduserendeGjestNA"]</span>
            }
            else @if (@assessment.BegrensetForekomstNA == "observertReproduserendeIkkeEtablertNA")
            {
            <span> @ViewBag.glossary["oneliners"]["observertReproduserendeIkkeEtablertNA"]</span>
            }
            else @if (@assessment.BegrensetForekomstNA == "observertReproduktivIkkeEtablertNA")
            {
            <span> @ViewBag.glossary["oneliners"]["observertReproduktivIkkeEtablertNA"]</span>
            }
            else @if (@assessment.BegrensetForekomstNA == "uregelmessigGjestIkkeReproduserendeNA")
            {
                <span> @ViewBag.glossary["oneliners"]["uregelmessigGjestIkkeReproduserendeNA"]</span>
            }
            else @if (@assessment.BegrensetForekomstNA == "ikkeDokumentertForekomstNA")
            {
                <span> @ViewBag.glossary["oneliners"]["ikkeDokumentertForekomstNA"]</span>
            }
            else @if (@assessment.BegrensetForekomstNA == "hybridartUtenReproduksjonNA")
            {
                <span> @ViewBag.glossary["oneliners"]["hybridartUtenReproduksjonNA"]</span>
            }
            else @if (@assessment.BegrensetForekomstNA == "hybridartUvisstOmReproduserendeNA")
            {
                <span> @ViewBag.glossary["oneliners"]["hybridartUvisstOmReproduserendeNA"]</span>
            }
            else @if (@assessment.BegrensetForekomstNA == "forekommerBareIHybridkombinasjonNA")
            {
                <span> @ViewBag.glossary["oneliners"]["forekommerBareIHybridkombinasjonNA"]</span>
            }
        }

        <!-- KUNNSKAPSSTATUS -->
        @if (!string.IsNullOrEmpty(Model.KunnskapsStatusNE))
        {

            @if (@assessment.KunnskapsStatusNE == "mangelfullKunnskapNE")
            {
                <span> @ViewBag.glossary["oneliners"]["mangelfullKunnskapNE"]</span>
            }
            else @if (@assessment.KunnskapsStatusNE == "uavklartSystematikkNE")
            {
                <span> @ViewBag.glossary["oneliners"]["uavklartSystematikkNE"]</span>
            }
            else@if (@assessment.KunnskapsStatusNE == "uklartOmReproduserendeBestandNE")
            {
                <span> @ViewBag.glossary["oneliners"]["uklartOmReproduserendeBestandNE"]</span>
            }
            else@if (@assessment.KunnskapsStatusNE == "artsgruppeIkkeRisikovurdertNE")
            {
                <span> @ViewBag.glossary["oneliners"]["artsgruppeIkkeRisikovurdertNE"]</span>
            }
            else@if (@assessment.KunnskapsStatusNE == "annetNE")
            {
                <span> @ViewBag.glossary["oneliners"]["annetNE"]</span>
            }
        }

        <!-- FREMMEDART -->
        @if (@assessment.OverordnetKlassifiseringGruppeKode == "fremmedArtNA")
        {
            <span>
                @ViewBag.glossary["oneliners"]["fremmedArtNA"]
                <a href="https://www.artsdatabanken.no/Pages/241513/Fleire_artar_bankar_paa"> les mer </a>
            </span>
        }

        @if (!string.IsNullOrEmpty(Model.RodlisteVurdertArt))
        {
            @if (assessment.RodlisteVurdertArt == "etablertBestandINorge")
            {
            <span>@ViewBag.glossary["oneliners"]["etablertBestandINorge"]</span>
            }
            else@if (assessment.RodlisteVurdertArt == "ikkeReproduserendeINorge")
           {
            <span>@ViewBag.glossary["oneliners"]["ikkeReproduserendeINorge"]</span>
            }
           else@if (assessment.RodlisteVurdertArt == "etablertFør1800")
           {
            <span>@ViewBag.glossary["oneliners"]["etablertFør1800"]</span>
            }
        }
        </p>

</div><!-- End section -->