@model IEnumerable<Artsdatabanken.RL2021Pavirkningsfaktor>



@functions {
    public string iconfinder(string factor)
    {
        @if (factor == "Ingen trussel")
        {
            return"delete_sweep";
        }
        else if (factor == "Påvirkning på habitat")
        {
            return "close";
        }
        else if (factor == "Forurensning")
        {
            return "recycling";
        }
        else if (factor == "Høsting")
        {
            return "gradient";
        }
        else if (factor == "Tilfeldig mortalitet")
        {
            return "close";
        }
        else if (factor == "Fremmede arter")
        {
            return "pest_control";
        }
        else if (factor == "Påvirkning fra stedegne arter")
        {
            return "nature";
        }
        else if (factor == "Klimatiske endringer")
        {
            return "cloud";
        }
        else if (factor == "Naturkatastrofer")
        {
            return "air";
        }
        else if (factor == "Menneskelig forstyrrelse")
        {
            return "engineering";
        }
        else if (factor == "Andre")
        {
            return "lens_blur";
        }
        else if (factor == "Ukjent")
        {
            return "lens_blur";
        }
        else if (factor == "Påvirkning utenfor Norge")
        {
            return "public";
        }
        else
        {
            return "delete";
        }
    }
}


<div class="page_section">
    <h2>Påvirkningsfaktorer </h2>

    <p class="fact_box"> @ViewBag.glossary["oneliners"]["Påvirkningsfaktorer"]</p>

    <div class="factors">
        @{foreach (var pfaktor in Model)
            {
                <div>
                    <h3>Beskrivelse</h3>

                    <div class="stats_element_container">
                        <span class="stats_element material-icons">
                            <span>
                                 @iconfinder(@pfaktor.ØversteTittel)
                            </span>
                        </span>
                    </div>
                    <span class="stats_element_text">
                        @pfaktor.ØversteTittel
                    </span>



                    <hr />
                    @pfaktor.Tittel
                    <hr />
                    @pfaktor.Forkortelse
                </div>

                <div>
                    <h3>Omfang</h3>
                    <span>@pfaktor.Omfang</span>
                </div>
                <div>
                    <h3>Alvorlighetsgrad</h3>
                    <span>@pfaktor.Alvorlighetsgrad</span>
                </div>
                <div>
                    <h3>Tidspunkt</h3>
                    <span class="mobile-table-header">Tidspunkt</span>
                    @pfaktor.Tidspunkt
                </div>
            }
        }

    </div> <!-- end pavirkningsboks -->
</div> <!-- end factors -->
