@{
    ViewData["Title"] = "Fremmedartslista";
}

<div class="pagecontainer alien-species">
    <partial name="/Views/Shared/_PageMenuHistorical.cshtml" />
    <div class="content-placer bigmid">
        <div class="mid-content">
            <div class="page-header">
                <h1>
                    @ViewData["Title"]
                </h1>

                <p>
                    @ViewData["Title"] viser hvilken økologisk risiko fremmede arter kan utgjøre for naturmangfoldet i Norge.
                    Den er utarbeidet av Artsdatabanken i samarbeid med fageksperter.
                </p>
            </div>
            <div class="mobile_padding">

                <h2>Gjeldende fremmedartsliste</h2>

                <p class="page_section">
                    <!-- TODO before release: insert dates -->
                    Gjeldende fremmedartsliste ble lansert xx.xx.xxxx, og vil være den gjeldende fremmedartslista frem til neste revisjon i 2029.
                </p>
                <p>
                    <a asp-controller="AlienSpecies" asp-action="Index" class="button primary alien-species">
                        @ViewData["Title"] 2023
                        <span class="material-icons">keyboard_arrow_right</span>
                    </a>
                </p>
                
                <h2>Alle fremmedartslistene</h2>
                <p class="page_section">
                    <ul>
                        <li>
                            <a asp-controller="AlienSpecies" asp-action="Index" class="button secondary">
                                @ViewData["Title"] 2023
                                <span class="material-icons">keyboard_arrow_right</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://artsdatabanken.no/fremmedartslista2018" class="button secondary">
                                <span>@ViewData["Title"] 2018</span>
                                <span class="material-icons bigarrow">keyboard_arrow_right</span>
                            </a>
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>
