@model BarChart
@using System.Globalization

@{
    var count = Model.Data.Sum(x => x.Count);
}

<ul class="graph color_graph bar-chart">
    @foreach (var data in Model.Data)
    {
        <li class="statelement">
            <div class="heightbar_blank">
                <div class="heightbar_indicator @data.NameShort" style="height: @(Helpers.GetBarChartHeight(Model.MaxValue, data.Count))%">
                    <span class="percent">@data.Count.ToString("N0")</span>
                </div>
            </div>
            <span class="statbox">
                @data.NameShort
            </span>
            @data.Name
        </li>
    }
</ul>