@model AlienSpeciesListViewModel
@using static Assessments.Frontend.Web.Infrastructure.Helpers

@{
    var categories = Model.Statistics.Riskcategories;
    var largestCategoryCount = categories.Select(x => x.Count).Max();

    int GetHeight(int max, int currect)
    {
        return currect * 100 / max;
    }
}

<div class="page_section graphs">
    <h3>Antall vurderinger per risikokategori</h3>
    <ul class="graph color_graph">
        @foreach (var key in categories)
        {
            <li class="statelement">
                <div class="heightbar_blank">
                    <div class="heightbar_indicator @key.Category.ToString()" style="height: @(GetHeight(largestCategoryCount, key.Count))%">
                        <span class="percent">@key.Count</span>
                    </div>
                </div>
                <span class="statbox">
                    @key.Category
                </span>
                @key.Category.DisplayName()
            </li>
        }
    </ul>
    <div>Antall vurderinger i hver av de fem risikokategoriene, fra ingen kjent risiko NK til svært høy risiko SE. Utvalget ditt omfatter n vurderinger, hvorav x er vurdert å være høyrisikoarter, dvs. de utgjør enten en høy risiko, eller en svært høy risiko for norsk natur.</div>

    @*<p>@ViewBag.glossary["statistics"]["category"]["description"] @FormatNumeric(category_total.ToString()).</p>
    <h3>@ViewBag.glossary["statistics"]["criteria"]["title"]</h3>
    <div class="graph greyscale">
        @foreach (string key in criteria.Keys)
        {
            <div class="statelement">
                <div class="heightbar_blank">
                    <div class="heightbar_indicator @key" style="height:@percentage(@criteria_max, @getNumber(@key,@Model.Statistics.Criteria))">
                        <span class="percent">@getNumber(@key, @Model.Statistics.Criteria)</span>
                    </div>
                </div>
                <span class="statbox @key">
                    @key
                </span>
            </div>
        }
    </div>
    <p>@ViewBag.glossary["statistics"]["criteria"]["description"]</p>
    <h3>@ViewBag.glossary["statistics"]["habitat"]["title"]</h3>
    <div class="down_graph greyscale">
        @foreach (string key in habitat.Keys)
        {
            <div class="statelement">
                <span class="statbox @key">
                    @habitat[@key]["shortname"]
                </span>
                <div class="heightbar_blank">
                    <div class="heightbar_indicator @key" style="width:@percentage(@habitat_max, @getNumber(@key,@Model.Statistics.Habitat))">
                        <span class="percent">@getNumber(@key, @Model.Statistics.Habitat)</span>
                    </div>
                </div>
            </div>
        }
    </div>
    <p>@ViewBag.glossary["statistics"]["habitat"]["description"]</p>
    <h3>@ViewBag.glossary["statistics"]["region"]["title"]</h3>
    <div class="down_graph greyscale">
        @foreach (string key in Model.Statistics.Region.Keys)
        {
            <div class="statelement">
                <span class="statbox @key">
                    @key
                </span>

                <div class="heightbar_blank">
                    <div class="heightbar_indicator @key" style="width: @percentage(impact_max, @getNumber(@key, @Model.Statistics.Region))">
                        <span class="percent">@getNumber(@key, @Model.Statistics.Region)</span>
                    </div>
                </div>
            </div>
        }
    </div>
    <p>@ViewBag.glossary["statistics"]["region"]["description"]</p>

    <h3>@ViewBag.glossary["statistics"]["impactfactor"]["title"]</h3>
    <div class="down_graph greyscale">
        @foreach (string key in Model.Statistics.ImpactFactors.Keys)
        {
            <div class="statelement">
                <span class="statbox @key">
                    @key
                </span>

                <div class="heightbar_blank">
                    <div class="heightbar_indicator @key" style="width:@percentage(@region_max, @getNumber(@key,@Model.Statistics.ImpactFactors))">
                        <span class="percent">@getNumber(@key, @Model.Statistics.ImpactFactors)</span>
                    </div>
                </div>
            </div>
        }
    </div>*@
</div>
