@model AlienSpeciesListViewModel
@using static Assessments.Frontend.Web.Infrastructure.Helpers
@using Assessments.Mapping.AlienSpecies.Model.Enums

@{
    var categories = Model.Statistics.Riskcategories.BarChartDatas;
}

<div class="page_section graphs">
    <h3>Antall vurderinger per risikokategori</h3>
    <ul class="graph color_graph">
        @foreach (var key in categories)
        {
            <li class="statelement">
                <div class="heightbar_blank">
                    <div class="heightbar_indicator @key.NameShort" style="height: @(Helpers.GetBarChartHeight(Helpers.GetLargestCount(categories), key.Count))%">
                        <span class="percent">@key.Count.ToString("N0")</span>
                    </div>
                </div>
                <span class="statbox">
                    @key.NameShort
                </span>
                @key.Name
            </li>
        }
    </ul>
    <p>@Constants.figureCategoryStart <i>@(categories.First().Name.ToLowerInvariant())</i> @(categories.First().Name) til <i>@(categories.Last().Name.ToLowerInvariant())</i> @(categories.Last().Name). Utvalget ditt omfatter @Helpers.GetBarChartTotal(categories).ToString("N0") vurderinger, hvorav @Helpers.GetBarChartHighRisk(categories).ToString("N0") @Constants.figureCategoryMiddle @AlienSpeciesAssessment2023Category.HI.DisplayName().ToLowerInvariant(), eller en @AlienSpeciesAssessment2023Category.SE.DisplayName().ToLowerInvariant() @Constants.figureCategoryEnd.</p>

    <hr/>

    <partial name="/Views/AlienSpecies/2023/ListPartials/_BarChartHorizontal.cshtml" model="Model.Statistics.SpeciesGroups"/>


    @*<p>@ViewBag.glossary["statistics"]["category"]["description"] @FormatNumeric(category_total.ToString()).</p>
    <h3>@ViewBag.glossary["statistics"]["criteria"]["title"]</h3>
    <div class="graph greyscale">
        @foreach (string key in criteria.Keys)
        {
            <div class="statelement">
                <div class="heightbar_blank">
                    <div class="heightbar_indicator @key" style="height:@percentage(@criteria_max, @getNumber(@key,@Model.Statistics.Criteria))">
                        <span class="percent">@getNumber(@key, @Model.Statistics.Criteria)</span>
                    </div>
                </div>
                <span class="statbox @key">
                    @key
                </span>
            </div>
        }
    </div>
    <p>@ViewBag.glossary["statistics"]["criteria"]["description"]</p>
    <h3>@ViewBag.glossary["statistics"]["habitat"]["title"]</h3>
    <div class="down_graph greyscale">
        @foreach (string key in habitat.Keys)
        {
            <div class="statelement">
                <span class="statbox @key">
                    @habitat[@key]["shortname"]
                </span>
                <div class="heightbar_blank">
                    <div class="heightbar_indicator @key" style="width:@percentage(@habitat_max, @getNumber(@key,@Model.Statistics.Habitat))">
                        <span class="percent">@getNumber(@key, @Model.Statistics.Habitat)</span>
                    </div>
                </div>
            </div>
        }
    </div>
    <p>@ViewBag.glossary["statistics"]["habitat"]["description"]</p>
    <h3>@ViewBag.glossary["statistics"]["region"]["title"]</h3>
    <div class="down_graph greyscale">
        @foreach (string key in Model.Statistics.Region.Keys)
        {
            <div class="statelement">
                <span class="statbox @key">
                    @key
                </span>

                <div class="heightbar_blank">
                    <div class="heightbar_indicator @key" style="width: @percentage(impact_max, @getNumber(@key, @Model.Statistics.Region))">
                        <span class="percent">@getNumber(@key, @Model.Statistics.Region)</span>
                    </div>
                </div>
            </div>
        }
    </div>
    <p>@ViewBag.glossary["statistics"]["region"]["description"]</p>

    <h3>@ViewBag.glossary["statistics"]["impactfactor"]["title"]</h3>
    <div class="down_graph greyscale">
        @foreach (string key in Model.Statistics.ImpactFactors.Keys)
        {
            <div class="statelement">
                <span class="statbox @key">
                    @key
                </span>

                <div class="heightbar_blank">
                    <div class="heightbar_indicator @key" style="width:@percentage(@region_max, @getNumber(@key,@Model.Statistics.ImpactFactors))">
                        <span class="percent">@getNumber(@key, @Model.Statistics.ImpactFactors)</span>
                    </div>
                </div>
            </div>
        }
    </div>*@
</div>
