@model AlienSpeciesListViewModel
@using static Assessments.Frontend.Web.Infrastructure.Helpers
@using Assessments.Mapping.AlienSpecies.Model.Enums

@{
    var categories = Model.Statistics.RiskCategories;
    var largestCategoryCount = categories.Select(x => x.Count).Max();

    int GetHeight(int max, int currect)
    {
        if (max > 0)
        {
            return currect * 100 / max;
        }
        return 0;
    }

    int GetTotal()
    {
        return Model.Statistics.RiskCategories.Sum(x => x.Count);
    }

    int GetHighRisk()
    {
        return Model.Statistics.RiskCategories.Where(x => x.Category == AlienSpeciesAssessment2023Category.HI || x.Category == AlienSpeciesAssessment2023Category.SE).Sum(x => x.Count);
    }
}

<div class="page_section graphs">
    <h3>Antall vurderinger per risikokategori</h3>
    <ul class="graph color_graph">
        @foreach (var key in categories)
        {
            <li class="statelement">
                <div class="heightbar_blank">
                    <div class="heightbar_indicator @key.Category.ToString()" style="height: @(GetHeight(largestCategoryCount, key.Count))%">
                        <span class="percent">@key.Count.ToString("N0")</span>
                    </div>
                </div>
                <span class="statbox">
                    @key.Category
                </span>
                @key.Category.DisplayName()
            </li>
        }
    </ul>
    <p>@Constants.figureCategoryStart <i>@(Model.Statistics.RiskCategories.First().Category.DisplayName().ToLowerInvariant())</i> @(Model.Statistics.RiskCategories.First().Category.ToString()) til <i>@(Model.Statistics.RiskCategories.Last().Category.DisplayName().ToLowerInvariant())</i> @(Model.Statistics.RiskCategories.Last().Category.ToString()). Utvalget ditt omfatter @GetTotal().ToString("N0") vurderinger, hvorav @GetHighRisk().ToString("N0") @Constants.figureCategoryMiddle @AlienSpeciesAssessment2023Category.HI.DisplayName().ToLowerInvariant(), eller en @AlienSpeciesAssessment2023Category.SE.DisplayName().ToLowerInvariant() @Constants.figureCategoryEnd.</p>

    <hr/>

    <partial name="/Views/AlienSpecies/2023/AssessmentPartials/_RiskMatrixFigure.cshtml" />


    @*<p>@ViewBag.glossary["statistics"]["category"]["description"] @FormatNumeric(category_total.ToString()).</p>
    <h3>@ViewBag.glossary["statistics"]["criteria"]["title"]</h3>
    <div class="graph greyscale">
        @foreach (string key in criteria.Keys)
        {
            <div class="statelement">
                <div class="heightbar_blank">
                    <div class="heightbar_indicator @key" style="height:@percentage(@criteria_max, @getNumber(@key,@Model.Statistics.Criteria))">
                        <span class="percent">@getNumber(@key, @Model.Statistics.Criteria)</span>
                    </div>
                </div>
                <span class="statbox @key">
                    @key
                </span>
            </div>
        }
    </div>
    <p>@ViewBag.glossary["statistics"]["criteria"]["description"]</p>
    <h3>@ViewBag.glossary["statistics"]["habitat"]["title"]</h3>
    <div class="down_graph greyscale">
        @foreach (string key in habitat.Keys)
        {
            <div class="statelement">
                <span class="statbox @key">
                    @habitat[@key]["shortname"]
                </span>
                <div class="heightbar_blank">
                    <div class="heightbar_indicator @key" style="width:@percentage(@habitat_max, @getNumber(@key,@Model.Statistics.Habitat))">
                        <span class="percent">@getNumber(@key, @Model.Statistics.Habitat)</span>
                    </div>
                </div>
            </div>
        }
    </div>
    <p>@ViewBag.glossary["statistics"]["habitat"]["description"]</p>
    <h3>@ViewBag.glossary["statistics"]["region"]["title"]</h3>
    <div class="down_graph greyscale">
        @foreach (string key in Model.Statistics.Region.Keys)
        {
            <div class="statelement">
                <span class="statbox @key">
                    @key
                </span>

                <div class="heightbar_blank">
                    <div class="heightbar_indicator @key" style="width: @percentage(impact_max, @getNumber(@key, @Model.Statistics.Region))">
                        <span class="percent">@getNumber(@key, @Model.Statistics.Region)</span>
                    </div>
                </div>
            </div>
        }
    </div>
    <p>@ViewBag.glossary["statistics"]["region"]["description"]</p>

    <h3>@ViewBag.glossary["statistics"]["impactfactor"]["title"]</h3>
    <div class="down_graph greyscale">
        @foreach (string key in Model.Statistics.ImpactFactors.Keys)
        {
            <div class="statelement">
                <span class="statbox @key">
                    @key
                </span>

                <div class="heightbar_blank">
                    <div class="heightbar_indicator @key" style="width:@percentage(@region_max, @getNumber(@key,@Model.Statistics.ImpactFactors))">
                        <span class="percent">@getNumber(@key, @Model.Statistics.ImpactFactors)</span>
                    </div>
                </div>
            </div>
        }
    </div>*@
</div>
