@model AlienSpeciesListViewModel
@using static Assessments.Frontend.Web.Infrastructure.Helpers
@using Assessments.Frontend.Web.Infrastructure.AlienSpecies
@using Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Filter.FilterItem[] speciesgroup = SpeciesGroups.AlienSpecies2023SpeciesGroups;
}

<ul class="redlist" id="redlist">
    <li class="listheader" id="listheader">
        <span></span>
        <span class="list_cell">Artsnavn</span>
        <span class="list_cell">Populærnavn</span>
        <span class="list_cell">Kategori</span>
    </li>

    @if (Model.Results.Count > 0)
    {
        @foreach (var item in Model.Results)
        {
            @*string speciesgroupname = @item.SpeciesGroup.ToLower();*@
            @*<li class="list @speciesgroupname @item.AssessmentArea">*@
            <li class="list @item.EvaluationContext">
                <a asp-action="Detail" asp-route-id="@item.Id">
                    <div class="svalbarcontainer">
                        <span class="svalbard">Svalbard</span>
                    </div>

                    <div class="element_icon list_cell">
                        @*@if (speciesgroup.ContainsKey(item.SpeciesGroup) && speciesgroup[item.SpeciesGroup]["image"] != null)
                        {
                            <img src="@speciesgroup[item.SpeciesGroup]["image"]" alt="@speciesgroupname"/>
                            <span class="speciesgroup_name">@speciesgroupname</span>
                        }*@
                    </div>


                    <span class="element_species">
                        <span class="element_scientific_name list_cell">@Html.Raw(getScientificNameElement(item.ScientificName))</span>
                        <span class="element_popular_name list_cell">@item.VernacularName</span>
                    </span>

                    <span class="list_cell categoryname capitalized">
                        @item.Category.DisplayName()
                    </span>

                    <span class="list_cell categorytag">
                        <span class="@item.Category category_tag">
                            <span class="category_tag_label">@item.Category</span>
                        </span>
                    </span>

                </a>
            </li>
        }
    }
    else
    {
        <li class="no_results mobile_padding">@Constants.AlienSpecies2023NoListViewResults</li>
    }
</ul>

<div class="mobile_padding">
    <partial name="/Views/AlienSpecies/2023/ListPartials/_Paginator.cshtml" />
</div>