@model Artsdatabanken.RL2021
@{
    ViewBag.category = @Model.Kategori;
    var utd = @ViewBag.glossary["TroligUtdodd"]["description"];
}

@*
    Mostly similar to category description for now

*@

<div class="page_section">
   
    @if (@ViewBag.glossary[@Model.Kategori] != null)
    {
        <p class="imaged_paragraph">
            <span class="graphic_element @Model.Kategori">
                @Model.Kategori
            </span>
            <span class="right_text">
                <b>@ViewBag.glossary[@Model.Kategori]["tagline"]</b>
                <span class="tag_explanation">@ViewBag.glossary[@Model.Kategori]["description"]</span>
            </span>
        </p>
    }

    @if (@Model.Kategori == "CR" && @Model.TroligUtdodd == true)
    {

        <p class="imaged_paragraph">
            <span class="graphic_element material-icons utdodd">
                <span class="material-icons">image_search</span>
            </span>
            <span class="right_text">
                <b> @ViewBag.glossary["TroligUtdodd"]["tagline"]</b> 
                <span class="tag_explanation">@Html.Raw(utd)</span>
            </span>
        </p>

    }
</div>