@model CategoryDescriptionViewModel

@{
    var active = "active";
    var notActive = "notactive";
    string GetActiveElement(string currentCaterogy)
    {
        if (Model.CategoryShort.Substring(0,2) == currentCaterogy)
            return active;
        return notActive;
    }
}

<div class="page_section">
    <div class="page_section">
        <ul class="category_displayer @Model.AssessmentType.ToString()">
                @foreach (var category in Model.CategoryBar)
                {
                    <li class="@GetActiveElement(category.NameShort)">
                        <div class="category_item  @category.NameShort">
                            @(GetActiveElement(category.NameShort) == active ? Model.CategoryShort : category.NameShort)
                        </div>
                        <span class="tag">@category.Name</span>
                    </li>
                    @if(category.NameShort == "NR" || category.NameShort == "NA")
                    {
                        <li class="no-space"></li>
                    }
            }
        </ul>
    </div>
    <a href="@Model.MethodUrl" class="link-styled">
        Alt om kategoriskalaen
    </a>
</div>