@model SpeciesAssessment2021
@{
    ViewBag.category = @Model.Category; // TODO: missing Category mapping
    var utd = @ViewBag.glossary["TroligUtdodd"]["description"];
}

@*
    Mostly similar to category description for now
*@

<div class="page_section">
   
    @if (@ViewBag.categories[@Model.Category] != null)
    {
        <p class="imaged_paragraph">
            <span class="graphic_element @Model.Category">
                @Model.Category
            </span>
            <span class="right_text">
                <b>@ViewBag.categories[@Model.Category]["tagline"]</b>
                <span class="tag_explanation">@ViewBag.categories[@Model.Category]["description"]</span>
            </span>
        </p>
    }

    @if (@Model.Category == "CR" && @Model.PresumedExtinct == true)
    {

        <p class="imaged_paragraph">
            <span class="graphic_element material-icons utdodd">
                <span class="material-icons">image_search</span>
            </span>
            <span class="right_text">
                <b> @ViewBag.glossary["TroligUtdodd"]["tagline"]</b> 
                <span class="tag_explanation">@Html.Raw(utd)</span>
            </span>
        </p>

    }
</div>