@model SpeciesAssessment2021

@*
    Codeblock from Innsynsløsninga 2021 by SN. 
    Slightly modified by HEM for launch.
*@

@functions {
    public string categoryMatcher(string category)
    {
        // Takes in category as presented in the model
        // Returns name of category (whyever for?)
        if (category.Length > 0)
        {
            return category.Substring(0, 2);
        }
        return "";
    }
}

@functions {
    public string categoryDescription(string category)
    {
        // Takes in category as presented in the model
        // uses categoryMatcher to remove degrees etc.
        // Returns name of category (whatever for?)

        if(category == "" || category == null)
        {
            return "manglende vurdering ";
        }else
        {
            var actual_category = @categoryMatcher(category);
            var final_string = @ViewBag.categories[actual_category]["presentationstring"];
            return final_string;
        }
    }
}

<span>
    <i>@categoryDescription(@Model.Category)</i> @categoryMatcher(@Model.Category)
    @if (@Model.Category == "CR" && @Model.PresumedExtinct == true)
    {
        <span>og er trolig utdødd</span>
    }
</span>