@model Artsdatabanken.RL2021
@{

    Dictionary<string, Dictionary<string, string>> speciesgroup = ViewBag.speciesgroup.ToObject<Dictionary<string, Dictionary<string, string>>>();

    var hierarki = @Model.VurdertVitenskapeligNavnHierarki.Split("/");
    string hierarkitext = @Model.VurdertVitenskapeligNavnHierarki.Replace("/", " > ");

    // TODO: When there is no taxonomic hierarchy - obtain the taxon level elsewhere.

}

@foreach (var key in speciesgroup.Keys)
{
    <div class="sidebar_image_info">
        @foreach (var taxonlevel in hierarki)
        {
            @if (speciesgroup[key]["tagline"] != null && @speciesgroup[key]["tagline"].Contains(taxonlevel))
            {
                    
                <h2>@key</h2>
                @if (speciesgroup[key]["tagline"] != null)
                {
                    <span class="tagline">
                        @speciesgroup[key]["tagline"]
                    </span>                   
                }
                <span class="habitat_icon">
                    @if (speciesgroup[key]["image"] != null)
                    {
                        <img src=@speciesgroup[key]["image"] />
                    }
                </span>
                @if (@Model.VurdertVitenskapeligNavnHierarki != null)
                {
                    <p>
                        @hierarkitext
                    </p>
                }
                    
            }
        }
    </div>                        
}