@model IngressViewModel
@using Assessments.Mapping.AlienSpecies.Model.Enums

@{
    var riskCategoryPreText = Model.Category == AlienSpeciesAssessment2023Category.NR ?
        $"{@Helpers.FixSpeciesLevel("{Art}en", Model.TaxonRank)} er " :
        $"{@Helpers.FixSpeciesLevel("{Art}en", Model.TaxonRank)} er vurdert til ";
}

<div class="page_section">
    <p>
        @Helpers.FixSpeciesLevel("{Art}en", Model.TaxonRank) er @Model.Status og @Model.Environment.
    </p>
    <p>
        @riskCategoryPreText <i>@Model.Category.DisplayName()</i> - @Model.Category for @Model.ListName.
    </p>
</div>
