@model Artsdatabanken.RL2021
@{
    ViewBag.Title = "Vurdering";

    string category = "NA"; //Model.Kategori == null ? "" : Model.Kategori.Length > 2 ? Model.Kategori.Substring(0, 2) : Model.Kategori;

    var assessment = Model;


    // Dictionary<string, IEnumerable<Databank.Domain.Code>> labels = ViewBag.Codes;

    //ViewBag.Labels = labels;

   // var codes = labels; 
    //ViewBag.CondLabel = new Func<string, Func<string, string>>(kodeid => new Func<string, string>(key => (string.IsNullOrEmpty(key) ? "" : (labels[kodeid].Where(code => code.Value == key).Select(code => code.Text).FirstOrDefault()))));
    //ViewBag.CondKode = new Func<string, Func<string, string>>(kodeid => new Func<string, string>(key => (string.IsNullOrEmpty(key) ? "" : (codes[kodeid].Where(code => code.Value == key).Select(code => code.Text).FirstOrDefault()))));

    ViewBag.NtLabels = ViewBag.CondLabel("NatureType");

    var vurdertIUCN = ViewBag.Vurdert;
}

<partial name="/Views/Shared/_CategoryDescription.cshtml" />


<div>
    <h1>Innsyn i foreløpig vurdering til Rødlista for arter 2021</h1>

    @* @Html.Partial("Partial/RL2021", Model)} *@

    @if (vurdertIUCN)
    {
        <div class="row">
    @*
        @if (Model.Påvirkningsfaktorer != null && Model.Påvirkningsfaktorer.Count > 0)
        {
            @Html.Partial("Partial/Pavirkningsfaktorer", Model.Påvirkningsfaktorer)
        }
    *@
        </div>



        @*
            @if (Model.Fylkesforekomster != null)
            {
                @Html.Partial("Partial/Fylkesforekomster", Model.Fylkesforekomster)
            }

            @if (Model.NaturtypeHovedenhet != null)
            {
                @Html.Partial("Partial/Naturtyper", Model.NaturtypeHovedenhet)
            }

    *@



    }

    @if (Model.Kategori != "NE" && Model.Kategori != "NA")
    {
        @if ((Model.AndelNåværendeBestand != null && Model.AndelNåværendeBestand != " " && Model.AndelNåværendeBestand != "-") || (Model.MaxAndelAvEuropeiskBestand != null && Model.MaxAndelAvEuropeiskBestand != " " && Model.MaxAndelAvEuropeiskBestand != "-") || (Model.MaxAndelAvGlobalBestand != null && Model.MaxAndelAvGlobalBestand != " " && Model.MaxAndelAvGlobalBestand != "-"))
        {
            <div class="panel panel-default">

                <div class="panel-heading" data-toggle="collapse">
                    <h3 class="panel-title" style="color: #4c4a48" id="popStr">
                        Informasjon om populasjonsstørrelse
                    </h3>
                </div>

                <dl class="responsive condenced width140 info" style="margin-left: 10px; margin-top: 10px; margin-bottom: 10px">
                    @if (Model.AndelNåværendeBestand != null && Model.AndelNåværendeBestand != " " && Model.AndelNåværendeBestand != "-")
                    {
                        <dt>Nåværende populasjonsstørrelse som andel av maks. populasjonsstørrelse etter 1900:</dt>
                        <dd>@Model.AndelNåværendeBestand</dd>
                    }
                    @if (Model.MaxAndelAvEuropeiskBestand != null && Model.MaxAndelAvEuropeiskBestand != " " && Model.MaxAndelAvEuropeiskBestand != "-")
                    {
                        <dt>Andel av europeisk populasjonsstørrelse i Norge:</dt>
                        <dd>@Model.MaxAndelAvEuropeiskBestand</dd>
                    }
                    @if (Model.MaxAndelAvGlobalBestand != null && Model.MaxAndelAvGlobalBestand != " " && Model.MaxAndelAvGlobalBestand != "-")
                    {
                        <dt>Andel av global populasjonsstørrelse i Norge: </dt>
                        <dd>@Model.MaxAndelAvGlobalBestand</dd>
                    }
                </dl>
            </div>
        }


    }

    @*

        @if (Model.Referanser != null && Model.Referanser.Count > 0)
        {
            @Html.Partial("Partial/Reference", Model.Referanser)
        }
    *@

</div>
