@model Artsdatabanken.RL2021MinMaxProbable;

@{
    var mmp = @Model;
    var tag = (string)ViewData["tag"];
    var desc = (string)ViewData["desc"];
}

@*
    SEE example by searching species Carex elata
*@

<div class="section">
    <h3>MMP</h3>


    @if (!string.IsNullOrEmpty(mmp.Min) || !string.IsNullOrEmpty(mmp.Max) || !string.IsNullOrEmpty(mmp.Probable))
    {
<p class="mmp">
    <b>@tag @desc </b>

    <div class="popuptext mmp">
       {@* USED TO CONTAIN text marked as mmp in json*@}
    </div>


    @*set "%" after the number unless the criterion is C2*@
    @if (tag != "C2a(i)")
    {
    <div class="parameters">
        @if (!string.IsNullOrEmpty(mmp.Min))
        {
            <div>- minimum: @mmp.Min %</div>
        }

        @if (!string.IsNullOrEmpty(mmp.Probable))
        {
            <div>- mest trolig: @mmp.Probable %</div>
        }

        @if (!string.IsNullOrEmpty(mmp.Max))
        {
            <div>- maksimum: @mmp.Max %</div>
        }
        </div>

        @if (tag.StartsWith('A')){
            <span>@{ /*A SPANTEXT*/ } @mmp.Calculated @{ /*A SPANTEXT-end*/ }@{ /*IUCN HELPERTEXT*/ }</span>
        }
        else{
            @if (tag == "C1")
            {
                <span>@{ /*C1 SPANTEXT*/ } @mmp.Calculated @{ /*C1 SPANTEXT-end*/ }@{ /*IUCN HELPERTEXT*/ }</span>
            }
            @if (tag == "C2")
            {
<span> @{ /*C2 SPANTEXT*/ }@* @FormatNumber(mmp.Calculated)*@ @{ /*C2 SPANTEXT-end*/ }@{ /*IUCN HELPERTEXT*/ }</span>
            }
        }
    }
    else
    {
        <div class="parameters">
            @if (!string.IsNullOrEmpty(mmp.Min))
            {
                @* <div>- minimum: @FormatNumber(mmp.Min) individer</div>*@
            }

            @if (!string.IsNullOrEmpty(mmp.Probable))
            {
                @*<div>- mest trolig: @FormatNumber(mmp.Probable) individer</div>*@
            }

            @if (!string.IsNullOrEmpty(mmp.Max))
            {
                @*<div>- maksimum: @FormatNumber(mmp.Max) individer</div>*@
            }
            <span>Hvilket gir beregnet antall, med føre-var forbehold, på: @mmp.Calculated individer</span> <button class="detaljer" onclick="togglePopup('nedgangC')"><img src="/Content/images/help_outline.png" style="height: 18px" alt="Question mark" /></button>
            <div class="popuptext" id="nedgangC">
                <button class="closePopup" onclick="closePopup('nedgangC')"> x </button>
                <div>
                    IUCNs veileder fra 2019 forklarer at usikkerhet i vurderingene skal behandles etter et “føre-var, men realistisk”-prinsipp.
                    Norsk rødliste for arter 2021 benytter en kvantilberegning (0.7-kvantil for prosent reduksjon/nedgang, 0.3-kvantil for øvrige), hvor metoden som ligger til grunn er basert på lineær interpolasjon.
                    På de fleste tallfestede kriteriene har ekspertene angitt minimums- og maksimumstall, eventuelt også mest trolig-tall, og basert på dem beregnes en 0,7 eller 0,3-kvantilverdi. Den beregnede verdien legges så til grunn for terskelverdien på de respektive kriteriene.
                    Eksempel: En reduksjon på A-kriteriet angis til mellom 58 % (min) og 75 % (max). Forskjellen er 75 - 58 = 17 (prosentpoeng). På reduksjon brukes en 0,7-kvantil: 17 x 0,7 = ca. 12.
                    Den beregnede reduksjonen blir dermed 58 + 12 = 70 (prosent).
                </div>
            </div>
        </div>
    }

</p>
    }
    }
    }




</div>