@model SideBarContentViewModel
@{
    string urlSafeScientificName = Model.ScientificName.Replace(" ", "%20");
    string taxon_url = "https://artsdatabanken.no/taxon/" + urlSafeScientificName + "/" + Model.ScientificNameId;
}

<div class="sidebar_image_info">
    <img src="https://design.artsdatabanken.no/list-icons/taxon-icon.png" alt="Logobilde for artssiden"/>
    <br />
    <a href="@taxon_url" class="link-styled">
        Til @Helpers.FixSpeciesLevel("{art}ssiden", Model.TaxonRank)
    </a>

    <div is-visible="@Model.PreviousAssessments.Any()">
        <hr />
        <partial name="/Views/Shared/_Development.cshtml" />
        <hr />
        <partial name="/Views/Shared/_Links.cshtml" />
    </div>

    <hr is-visible="@Model.SpeciesIsOnBannedList"/>
    <h3 is-visible="@Model.SpeciesIsOnBannedList">Forskrift om fremmede organismer</h3>
    <div is-visible="@Model.SpeciesIsOnBannedList">

        <p>Denne arten er oppført på Klima- og miljødepartementets liste over arter det er 
            forbudt å innføre, sette ut og omsette, jf. § 5 og § 9.
        </p>
        <a href="https://lovdata.no/dokument/SF/forskrift/2015-06-19-716#KAPITTEL_9" class="link-styled">
            Forbudslista hos Lovdata.no <span class="material-icons">open_in_new</span>
        </a>
    </div>
</div>
