@model SpeciesAssessment2021
@*

    // WHAT IS THIS



*@
@functions {

    private bool isNotEmpty(string key)
    {
        @if (key != null && key != " " && key != "-" && key != "")
            {
            return true;
            }
        return false;
    }

}



<div class="page_section">

    @if (Model.Category != "NE" && Model.Category != "NA")
    {
        @if (isNotEmpty(Model.ProportionOfMaxPopulation) ||
           isNotEmpty(Model.PercentageEuropeanPopulation) ||
           isNotEmpty(Model.PercentageGlobalPopulation))
        {

            <h3>Informasjon om populasjonsstørrelse </h3>


            @if (isNotEmpty(Model.ProportionOfMaxPopulation))
            {
                <p>
                    <div class="stats_element_container">
                        <span class="stats_element">
                            <span>@Model.ProportionOfMaxPopulation</span>
                        </span>
                    </div>
                    <span class="stats_element_text">
                        @ViewBag.glossary["oneliners"]["AndelNåværendeBestand"]
                    </span>
                </p>
            }
            @if (isNotEmpty(Model.PercentageEuropeanPopulation))
            {
                <p>
                    <div class="stats_element_container">
                        <span class="stats_element">
                            <span>@Model.PercentageEuropeanPopulation</span>
                        </span>
                    </div>
                    <span class="stats_element_text">
                        @ViewBag.glossary["oneliners"]["MaxAndelAvEuropeiskBestand"]
                    </span>
                </p>
            }
            @if (isNotEmpty(Model.PercentageGlobalPopulation))
            {
                <p>
                    <div class="stats_element_container">
                        <span class="stats_element">
                            <span>@Model.PercentageGlobalPopulation</span>
                        </span>
                    </div>
                    <span class="stats_element_text">
                        @ViewBag.glossary["oneliners"]["MaxAndelAvGlobalBestand"]
                    </span>
                </p>
            }
        }
    }
</div>