@model SpeciesAssessment2021
@* SEE example by searching species Carex elata *@

<div class="page_section">

    @if (Model.Category != "NE" && Model.Category != "NA")
    {
        @if ((Model.ProportionOfMaxPopulation != null && Model.ProportionOfMaxPopulation != " "
       && Model.ProportionOfMaxPopulation != "-") || (Model.PercentageEuropeanPopulation != null
       && Model.PercentageEuropeanPopulation != " " && Model.PercentageEuropeanPopulation != "-")
       || (Model.PercentageGlobalPopulation != null && Model.PercentageGlobalPopulation != " "
       && Model.PercentageGlobalPopulation != "-"))
        {

            <h3>Informasjon om populasjonsstørrelse </h3>


            @if (Model.ProportionOfMaxPopulation != null
             && Model.ProportionOfMaxPopulation != " "
             && Model.ProportionOfMaxPopulation != "-")
            {
                <p>
                    <div class="stats_element_container">
                        <span class="stats_element">
                            <span>@Model.ProportionOfMaxPopulation</span>
                        </span>
                    </div>
                    <span class="stats_element_text">
                        @ViewBag.glossary["oneliners"]["AndelNåværendeBestand"]
                    </span>
                </p>
            }
            @if (Model.PercentageEuropeanPopulation != null
              && Model.PercentageEuropeanPopulation != " "
              && Model.PercentageEuropeanPopulation != "-")
            {
                <p>
                    <div class="stats_element_container">
                        <span class="stats_element">
                            <span>@Model.PercentageEuropeanPopulation</span>
                        </span>
                    </div>
                    <span class="stats_element_text">
                        @ViewBag.glossary["oneliners"]["MaxAndelAvEuropeiskBestand"]
                    </span>
                </p>
            }
            @if (Model.PercentageGlobalPopulation != null
              && Model.PercentageGlobalPopulation != " "
              && Model.PercentageGlobalPopulation != "-")
            {                
                <p>
                    <div class="stats_element_container">
                        <span class="stats_element">
                            <span>@Model.PercentageGlobalPopulation</span>
                        </span>
                    </div>
                    <span class="stats_element_text">
                        @ViewBag.glossary["oneliners"]["MaxAndelAvGlobalBestand"]
                    </span>
                </p>
            }
        }
    }
</div>