@model SpeciesAssessment2021
@*

    // WHAT IS THIS



*@
@functions {

    private bool isNotEmpty(string key)
    {
        @if (key != null && key != " " && key != "-" && key != "")
            {
            return true;
            }
        return false;
    }

}



<div class="page_section">

    @if (Model.Category != "NE" && Model.Category != "NA")
    {
        @if (isNotEmpty(Model.ProportionOfMaxPopulation) ||
           isNotEmpty(Model.PercentageEuropeanPopulation) ||
           isNotEmpty(Model.PercentageGlobalPopulation))
        {

            <h3>Hvor stor andel av populasjonene finner vi i Norge?</h3>

            <p>
                Norge er ikke nødvendigvis alene om å ha en art. Men bestanden i Norge utgjør noen ganger en betydelig
                andel av de totale bestanden, som igjen kan påvirke rødlistestatusen.
            </p>

            @if (isNotEmpty(Model.ProportionOfMaxPopulation))
            {
                <p>
                    <div class="stats_element_container">
                        <span class="stats_element">
                            <span>@Model.ProportionOfMaxPopulation</span>
                        </span>
                    </div>
                    <span>@ViewBag.glossary["populationsize"]["AndelNåværendeBestand"]</span>
                </p>
            }
            @if (isNotEmpty(Model.PercentageEuropeanPopulation))
            {
                <p>
                    <span>@Model.PercentageEuropeanPopulation</span>
                    <span>@ViewBag.glossary["populationsize"]["MaxAndelAvEuropeiskBestand"]</span>
                </p>
            }
            @if (isNotEmpty(Model.PercentageGlobalPopulation))
            {
                <p>
                    <span>@Model.PercentageGlobalPopulation</span>
                    <span>@ViewBag.glossary["populationsize"]["MaxAndelAvGlobalBestand"]</span>
                </p>
            }
        }
    }
</div>