@model SpeciesAssessment2021
@* SEE example by searching species Carex elata *@

@{
    SpeciesAssessment2021 assessment = Model;
}


@functions{
    public string categoryDescription(string category)
    {
        // Takes in category as presented in the model
        // uses categoryMatcher to remove degrees etc.
        // Returns name of category (whatever for?)
        var actual_category = category.Substring(0, 2);
        var final_string = @ViewBag.categories[actual_category]["presentationstring"];
        return final_string;
    }
}


<div class="page_section">


    <h2>Historikk</h2>
    <div class="history">
        <h3>Rødlista 2021</h3>
        <partial name="/Views/Shared/_CategoryTags.cshtml" />
    </div>


    @if (Model.YearPreviousAssessment == 2021 || Model.YearPreviousAssessment == 0)
    {
        <span>Arten er vurdert for første gang i 2021.</span>
    }
    else
    {

        @if (!string.IsNullOrWhiteSpace(Model.ImportInfo.Kategori2015))
        {
            <h3>Rødlista 2015</h3>
            <span  class="graphic_element @Model.ImportInfo.Kategori2015">@Model.ImportInfo.Kategori2015</span> 
            <b> @categoryDescription(Model.ImportInfo.Kategori2015)</b> <br />
            <a target="_blank" href="@Model.ImportInfo.Url2015">
                Se vurdering  <span class="material-icons">open_in_new</span>
            </a>


        }

        <br />
        @if (!string.IsNullOrWhiteSpace(Model.ImportInfo.Kategori2010))
        {
            <h3>Rødlista 2010</h3>
            <span  class="graphic_element @Model.ImportInfo.Kategori2010">@Model.ImportInfo.Kategori2010</span>
    <b> @categoryDescription(Model.ImportInfo.Kategori2010)</b><br />
            <a target="_blank" href="@Model.ImportInfo.Url2010">
                Se vurdering  <span class="material-icons">open_in_new</span>
            </a>

        }
        <br />

        <hr />
    }


</div><!-- End section -->