@model SpeciesAssessment2021

@functions{
    public string categoryDescription(string category)
    {
        // Takes in category as presented in the model
        // uses categoryMatcher to remove degrees etc.
        // Returns name of category (whatever for?)
        var actual_category = category.Substring(0, 2);
        var final_string = @ViewBag.categories[actual_category]["presentationstring"];
        return final_string;
    }
}

<h3>Historikk</h3>
<ul class="history_list">

    <li>
        <span class="text_content">
            <h4>2021</h4>
            <partial name="/Views/Shared/_CategoryTags.cshtml" />
            @if (Model.YearPreviousAssessment == 2021 || Model.YearPreviousAssessment == 0)
            {
                <span>Arten er vurdert for første gang i 2021.</span>
            }
        </span>
    </li>

    @foreach (var prev in Model.PreviousAssessments) // tidligere vurderinger
    {
        <li class="withlink">
            <span class="text_content">
                <h4>Rødlista @prev.Year</h4>
                <span class="graphic_element @prev.Category">@prev.Category</span>
                <b> @categoryDescription(prev.Category)</b> 
            </span>
            <a target="_blank" href="@prev.AssessmentUrl">
                Gå til vurdering<span class="material-icons">open_in_new</span>
            </a>
        </li>
    }
</ul>