@model SpeciesAssessment2021
@functions{

    // Snatched and shortened from 2018 nature red list,
    // Not yet ready for use.
    // https://github.com/Artsdatabanken/RodlisteNaturtyper2018visning/blob/2019update/Views/Home/Partials/impact-factors.cshtml

    string ImpactIcon(string id, string subtitle)
    {
        var number = id.Substring(0, 1);
        var biggernumber = id.Substring(0, 3);

        // 0. ingen trussel / no factor  has no image, as it is never displayed.
        if (number == "1")
        {
            // habitat icons are divided further
            number = biggernumber;
        }

        return "https://design.artsdatabanken.no/impact-icons/" + number + ".png";
    }
}

@{ 
    Dictionary<string, Dictionary<string, object>> impactfactors_json = ViewBag.impactfactors.ToObject<Dictionary<string, Dictionary<string, object>>>();

}

<div>
    <h2>Påvirkningsfaktor som vist i JSON. </h2>

    @foreach (var (key,value) in impactfactors_json)
    {
        <p>@key @value["title"] </p>
    }

</div>


<div class="page_section">
    <h2>Påvirkningsfaktorer </h2>

    <p class="fact_box"> @ViewBag.glossary["oneliners"]["Påvirkningsfaktorer"]</p>

    <div class="factors">
        @{foreach (var pfaktor in Model.ImpactFactors)
            {
                <div class="fake_table_header" style=" ":>


                    <div class="stats_element_container">
                        <img src="@ImpactIcon(@pfaktor.Id,@pfaktor.Factor)" class="paavirk" />
                    </div>



                    <div class="stats_element_text topalign">
                        <h3>@pfaktor.GroupingFactor</h3>
                        <b>@pfaktor.Id - @pfaktor.Factor</b>
                        @* todo: se om stien skal brukes, inneholder også toppnivå - kan fjernes under ved å skrive pfaktor.FactorPath.Skip(1)   *@
                        <h5> @string.Join(" > ", pfaktor.FactorPath.Skip(1))</h5>


                    </div>
                </div>


                <div class="fake_table" style=" ">
                    <div>
                        <h3>Omfang</h3>

                        @{

                            var omfang_text = @pfaktor.PopulationScope;
                            var omfang_numbers = "";

                            if (omfang_text.Contains("("))
                            {
                                // Split out the percentages etc. from the main string.
                                // Percentages appear to always be enclosed in "()".
                                omfang_text = omfang_text.Split("(")[0];
                                omfang_numbers = @pfaktor.PopulationScope.Split("(")[1].Replace(")", "");
                            }

                        }
                        <span>@omfang_text</span><br />
                        @if (omfang_text.Contains("("))
                        {
                            <span class="stats_element">
                                <span>@omfang_numbers</span>
                            </span>
                        }


                    </div>
                    <div class="sideborders">
                        <h3>Alvorlighetsgrad</h3>

                        @{
                            var alv_text = @pfaktor.Severity;
                            var alv_perc = "";
                            var alv_numbers = "";

                            if (alv_text.Contains("("))
                            {
                                // Split out the percentages etc. from the main string.
                                // Percentages appear to always be enclosed in "()".
                                alv_text = alv_text.Split("(")[0];
                                alv_perc = @pfaktor.Severity.Split("(")[1].Replace(")", "");
                                if (@pfaktor.Severity.Contains("%"))
                                {
                                    alv_numbers = alv_perc.Split("%")[1];
                                    alv_perc = alv_perc.Split("%")[0] + "%";
                                }
                            }
                        }
                        <span>@alv_text</span><br />
                        @if (@pfaktor.Severity.Contains("("))
                        {
                            <span class="stats_element">
                                <span>@alv_perc</span>
                            </span>
                            <span>@alv_numbers</span>
                        }

                    </div>
                    <div>
                        <h3>Tidspunkt</h3>
                        @pfaktor.TimeScope
                    </div>
                </div>
            }
        }

    </div> <!-- end pavirkningsboks -->
</div> <!-- end factors -->
