@model SpeciesAssessment2021
@*
    // Inclusion Criteria

     1. Oppfølger vurderingen ett av de tre vurderingskriteriene? List opp kriteriene.
    - Alle vurderinger som er satt som rødlistevurdert oppfyller minst et kriterie.
    - Hvilket kriterie som innfris skal listes i EvaluationJustification

    2. Vurderinger som IKKE innfrir et av vurderingskriteriene skal sammenfalle med ikkevurderte arter

    4. For de ikkevurderte finnes det egne forklaringer. Feltet markert i AssessmentInitialClassification bestemmer hvilken
        som er relevant der det er flere. Aldri gi ut andre forklaringer enn den det tilhører.

    // TODO: MANGLER SJEKKER FOR OM TiNG FAKTISK FINNES I GLOSSARY
    // TODO: LINK TIL INFOSIDE OM INKLUDERING som er up-to-date. 

    string direkteSattKategori = "Denne arten har fått sin kategori satt direkte";

    if (@Model.AssessmentInitialClassification == "rodlisteVurdertArt")
    {
        // Only the ones mentioned above are actually fully evaluated. Any else have directly set category.
        // But as that also is considered an evaluation, this has no impact on other data presented.
        // Optimally this could have been used to hide/show areas, but stricter hiding is often necessary.
    
        direkteSattKategori = "Dette arten har fått sin kategori etter en full vurdering mot alle kriteriene .";
    }

*@

@{



    string heading = "";
    string inclusion = "";
    string reason_heading = "";
    string reason_description = "";

    if (@Model.AssessmentInitialClassification == "rodlisteVurdertArt" ||
        @Model.AssessmentInitialClassification == "utdoddINorgeRE" ||
        @Model.AssessmentInitialClassification == "sikkerBestandLC" ||
        @Model.AssessmentInitialClassification == "storUsikkerhetOmKorrektKategoriDD")
    {
        heading = @ViewBag.glossary["inkluderingskriterier"]["hvorfor"]["title"];
        inclusion = @ViewBag.glossary["inkluderingskriterier"]["hvorfor"]["description"];
        if (!string.IsNullOrEmpty(Model.EvaluationJustification))
        {
            reason_heading = @ViewBag.glossary["inkluderingskriterier"][Model.EvaluationJustification]["title"];
            reason_description += @ViewBag.glossary["inkluderingskriterier"][Model.EvaluationJustification]["description"];
        }
        else
        {
            inclusion += @ViewBag.glossary["inkluderingskriterier"]["hvorfor"]["else"];
        }
    }
    else if (Model.AssessmentInitialClassification == "fremmedArtNA" ||
        Model.AssessmentInitialClassification == "begrensetForekomstNA" ||
        Model.AssessmentInitialClassification == "kunnskapsStatusNE")
    {
        heading = @ViewBag.glossary["inkluderingskriterier"]["hvorforikke"]["title"];
        inclusion = @ViewBag.glossary["inkluderingskriterier"]["hvorforikke"]["description"];

        if (Model.AssessmentInitialClassification == "fremmedArtNA")
        {
            reason_heading = @ViewBag.glossary["inkluderingskriterier"][Model.AssessmentInitialClassification]["title"];
            reason_description += @ViewBag.glossary["inkluderingskriterier"][Model.AssessmentInitialClassification]["description"];
        }
        else if (Model.AssessmentInitialClassification == "begrensetForekomstNA")
        {
            if (!string.IsNullOrEmpty(Model.RationaleNotApplicable))
            {
                reason_heading = @ViewBag.glossary["inkluderingskriterier"][Model.RationaleNotApplicable]["title"];
                reason_description += @ViewBag.glossary["inkluderingskriterier"][Model.RationaleNotApplicable]["description"];
            }
        }
        else if (Model.AssessmentInitialClassification == "kunnskapsStatusNE")
        {

            if (!string.IsNullOrEmpty(Model.RationaleNotEvaluated))
            {
                reason_heading = @ViewBag.glossary["inkluderingskriterier"][Model.RationaleNotEvaluated]["title"];
                reason_description += @ViewBag.glossary["inkluderingskriterier"][Model.RationaleNotEvaluated]["description"];
            }
        }
        else
        {
            inclusion = @ViewBag.glossary["inkluderingskriterier"]["hvorforikke"]["description"];
            inclusion += @ViewBag.glossary["inkluderingskriterier"]["hvorforikke"]["else"];
        }
    }
}

<div class="page_section inclusion_section">
    <h3>@heading</h3>
    <a class="button" href="https://www.artsdatabanken.no/Rodliste/NasjonaleTilpasninger">Les mer 
    <span class="material-icons">
        launch
    </span>
    </a>
    <p>@inclusion</p>


    <h4>@reason_heading</h4>
    <p>@Html.Raw(reason_description)</p>
</div>