@model SpeciesAssessment2021
@*
    // Information about the Assessment

    MOST OF THESE FIELDS ARE MISSING MAPPING.
    AWAIT TRANSFORMATION
*@

@{
    SpeciesAssessment2021 assessment = Model;
}

<div class="page_section">

    <!-- FULL VURDERING/LC -->

    @if (@Model.AssessmentInitialClassification == "sikkerBestandLC")
    {
        @*<span>@Html.Raw(@ViewBag.glossary["oneliners"]["vurdert_livskraftig"])</span>*@


    }
    else if (@Model.AssessmentInitialClassification == "rodlisteVurdertArt")
{
@*<span>@ViewBag.glossary["oneliners"]["full_vurdering"]</span>*@
}
else
{


<p>
    <!-- Begrenset forekomst -->
    @if (!string.IsNullOrEmpty(Model.RationaleNotApplicable))
    {
        @if (@Model.RationaleNotApplicable == "ikkeReproduserendeGjestNA")
        {
            <span> @Html.Raw(@ViewBag.glossary["oneliners"]["ikkeReproduserendeGjestNA"])</span>
        }
        else if (@Model.RationaleNotApplicable == "observertReproduserendeIkkeEtablertNA")
   {
    <span> @Html.Raw(@ViewBag.glossary["oneliners"]["observertReproduserendeIkkeEtablertNA"])</span>
}
else if (@Model.RationaleNotApplicable == "observertReproduktivIkkeEtablertNA")
   {
    <span> @Html.Raw(@ViewBag.glossary["oneliners"]["observertReproduktivIkkeEtablertNA"])</span>
}
else if (@Model.RationaleNotApplicable == "uregelmessigGjestIkkeReproduserendeNA")
   {
    <span> @Html.Raw(@ViewBag.glossary["oneliners"]["uregelmessigGjestIkkeReproduserendeNA"])</span>
}
else if (@Model.RationaleNotApplicable == "ikkeDokumentertForekomstNA")
   {
    <span> @Html.Raw(@ViewBag.glossary["oneliners"]["ikkeDokumentertForekomstNA"])</span>
}
else if (@Model.RationaleNotApplicable == "hybridartUtenReproduksjonNA")
   {
    <span> @Html.Raw(@ViewBag.glossary["oneliners"]["hybridartUtenReproduksjonNA"])</span>
}
else if (@Model.RationaleNotApplicable == "hybridartUvisstOmReproduserendeNA")
   {
    <span> @Html.Raw(@ViewBag.glossary["oneliners"]["hybridartUvisstOmReproduserendeNA"])</span>
}
else if (@Model.RationaleNotApplicable == "forekommerBareIHybridkombinasjonNA")
   {
    <span> @Html.Raw(@ViewBag.glossary["oneliners"]["forekommerBareIHybridkombinasjonNA"])</span>
}
}

    <!-- KUNNSKAPSSTATUS -->
    @if (!string.IsNullOrEmpty(Model.RationaleNotEvaluated))
    {
        @if (@Model.RationaleNotEvaluated == "mangelfullKunnskapNE")
        {
            <span> @Html.Raw(@ViewBag.glossary["oneliners"]["mangelfullKunnskapNE"])</span>
        }
        else if (@Model.RationaleNotEvaluated == "uavklartSystematikkNE")
   {
    <span> @Html.Raw(@ViewBag.glossary["oneliners"]["uavklartSystematikkNE"])</span>
}
else if (@Model.RationaleNotEvaluated == "uklartOmReproduserendeBestandNE")
    {
        <span> @Html.Raw(@ViewBag.glossary["oneliners"]["uklartOmReproduserendeBestandNE"])</span>
    }
    else if (@Model.RationaleNotEvaluated == "artsgruppeIkkeRisikovurdertNE")
    {
        <span> @Html.Raw(@ViewBag.glossary["oneliners"]["artsgruppeIkkeRisikovurdertNE"])</span>
    }
    else if (@Model.RationaleNotEvaluated == "annetNE")
    {
        <span> @Html.Raw(@ViewBag.glossary["oneliners"]["annetNE"])</span>
    }
}



    <!-- FREMMEDART -->
    @if (@Model.AssessmentInitialClassification == "fremmedArtNA")
    {
        <span>
            @Html.Raw(@ViewBag.glossary["oneliners"]["fremmedArtNA"])
        </span>
    }

    @if (!string.IsNullOrEmpty(Model.EvaluationJustification))
    {
        @if (assessment.EvaluationJustification == "etablertBestandINorge")
        {
            <span>@Html.Raw(@ViewBag.glossary["oneliners"]["etablertBestandINorge"])</span>
        }
        else if (assessment.EvaluationJustification == "ikkeReproduserendeINorge")
        {
            <span>@Html.Raw(@ViewBag.glossary["oneliners"]["ikkeReproduserendeINorge"])</span>
        }
        else if (assessment.EvaluationJustification == "etablertFør1800")
        {
            <span>@Html.Raw(@ViewBag.glossary["oneliners"]["etablertFør1800"])</span>
        }
    }
</p>

}

</div><!-- End section -->


