@model SpeciesAssessment2021

@* // Section containing numbers for proportions of different population sizes. *@

@functions {
    private bool isNotEmpty(string key)
    {
        @if (key != null && key != " " && key != "-" && key != "" && key != "Helt ukjent")
            {
            return true;
            }
        return false;
    }
}

<div class="page_section populationsize">

    @if (Model.Category != "NE" && Model.Category != "NA")
    {
        @if (isNotEmpty(Model.ProportionOfMaxPopulation) ||
          isNotEmpty(Model.PercentageEuropeanPopulation) ||
          isNotEmpty(Model.PercentageGlobalPopulation))
        {

            <h3>@ViewBag.glossary["populationsize"]["title"]</h3>

            <p>
                @ViewBag.glossary["populationsize"]["description"]
            </p>

            <h4>@ViewBag.glossary["populationsize"]["subtitle"]</h4>

            <ul>
                @if (isNotEmpty(Model.ProportionOfMaxPopulation))
                {
                    <li>
                        <span>@Model.ProportionOfMaxPopulation</span>
                        <span>@ViewBag.glossary["populationsize"]["AndelNåværendeBestand"]</span>
                    </li>
                }
                @if (isNotEmpty(Model.PercentageEuropeanPopulation))
                {
                    <li>
                        <span>@Model.PercentageEuropeanPopulation</span>
                        <span>@ViewBag.glossary["populationsize"]["MaxAndelAvEuropeiskBestand"]</span>
                    </li>
                }
                @if (isNotEmpty(Model.PercentageGlobalPopulation))
                {
                    <li>
                        <span>@Model.PercentageGlobalPopulation</span>
                        <span>@ViewBag.glossary["populationsize"]["MaxAndelAvGlobalBestand"]</span>
                    </li>
                }

            </ul>
        }
    }
</div>