@model SpeciesAssessment2021

@{
    // Add region if missing (region occurrence for the region "Jan Mayen" is sometimes absent while other regions always have data)
    if (Model.RegionOccurrences.All(x => x.Fylke != "Jan Mayen"))
        Model.RegionOccurrences.Add(new SpeciesAssessment2021RegionOccurrence { Fylke = "Jan Mayen", State  = 2 });

    // There seems to be no automatic sorting into different lists from the api and models per now
    // Thus added a quick check if the elements exist.
    // This used to be a big table which was difficult to read on mobile platforms.
    // This may not be an optimal solution, but it is more universal than a checkbox that sometimes is included and sometimes not.

    var has_element = "";
    foreach (var element in Model.RegionOccurrences)
    {
        has_element += element.State;
    }
}

@if (has_element != "")
{ // No content would imply it exists nowhere or is recorded nowhere
<div class="geographic_facts">
    <h3> @ViewBag.glossary["region"]["tagline"]</h3>
    <p> @Html.Raw(@ViewBag.glossary["region"]["description"])</p>

    <h3>Geografisk distribusjon</h3>

    <div class="region_distributions">

        <div class="regionlist">
            <p class="region_list_header">
                <b>Region</b>
                <span class="indicator"></span>
                <b>Forekomst</b>
                @Model.PresumedExtinct
            </p>

            @foreach (var region in Model.RegionOccurrences.OrderBy(x => Helpers.SortedRegions().IndexOf(x.Fylke)).Reverse())
            {
                <span class="region">
                    <p>@region.Fylke</p>
                    <span class="area">
                        @if (region.State == 0)
                        {
                            <i>
                                <span class="indicator">
                                    <span class="indicatorcontent sea known"></span>
                                    <span class="indicatorcontent known"></span>
                                </span>
                                <span>Kjent</span>
                            </i>
                        }
                        else if (region.State == 1)
                        {
                            <i>
                                <span class="indicator">
                                    <span class="indicatorcontent sea presumed"></span>
                                    <span class="indicatorcontent presumed"></span>
                                </span>
                                <span>Antatt</span>
                            </i>
                        }
                        else if (region.State == 2)
                        {
                            <i>
                                <span class="indicator"></span>
                                <span>Ingen</span>
                            </i>
                        }
                        else if (region.State == 3)
                        {
                            <i>
                                <span class="indicator">
                                    <span class="indicatorcontent sea presumed_extinct"></span>
                                    <span class="indicatorcontent presumed_extinct"></span>
                                </span>
                                <span>Antatt Utdødd</span>
                            </i>
                        }
                        else if (region.State == 4)
                        {
                            <i>
                                <span class="indicator">
                                    <span class="indicatorcontent sea extinct"></span>
                                    <span class="indicatorcontent extinct"></span>
                                </span>
                                <span>Utdødd</span>
                            </i>
                        }
                    </span>
                </span>
            }
        </div>

        <div class="map">
            <partial name="/Views/Redlist/Assessment/partials/_Map.cshtml" />
        </div>

    </div>
    <br />
<p class="center-horizontal"><i>En mørkere farge benyttes her for å fremheve landområder</i></p>

</div>
}
