@model SpeciesAssessment2021

@functions{
    public string categoryDescription(string category)
    {
        // Takes in category as presented in the model
        // uses categoryMatcher to remove degrees etc.
        // Returns name of category (whatever for?)
        var actual_category = category.Substring(0, 2);
        var final_string = @ViewBag.categories[actual_category]["presentationstring"];
        return final_string;
    }
}

<h3>Utvikling</h3>
<ul class="history_list">

    @if (Model.AssessmentYear == 2021)
    {
        <li>
            <b class="text_content"> 2021: </b>
            <span class="graphic_element @Model.Category.Substring(0,2)">@Model.Category</span>
            <span class="capitalized"> @categoryDescription(Model.Category)</span>

        </li>
    }

    @foreach (var prev in Model.PreviousAssessments) // tidligere vurderinger
    {
        <li>
            <b class="text_content"> @prev.Year: </b>
            <span class="graphic_element @prev.Category.Substring(0,2)">@prev.Category</span>
            <span class="capitalized"> @categoryDescription(prev.Category)</span>
        </li>
    }
</ul>
