@model SpeciesAssessment2021
@*
    // Inclusion Criteria

     1. Oppfølger vurderingen ett av de tre vurderingskriteriene? List opp kriteriene.
    - Alle vurderinger som er satt som rødlistevurdert oppfyller minst et kriterie.
    - Hvilket kriterie som innfris skal listes i EvaluationJustification

    2. Vurderinger som IKKE innfrir et av vurderingskriteriene skal sammenfalle med ikkevurderte arter

    4. For de ikkevurderte finnes det egne forklaringer. Feltet markert i AssessmentInitialClassification bestemmer hvilken
        som er relevant der det er flere. Aldri gi ut andre forklaringer enn den det tilhører.

    // TODO: LINK TIL INFOSIDE OM INKLUDERING som er up-to-date. 

*@

@{
    string heading = "";
    string inclusion = "";
    string reason_heading = "";
    string reason_description = "";
    string reason = "";
    string initialSubClassificationCode = Model.AssessmentInitialSubClassificationCode.ToString();

    if (new[] {
        SpeciesAssessment2021.InitialClassification.RodlisteVurdertArt,
        SpeciesAssessment2021.InitialClassification.UtdoddINorgeRE,
        SpeciesAssessment2021.InitialClassification.SikkerBestandLC,
        SpeciesAssessment2021.InitialClassification.StorUsikkerhetOmKorrektKategoriDD }
        .Contains(@Model.AssessmentInitialClassificationCode))
    {
        heading = @ViewBag.glossary["inkluderingskriterier"]["hvorfor"]["title"];
        inclusion = @ViewBag.glossary["inkluderingskriterier"]["hvorfor"]["description"];
        reason_heading = @ViewBag.glossary["inkluderingskriterier"][initialSubClassificationCode]["title"];
        reason_description += @ViewBag.glossary["inkluderingskriterier"][initialSubClassificationCode]["description"];
        reason = inclusion + reason_heading + ". " + reason_description;
    }
    else if (new[] {SpeciesAssessment2021.InitialClassification.FremmedArtNA,
        SpeciesAssessment2021.InitialClassification.BegrensetForekomstNA,
        SpeciesAssessment2021.InitialClassification.KunnskapsStatusNE }
.Contains(@Model.AssessmentInitialClassificationCode))
    {
        string title_ending = @ViewBag.glossary["inkluderingskriterier"]["hvorforikke"][Model.Category.Substring(0, 2)];
        heading = @ViewBag.glossary["inkluderingskriterier"]["hvorforikke"]["title"] + title_ending;
        reason_heading = @ViewBag.glossary["inkluderingskriterier"][initialSubClassificationCode]["title"] ;
        reason_description += @ViewBag.glossary["inkluderingskriterier"][initialSubClassificationCode]["description"];
        reason = reason_description ;
    }

    // TO MAKE THIS SMOOTH ON NOT EVALUATED:
    // MAKE HEADING REFLECT CATEGORY NAME
    // DROP THE REASON HEADING
    // ONLY DESCRIPTION
}


<div class="page_section inclusion_section">
    <h3>@Html.Raw(Helpers.FixSpeciesLevel(heading, Model.TaxonRank))</h3>
    <p>@Html.Raw(Helpers.FixSpeciesLevel(reason, Model.TaxonRank))</p>
   
    <a class="link-styled" href="https://artsdatabanken.no/Pages/316561/Nasjonale_tilpasninger">
        Hvilke arter vurderes?
    </a>
</div>

