@model AlienSpeciesListViewModel

@{
    ViewData["Title"] = "Fremmedartslista";
    ViewData["PageMenuHeaderText"] = Constants.AlienSpecies2023PageMenuHeaderText;
    ViewData["PageMenuContentId"] = Constants.AlienSpecies2023PageMenuContentId;
    ViewData["PageMenuExpandButtonText"] = Constants.AlienSpecies2023PageManuExpandButtonText;
    ViewData["CitationString"] = Constants.AlienSpecies2023CitationString;
    ViewData["HeaderText"] = Constants.AlienSpecies2023HeaderText;
    ViewData["HeaderByline"] = Constants.AlienSpecies2023HeaderByline;
    ViewData["Introduction"] = Constants.AlienSpecies2023Introduction;
}

<div class="pagecontainer">
    <partial name="/Views/Shared/_PageMenu.cshtml" />

    <div class="content-placer bigmid">
        <div class="mid-content">
            <div class="title_with_image">
                <div class="title_with_header">
                    <partial name="/Views/Shared/_Header.cshtml" />
                </div>
                <div class="title_with_ingress">
                    <img src="https://design.artsdatabanken.no/list-icons/FA.png" alt="Bilde av en mandarinand" />
                    <partial name="/Views/Shared/_Introduction.cshtml" />
                </div>
            </div>

            <form id="search_and_filter_form" aps-action="" method="get">
                <partial name="/Views/AlienSpecies/2023/ListPartials/_Search.cshtml" />
                @*<partial name="/Views/Redlist/Species/2021/List/partials/_Filters.cshtml" />*@
            </form>

            <div is-visible="@Model.Results.Any()">

                <form>
                    <input asp-for="Parameters.Name" autocomplete="off" placeholder="Søk i @ViewData["Title"]" 2023/>
        
                    <button type="submit">Søk</button>

                    <button type="submit" name="Export" value="true" formtarget="_blank">
                        <span class="material-icons">file_download</span> Eksporter
                    </button>
                </form>

                <ul>
                    @foreach (var item in Model.Results)
                    {
                        <li>
                            <a asp-action="Detail" asp-route-id="@item.Id">
                                @item.Id  @item.EvaluatedScientificName
                            </a>
                        </li>
                    }
                </ul>
            </div>

            <div is-visible="@Model.Results.PageCount > 1">
                <p class="page_count">
                    Viser side @Model.Results.PageNumber av @Model.Results.PageCount.ToString("N0")
                </p>

                @Html.PagedListPager(Model.Results, page => Url.Action("Index", new
                {
                Page = page
                }), new PagedListRenderOptions
                {
                PageClasses = new[] { "page-link" },
                UlElementClasses = new[] { "pagination" },
                LiElementClasses = new[] { "page-item" }
                })
            </div>
            <partial name="/Views/Redlist/Species/2021/List/partials/_Citation.cshtml" />
        </div>
    </div>
</div>
