@model Artsdatabanken.RL2021
@*

    // REFERENCES: https://www.artsdatabanken.no/files/33528

*@

@{
    Artsdatabanken.RL2021 assessment = Model;
    var criteria = @Model.OppsummeringAKriterier;
    var kriterier = Model.Kriterier;
    var criterialist = kriterier.Split(";");
    var keys = @ViewBag.kriterier["criteria"]["keys"];
}

<div class="section">
    <h2>Kriterier</h2>
    <h3> Alle autmatisk utdytta kriterier</h3>
    <h4>Faktiske kriterier:</h4>


    @foreach (var el in criterialist)
    {
        <b>@el</b>
    }
    <br />
    
        @foreach (string element in keys)
        {
<div class="tempsection">
    @{
        var elementname = @ViewBag.kriterier["criteria"][@element];
        var subcriteria = elementname["subcriteria"];
        var suboptions = elementname["options"];
        var currentCriteria = "none";
        foreach (var subsub in criterialist)
        {
            if (subsub.Contains(element))
            {
                currentCriteria = subsub;
            }
        }

        if (currentCriteria.Contains("+"))
        {
            var formatted = "";
            foreach (var splititem in currentCriteria.Split("+"))
            {
                if (splititem.Contains(element))
                {
                    formatted = splititem;
                }
                else
                {
                    formatted = formatted + " AND " + element + splititem;
                }

            }
            currentCriteria = formatted;
        }
    }



    <h2>@element</h2>
    <h2>CURRENTCRITERIA = @currentCriteria</h2>
    <h3>@elementname["summary"]</h3>

    @elementname["description"]
    <hr />
    @elementname["spantext"]
    @elementname["model-variable"]
    @elementname["spantext-end"]
    <br />
  
    <div class="suboptions">
        @if (suboptions != null)
        {
            
            @foreach (string subelement in @suboptions["keys"])
            {
                <div class="element">
           
            @{
                var thesubelement = @ViewBag.kriterier["criteria"][@element]["options"][subelement];
                var optionsClassName = thesubelement;
                var isContained = "none";
                if (currentCriteria.Contains(subelement))
                {
                    isContained = currentCriteria;
                }

            }
            <div class="@optionsClassName">
                <h3> @subelement - @thesubelement["tagline"]</h3>
                @thesubelement["description"]

            </div>
            
        </div>

        }
            
            }
        </div>
           
            <div class="subcriteria">
                @if (subcriteria != null)
                {
                    @foreach (string subelement in @subcriteria["keys"])
                    {

                        <span class="element">
                            @{
                                var thesubelement = @ViewBag.kriterier["criteria"][@element]["subcriteria"][subelement];
                                var className = "nonactive";
                                if (Model.Kriterier.Contains(subelement))
                                {
                                    className = "active";
                                }
                            }
                            <div class="@className">


                                <h3> @subelement - @thesubelement["tagline"]</h3>

                                <b>

                                </b>
                                @thesubelement["description"]<br />
                                <br />
                                <b>Hent ut og fiks<br /></b>
                                @thesubelement["content"]<br />

                                <br />
                                @thesubelement["based-on"]<br />



                            </div>

                        </span>

                    }
                }
            </div>



        </div>
        }

    
</div> <!-- end section -->